﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Divami" />
    <title>Shiksha</title>
    <environment include="Development">
    <link rel="icon" href="~/assets/images/favicon.ico?v=1" sizes="16x16" type="image/x-icon">
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="~/assets/css/aui/aui.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="~/assets/css/bootstrap/bootstrap-custom.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="~/assets/css/bootstrap/bootstrap-table-styles.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="~/assets/css/nav.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="~/assets/css/navbar.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="~/assets/css/custom.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="~/assets/css/shiksha.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="~/assets/css/tooltip.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="~/assets/css/non-responsive.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="~/assets/css/spinner.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="~/assets/css/bootstrap/bootstrap-multiselect.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="~/assets/css/dataTable/buttons.dataTables.min.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="~/assets/css/font-awesome.min.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="~/assets/css/aui/aui-experimental.css" type="text/css" rel="stylesheet" />
    <!--<link href="~/assets/css/new-theme.css" type="text/css" rel="stylesheet" />-->
    <!-- styles -->
    @*<link rel="stylesheet" type="text/css" href="~/assets/css/styles.css">*@
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Gochi+Hand" rel="stylesheet">
    </environment>
</head>
<body class='roboto black-noise'>
    <script>
            (function()
            {
                var svgs = 'login-new'.split(',');
                svgs.forEach(function(svg)
                {
                    // var scripts = document.getElementsByTagName('script');
                    var body = document.body || document.querySelector('body');
                    // var script = scripts[scripts.length - 1];
                    var xhr = new XMLHttpRequest();
                    xhr.onload = function(response)
                    {
                        // If success
                        // srcElement is for chrome and IE
                        // originalTarget is for Firefox
                        var target = response.srcElement || response.originalTarget || response.currentTarget;
                        var statusText = target.statusText.toLowerCase();
                        // If success
                        // statusText will not be "ok" but empty string in ios safari.
                        if (statusText == "ok" || statusText == "")
                        {
                            var div = document.createElement('div');
                            div.innerHTML = this.responseText;
                            div.style.display = 'none';
                            body.insertBefore(div, body.firstChild);
                            // script.parentNode.insertBefore(div, script);
                        }
                    }
                    //xhr.open('get', '~/assets/images/' + svg + '.svg', true);
                    //xhr.send();
                });
            })();
    </script>

    @RenderBody()
        <environment include="Development">
    <script src="~/assets/js/lib/jquery-2.1.1.min.js" type="text/javascript"></script>
    <script src="~/assets/js/bootstrap/bootstrap.min.js"></script>
    <link rel="stylesheet" rel='shortcut icon' type='image/x-icon' href='~/assets/images/favicon.ico' />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="~/assets/css/new-theme.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Gochi+Hand" rel="stylesheet">
    <script src="//aui-cdn.atlassian.com/aui-adg/6.0.6/js/aui.js"></script>
    <script src="//aui-cdn.atlassian.com/aui-adg/6.0.6/js/aui-experimental.js"></script> 
    <script src="~/assets/js/formValidation/formValidation.min.js"></script>
    <script src="~/assets/js/formValidation/bootstrap.min.js"></script>
    <script src="~/assets/js/bootstrap/bootstrap-table.js"></script>
    <script src="~/assets/js/formValidation/jquery.validate.min.js"></script>
    <script src="~/assets/js/masterdata/user/login.js"></script>
    <script>
            //$('select').multiselect();
    </script>
    </environment>
       @RenderSection("Scripts", required: false)
</body>
</html>