﻿
@{
    ViewBag.Title = "CreateProject";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="page">
    <div class="page-wrapper">
        <header class="header ">
            <div class="header-left">
                <a href="" class="logo logo-admin">
                    <img src="../assets/images/admin-logo.svg" />
                </a>
            </div>
            <div class="header-right">
                <div class="download-options header-nav-link html-click">
                    <div class="download-icon">
                        <svg>
                            <use xlink:href="#download" href="#download"></use>
                        </svg>
                    </div>
                    <ul class="menu-actions download-menu-actions">
                        <li href="#" class="menu-item">
                            <a href="#">Desktop</a>
                        </li>
                        <li href="#" class="menu-item">
                            <a href="#">Tablet</a>
                        </li>
                        <li href="#" class="menu-item">
                            <a href="#">Mobile</a>
                        </li>
                    </ul>
                </div>
                <div class="header-nav-link lang-change-icon active">
                    <svg>
                        <use xlink:href="#hindi-lang-toggle" href="#hindi-lang-toggle"></use>
                    </svg>
                    <svg>
                        <use xlink:href="#english-lang-toggle" href="#english-lang-toggle"></use>
                    </svg>
                </div>
                <div class="lms-notification-options header-nav-link html-click">
                    <div class="notifications-icon">
                        <svg>
                            <use xlink:href="#notification" href="#notification"></use>
                        </svg>
                        <div class="notifications-count">3</div>
                    </div>
                    <div class="menu-actions notifications-menu-items">
                        <div class="notifications-menu-items-header lms-side-center-far">
                            <div class="notifications-header">Notifications (2)</div>
                            <div class="lms-clear-all-icon" title="Clear All">
                                <svg>
                                    <use xlink:href="#clear-all" href="#clear-all"></use>
                                </svg>
                            </div>
                        </div>
                        <ul class="notifications-menu-items-list">
                            <li class="menu-item">
                                <a href="#" class="notification-item lms-unread">
                                    <div class="lms-notification-img">
                                        <img class="lms-notification-large-img" src="../assets/images/notifications/profile.png" alt="notification image" />
                                    </div>
                                    <div class="lms-notification-detail-section">
                                        <div class="lms-notification-detail"> Chauhan has raised an IT ticket - SC0824 </div>
                                        <div class="lms-notification-date">8 mins ago</div>
                                    </div>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="#" class="notification-item">
                                    <div class="lms-notification-img">
                                        <img class="lms-notification-small-img" src="../assets//images/notifications/schools-icon.svg" alt="notification image" />
                                    </div>
                                    <div class="lms-notification-detail-section">
                                        <div class="lms-notification-detail"> The Khaitan school, content updated successfully </div>
                                        <div class="lms-notification-date">1 day ago</div>
                                    </div>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="#" class="notification-item">
                                    <div class="lms-notification-img">
                                        <img class="lms-notification-small-img" src="../assets//images/notifications/upload-to-web.svg" alt="notification image" />
                                    </div>
                                    <div class="lms-notification-detail-section">
                                        <div class="lms-notification-detail"> Error in downloading content from web </div>
                                        <div class="lms-notification-date">1 day ago</div>
                                    </div>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="#" class="notification-item lms-no-notification-image">
                                    <!--<div class="lms-notification-img">
                                        <img class="lms-notification-small-img" src="../assets//images/notifications/upload-to-web.svg" alt="notification image" />
                                    </div>-->
                                    <div class="lms-notification-detail-section">
                                        <div class="lms-notification-detail"> This is one read notifications, which doesn't have any image on the left.. </div>
                                        <div class="lms-notification-date">2 days ago</div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <div class="lms-notification-view-all">
                            <a href="#" class="lms-notification-view-all-link">View All</a>
                        </div>
                    </div>
                </div>
                <div class="header-nav-link profile-section html-click">
                    <div class="profile-img-section">
                        <img class="profile-img" src="../assets/images/avatar.png" />
                    </div>
                    <div class="profile-info-section">
                        <div class="profile-name">Ranveer S</div>
                        <div class="profile-role">admin</div>
                    </div>
                    <div class="profile-more-options-section">
                        <div class="profile-more-option">
                            <svg>
                                <use xlink:href="#dropdown" href="#dropdown"></use>
                            </svg>
                        </div>
                    </div>
                    <ul class="profile-actions menu-actions">
                        <li class="menu-item">
                            <a href="#">Profile</a>
                        </li>
                        <li class="menu-item">
                            <a href="#">Settings</a>
                        </li>
                        <li class="menu-item">
                            <a href="#">Log out</a>
                        </li>
                    </ul>
                </div>
            </div>
        </header>

        <div class="fuelux">
            <!-- campaign wizard container -->
            <div class="container">
                <div class="wizard" data-initialize="wizard" id="createCampaignWizard">
                    <div class="steps-container" id="stepsDiv">
                        <ul class="steps">
                            <li data-step="1" data-name="campaign" class="active"
                                id="campaignStepWiz">
                                <span class="badge">1</span>Project <span class="chevron"></span>
                            </li>
                            <li data-step="2" data-name="schools" id="scoolStepWiz">
                                <span class="badge">2</span>Schools <span class="chevron"></span>
                            </li>
                            <li data-step="3" data-name="template" id="assmentStepWiz">
                                <span class="badge">3</span>Question Paper(s) <span class="chevron"></span>
                            </li>
                        </ul>
                    </div>
                    <div class="actions" id="divAction">
                        <button type="button" class="btn btn-link"
                                id="btnCancel" onclick="fnInvokeCreateCancel();">
                            Cancel
                        </button>
                        <button type="button" class="btn btn-default btn-prev"
                                id="btnPrevious">
                            <span class="glyphicon glyphicon-arrow-left"></span>Prev
                        </button>
                        <button type="button" class="btn btn-default btn-next"
                                data-last="Save" id="btnNext">
                            Next <span class="glyphicon glyphicon-arrow-right"></span>
                        </button>
                    </div>
                    <form id="campaignForm" role="form" action="javascript:void(0);">
                        <div class="step-content" id="stepContentsDiv">
                            <!-- campaignStep -->
                            <div class="step-pane active sample-pane  alert" data-step="1" id="stepPaneDiv1">
                                <div class="col-xs-12">
                                    <div class="col-xs-2"></div>
                                    <div class="col-xs-8">
                                        <div class=" panel panel-default " id="rowDiv1" style="margin:0px;">
                                            <div class="panel-body">
                                                <div class="help-block" style="color: #333;text-align: justify;">
                                                    <dl>
                                                        <dt>Creating a project is done in 3 steps.</dt>
                                                        <ol>
                                                            <li>Choosing a name and setting dates.</li>
                                                            <li>
                                                                Adding the schools that are going to be part of the
                                                                project. Schools should already be defined prior to
                                                                including them in the project. Not sure if the
                                                                school(s) you want are part of the schools in the database?

                                                                <a href="school" target="_blank">
                                                                    Check the school
                                                                    listing here
                                                                </a>.

                                                            </li>
                                                            <li>
                                                                Adding Question Paper(s) to the project. Question Papers should
                                                                already be defined prior to including them in the Project.
                                                                Not sure if the question paper(s) you want are part of
                                                                the question paper in the database?
                                                                <a href="assessment" target="_blank">
                                                                    Check the
                                                                    Question papers listing here
                                                                </a>.
                                                            </li>
                                                        </ol>
                                                    </dl>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-1"></div>
                                </div><br />
                                <div class="col-xs-12">
                                    <div class="col-xs-2"></div>
                                    <div class="form-group col-xs-5" id="divCampaignName" style="margin-bottom: 6px;">
                                        <label class="control-label" for="txt_campaignName"><br />Project Name</label> <span class="asterisk">*</span>
                                        <input type="text" class="form-control" name="campaignName"
                                               data-fv-notempty id="txt_campaignName">
                                    </div>
                                    <div class="form-group  col-xs-3" id="divSelectAcademicYear" style="margin-top: 20px;">
                                        <label class="control-label" for="selectBox_AcademicYear">
                                            Academic
                                            Year
                                        </label> <span class="asterisk">*</span><br />
                                        <select id="selectBox_AcademicYear" class="form-control select"
                                                name="academicYearId" data-fv-notempty data-fv-notempty-message=" "
                                                size="2" onchange="fnSetDateByAcademicYear();">                                                                                       

                                        </select>
                                    </div>
                                    <div class="col-xs-2"></div>
                                </div>



                                <div class="col-xs-12" style=" ">
                                    <div class="col-xs-2"></div>
                                    <div class="col-xs-4 form-group" id="timeLineStartDiv">
                                        <label class="control-label" for="startDate">Start Date</label>                                        
                                    </div>

                                    <div class="col-xs-4 form-group" id="timeLineEndDiv">
                                        <label class="control-label" for="endDate">End Date</label> <span class="asterisk">*</span>                                        
                                        <small class="help-block" id="endDateMsg" style="display: none;">End Date can not be less than Start Date.</small>

                                    </div>
                                    <div class="col-xs-1"></div>
                                </div>
                            </div>
                            <!-- //campaignStep -->
                            <!-- schoolsStep -->
                            <div class="step-pane sample-pane  alert" data-step="2"
                                 id="stepContentDiv2">
                                <br />
                                <div class="col-xs-12">
                                    <div class="row" style="margin-top: -30px;">
                                        <div class="col-xs-3">
                                            <h3 style="display: block; margin: 7px;">Schools</h3>
                                        </div>
                                        <div class="col-xs-9">

                                            <button type="button" class="btn btn-primary pull-right" data-toggle="modal"
                                                    data-target="#mdlAddSchoolForCamp" id="btnAddCampaignSchool" onclick="getSchoolTypeAndLoc();"
                                                    style="display: block;margin-bottom: 5px;">
                                                Select School(s) for Project
                                            </button>

                                        </div>
                                        <div class="col-xs-12">
                                            <div class="col-xs-3"></div>
                                            <div class="col-xs-9" style="text-align: right; padding-right: 0px;">
                                                Didn't find the school you are looking for?<a href="school" target="_blank"> Add new school.</a>

                                            </div>
                                        </div>
                                    </div>

                                    <hr style="margin-top: 5px;" />
                                    <!-- schoolTable -->
                                    <div class="col-xs-12 col-left-padding col-right-padding" style="margin:0 0 10px 0;">
                                        <div class="col-xs-12 aui-message aui-message-hint" style="" id="divInfo">

                                            <p><span id="info" style="margin-top:0px;margin-bottom:0px;">PS: Only those schools that have students in the database would show up to be eligible for inclusion in Projects.</span></p>
                                        </div>
                                    </div>
                                    <!-- <div class="col-xs-12">
                                        <button type="button" class="btn btn-link pull-left" id="btnDeleteAllCampaignSchool" onclick="fnDeleteAllSchools();"
                                        style="display: none; margin-left: -26px;">Delete selected schools</button>
                                </div> -->
                                    <div class="row" style="margin-top: -15px;">
                                        <div class="col-xs-12" id="divSchool">
                                            <table class="table table-bordered table-striped table-hover table-bordered table-condensed not-autowidth"
                                                   id="campaignSchoolTable">
                                                <thead>
                                                    <tr>
                                                        <!-- <th class='nosort' style="width: 40px">#</th> -->
                                                        <th style="text-align: center;vertical-align: middle !important;" id="h1" class='nosort'><input class='chkboxDelAllSchool' type="checkbox" onchange="fnInvokeSelectAllDeleteSchool();" id="chkboxSelectAllDelSchool"></input></th>
                                                        <th>State</th>
                                                        <th>District</th>
                                                        <th>City</th>
                                                        <th>Village</th>
                                                        <th>School</th>
                                                        <th class='nosort' style="width: 60px">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <!--// schoolTable -->
                                </div>
                            </div>
                            <!-- //schoolStep -->


                            <div class="step-pane sample-pane  alert" data-step="3"
                                 id="stepContentDiv3">
                                <br />
                                <div class="col-xs-12">
                                    <div class="row" style="margin-top: -30px;">
                                        <div class="col-xs-3">
                                            <h3 style="display: block; margin: 0px;">Question Papers</h3>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top: -30px;">
                                        <div class="col-xs-12 ">
                                            <div class="row">
                                                <div class="col-xs-7"></div>
                                                <div class="col-xs-3">
                                                    <button type="button" class="btn btn-primary" onclick="initAssessment();"
                                                            id="btnAddAssessment" style="display: block; margin-bottom: 5px;">
                                                        Select Question Paper(s)
                                                    </button>
                                                </div>
                                                <div class="col-xs-2">
                                                    <a href="assessment/project" target="_blank" type="button" class="btn btn-primary pull-right">Create New Question Paper</a>
                                                </div>

                                            </div>
                                        </div>                                        

                                    </div>
                                    <hr style="margin-top: 5px;" />                                    
                                    <div class="row" style="margin-top: -15px; ">
                                        <div class="col-xs-12" id="divSchool">
                                            <table class="table table-bordered table-striped table-hover table-bordered table-condensed not-autowidth"
                                                   id="campaignAssessmentTable">
                                                <thead>
                                                    <tr>                                                        
                                                        <th style="text-align: center;vertical-align: middle !important;" id="h1" class='nosort'><input class='chkboxDelAllAssmnt' type="checkbox" onchange="fnInvokeSelectAllDeleteAssmnt();" id="chkboxSelectAllDelAssmnt"></input></th>
                                                        <th>Grade</th>
                                                        <th>Subject</th>
                                                        <th>Chapter</th>
                                                        <th>Stage</th>
                                                        <th>Source</th>
                                                        <th>Question Paper</th>
                                                        <th>Version</th>
                                                        <th>Last Modified Date</th>                                                        
                                                        <th class='nosort' style="width: 60px;">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                    </div>                            
                                </div>
                            </div>
                            
                        </div>
                        <div class="actions pull-right downbtnNext-campaignAdd" id="divAction" hidden="true">

                            <button type="button" class="btn btn-default btn-prev"
                                    id="btnPrevious" disabled="disabled">
                                <span class="glyphicon glyphicon-arrow-left"></span> Prev
                            </button>
                            <button type="button" class="btn btn-default" data-last="Save"
                                    id="btnDownNext">
                                Next <span class="glyphicon glyphicon-arrow-right"></span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>            
        </div> 

    </div>
</div>

<script src="../assets/js/lib/fuelux/fuelux.min.js"></script>
<script src="../assets/js/lib/fuelux/moment.js"></script>
