﻿
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<div class="page">
    <div class="page-wrapper">
        <header class="header ">
            <div class="header-left">
                <a href="" class="logo logo-admin">
                    <img src="../assets/images/admin-logo.svg" />
                </a>
            </div>
            <div class="header-right">
                <div class="download-options header-nav-link html-click">
                    <div class="download-icon">
                        <svg>
                            <use xlink:href="#download" href="#download"></use>
                        </svg>
                    </div>
                    <ul class="menu-actions download-menu-actions">
                        <li href="#" class="menu-item">
                            <a href="#">Desktop</a>
                        </li>
                        <li href="#" class="menu-item">
                            <a href="#">Tablet</a>
                        </li>
                        <li href="#" class="menu-item">
                            <a href="#">Mobile</a>
                        </li>
                    </ul>
                </div>
                <div class="header-nav-link lang-change-icon active">
                    <svg>
                        <use xlink:href="#hindi-lang-toggle" href="#hindi-lang-toggle"></use>
                    </svg>
                    <svg>
                        <use xlink:href="#english-lang-toggle" href="#english-lang-toggle"></use>
                    </svg>
                </div>
                <div class="lms-notification-options header-nav-link html-click">
                    <div class="notifications-icon">
                        <svg>
                            <use xlink:href="#notification" href="#notification"></use>
                        </svg>
                        <div class="notifications-count">3</div>
                    </div>
                    <div class="menu-actions notifications-menu-items">
                        <div class="notifications-menu-items-header lms-side-center-far">
                            <div class="notifications-header">Notifications (2)</div>
                            <div class="lms-clear-all-icon" title="Clear All">
                                <svg>
                                    <use xlink:href="#clear-all" href="#clear-all"></use>
                                </svg>
                            </div>
                        </div>
                        <ul class="notifications-menu-items-list">
                            <li class="menu-item">
                                <a href="#" class="notification-item lms-unread">
                                    <div class="lms-notification-img">
                                        <img class="lms-notification-large-img" src="../assets/images/notifications/profile.png" alt="notification image" />
                                    </div>
                                    <div class="lms-notification-detail-section">
                                        <div class="lms-notification-detail"> Chauhan has raised an IT ticket - SC0824 </div>
                                        <div class="lms-notification-date">8 mins ago</div>
                                    </div>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="#" class="notification-item">
                                    <div class="lms-notification-img">
                                        <img class="lms-notification-small-img" src="../assets//images/notifications/schools-icon.svg" alt="notification image" />
                                    </div>
                                    <div class="lms-notification-detail-section">
                                        <div class="lms-notification-detail"> The Khaitan school, content updated successfully </div>
                                        <div class="lms-notification-date">1 day ago</div>
                                    </div>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="#" class="notification-item">
                                    <div class="lms-notification-img">
                                        <img class="lms-notification-small-img" src="../assets//images/notifications/upload-to-web.svg" alt="notification image" />
                                    </div>
                                    <div class="lms-notification-detail-section">
                                        <div class="lms-notification-detail"> Error in downloading content from web </div>
                                        <div class="lms-notification-date">1 day ago</div>
                                    </div>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="#" class="notification-item lms-no-notification-image">
                                    <!--<div class="lms-notification-img">
                                        <img class="lms-notification-small-img" src="../assets//images/notifications/upload-to-web.svg" alt="notification image" />
                                    </div>-->
                                    <div class="lms-notification-detail-section">
                                        <div class="lms-notification-detail"> This is one read notifications, which doesn't have any image on the left.. </div>
                                        <div class="lms-notification-date">2 days ago</div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <div class="lms-notification-view-all">
                            <a href="#" class="lms-notification-view-all-link">View All</a>
                        </div>
                    </div>
                </div>
                <div class="header-nav-link profile-section html-click">
                    <div class="profile-img-section">
                        <img class="profile-img" src="../assets/images/avatar.png" />
                    </div>
                    <div class="profile-info-section">
                        <div class="profile-name">Ranveer S</div>
                        <div class="profile-role">admin</div>
                    </div>
                    <div class="profile-more-options-section">
                        <div class="profile-more-option">
                            <svg>
                                <use xlink:href="#dropdown" href="#dropdown"></use>
                            </svg>
                        </div>
                    </div>
                    <ul class="profile-actions menu-actions">
                        <li class="menu-item">
                            <a href="#">Profile</a>
                        </li>
                        <li class="menu-item">
                            <a href="#">Settings</a>
                        </li>
                        <li class="menu-item">
                            <a href="#">Log out</a>
                        </li>
                    </ul>
                </div>
            </div>
        </header>
        <main class="main-content">
            <div>
                <ol class="breadcrumb">
                    <li class="active"><a href="@Url.Action("Dashboard","Home")">Home</a></li>
                    <li class="active">Projects</li>
                </ol>

            </div>
            <div class="lms-heading-section">
                <div class="heading-left">
                    <a href="#" class="back-nav">
                        <svg>
                            <use xlink:href="#back" href="#back"></use>
                        </svg>
                    </a>
                    <div class="sub-heading items-heading">Projects</div>
                </div>
                <div class="projects-heading-right heading-right">
                    <label class="search-section">
                        <div class="search-icon">
                            <svg>
                                <use xlink:href="../assets/images/projects.svg#search" href="../assets/images/projects.svg#search"></use>
                            </svg>
                        </div>
                        <div class="search-text action-text">
                            <input class="search-txt-input" type="text" placeholder="Search" />
                        </div>
                    </label>
                    <a class="create-projects-section create-items-section" href="@Url.Action("CreateProject","Project")">
                        <div class="create-projects-icon create-item-icon">
                            <svg>
                                <use xlink:href="../assets/images/projects.svg#add" href="../assets/images/projects.svg#add"></use>
                            </svg>
                        </div>

                        <div class="create-item-text action-text">Create Projects</div>

                    </a>
                </div>
            </div>
            <div class="projects-cards">
                <div class="project-card">
                    <div class="project-card-top">
                        <div class="progress-graph">
                            <div class="semi-progress" style="stroke-dasharray: 0 0 146px;">
                                <svg>
                                    <use xlink:href="#semi-progress" href="../assets/images/all.svg#semi-progress"></use>
                                </svg>
                            </div>
                            <div class="progress-status">
                                <div class="progress-number">20%</div>
                                <div class="progress-status-text">in-progress</div>
                            </div>
                            <div class="subject-test">Maths Final Test</div>
                            <div class="subject-test-period">10 Feb, 2017 - 17 Feb, 2017</div>
                        </div>
                        <div class="project-card-actions">
                            <a class="edit-project-action project-action-icon " href="#" onclick="loadEditcampaignPage('${campaign.campaignId}'); return false;" id="btnCampaignEdit">
                                <div class="edit-project-icon">
                                    <svg>
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../assets/images/projects.svg#project-edit" href="../assets/images/projects.svg#project-edit"></use>
                                    </svg>
                                </div>
                                <div class="edit-project-text">Launch/Edit Project</div>
                            </a>

                            <a class="plan-assessment-action project-action-icon " href="assessmentplanner/$" id="redirectToPlanAssmnt$">
                                <div class="plan-assessment-icon">
                                    <svg>
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../assets/images/projects.svg#plan-assessment" href="../assets/images/projects.svg#plan-assessment"></use>
                                    </svg>
                                </div>
                                <div class="plan-assessment-text">Plan Assessment</div>
                            </a>

                            <a class="edit-project-action project-action-icon" id="getComment$" onclick='getCommentCampaign("${campaign.campaignId}","${campaign.campaignName}");'>
                                <div class="edit-project-icon">
                                    <svg>
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../assets/images/content-logs.svg#comments" href="../assets/images/content-logs.svg#comments"></use>
                                    </svg>
                                </div>
                                <div class="edit-project-text">Comments</div>
                            </a>

                        </div>
                    </div>
                    <div class="project-card-bottom">
                        <a href="#" class="project-card-text-section">
                            <div class="project-card-text-left highlight-text">12</div>
                            <div class="project-card-text-right">QUESTION PAPERS</div>
                        </a>
                        <div class="project-card-text-section">
                            <div class="project-card-text-left highlight-text">01</div>
                            <div class="project-card-text-right">SCHOOLS</div>
                        </div>
                        <div class="project-card-text-section">
                            <div class="project-card-text-left highlight-text">107</div>
                            <div class="project-card-text-right">STUDENTS</div>
                        </div>
                        <a href="#" class="project-card-text-section">
                            <div class="project-card-text-left highlight-text">107</div>
                            <div class="project-card-text-right">COMMENTS</div>
                        </a>
                        <div class="project-card-modified-text"> Last Modified by Jay on 01 Jan </div>
                    </div>
                </div>
                <div class="project-card">
                    <div class="project-card-top">
                        <div class="progress-graph">
                            <div class="semi-progress" style="stroke-dasharray: 0 0 146px;">
                                <svg>
                                    <use xlink:href="#semi-progress" href="#semi-progress"></use>
                                </svg>
                            </div>
                            <div class="progress-status">
                                <div class="progress-number">20%</div>
                                <div class="progress-status-text">in-progress</div>
                            </div>
                            <div class="subject-test">Maths Final Test</div>
                            <div class="subject-test-period">10 Feb, 2017 - 17 Feb, 2017</div>
                        </div>
                        <div class="project-card-actions">
                            <a class="edit-project-action project-action-icon " href="#" onclick="loadEditcampaignPage('${campaign.campaignId}'); return false;" id="btnCampaignEdit">
                                <div class="edit-project-icon">
                                    <svg>
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../assets/images/projects.svg#project-edit" href="../assets/images/projects.svg#project-edit"></use>
                                    </svg>
                                </div>
                                <div class="edit-project-text">Launch/Edit Project</div>
                            </a>

                            <a class="plan-assessment-action project-action-icon " href="assessmentplanner/$" id="redirectToPlanAssmnt$">
                                <div class="plan-assessment-icon">
                                    <svg>
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../assets/images/projects.svg#plan-assessment" href="../assets/images/projects.svg#plan-assessment"></use>
                                    </svg>
                                </div>
                                <div class="plan-assessment-text">Plan Assessment</div>
                            </a>

                            <a class="edit-project-action project-action-icon" id="getComment$" onclick='getCommentCampaign("${campaign.campaignId}","${campaign.campaignName}");'>
                                <div class="edit-project-icon">
                                    <svg>
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../assets/images/content-logs.svg#comments" href="../assets/images/content-logs.svg#comments"></use>
                                    </svg>
                                </div>
                                <div class="edit-project-text">Comments</div>
                            </a>
                        </div>
                    </div>
                    <div class="project-card-bottom">
                        <a href="#" class="project-card-text-section">
                            <div class="project-card-text-left highlight-text">12</div>
                            <div class="project-card-text-right">QUESTION PAPERS</div>
                        </a>
                        <div class="project-card-text-section">
                            <div class="project-card-text-left highlight-text">01</div>
                            <div class="project-card-text-right">SCHOOLS</div>
                        </div>
                        <div class="project-card-text-section">
                            <div class="project-card-text-left highlight-text">107</div>
                            <div class="project-card-text-right">STUDENTS</div>
                        </div>
                        <a href="#" class="project-card-text-section">
                            <div class="project-card-text-left highlight-text">107</div>
                            <div class="project-card-text-right">COMMENTS</div>
                        </a>
                        <div class="project-card-modified-text"> Last Modified by Jay on 01 Jan </div>
                    </div>
                </div>
                <div class="project-card">
                    <div class="project-card-top">
                        <div class="progress-graph">
                            <div class="semi-progress" style="stroke-dasharray: 0 0 146px;">
                                <svg>
                                    <use xlink:href="#semi-progress" href="#semi-progress"></use>
                                </svg>
                            </div>
                            <div class="progress-status">
                                <div class="progress-number">20%</div>
                                <div class="progress-status-text">in-progress</div>
                            </div>
                            <div class="subject-test">Maths Final Test</div>
                            <div class="subject-test-period">10 Feb, 2017 - 17 Feb, 2017</div>
                        </div>
                        <div class="project-card-actions">
                            <a class="edit-project-action project-action-icon " href="#" onclick="loadEditcampaignPage('${campaign.campaignId}'); return false;" id="btnCampaignEdit">
                                <div class="edit-project-icon">
                                    <svg>
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../assets/images/projects.svg#project-edit" href="../assets/images/projects.svg#project-edit"></use>
                                    </svg>
                                </div>
                                <div class="edit-project-text">Launch/Edit Project</div>
                            </a>

                            <a class="plan-assessment-action project-action-icon " href="assessmentplanner/$" id="redirectToPlanAssmnt$">
                                <div class="plan-assessment-icon">
                                    <svg>
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../assets/images/projects.svg#plan-assessment" href="../assets/images/projects.svg#plan-assessment"></use>
                                    </svg>
                                </div>
                                <div class="plan-assessment-text">Plan Assessment</div>
                            </a>

                            <a class="edit-project-action project-action-icon" id="getComment$" onclick='getCommentCampaign("${campaign.campaignId}","${campaign.campaignName}");'>
                                <div class="edit-project-icon">
                                    <svg>
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../assets/images/content-logs.svg#comments" href="../assets/images/content-logs.svg#comments"></use>
                                    </svg>
                                </div>
                                <div class="edit-project-text">Comments</div>
                            </a>
                        </div>
                    </div>
                    <div class="project-card-bottom">
                        <a href="#" class="project-card-text-section">
                            <div class="project-card-text-left highlight-text">12</div>
                            <div class="project-card-text-right">QUESTION PAPERS</div>
                        </a>
                        <div class="project-card-text-section">
                            <div class="project-card-text-left highlight-text">01</div>
                            <div class="project-card-text-right">SCHOOLS</div>
                        </div>
                        <div class="project-card-text-section">
                            <div class="project-card-text-left highlight-text">107</div>
                            <div class="project-card-text-right">STUDENTS</div>
                        </div>
                        <a href="#" class="project-card-text-section">
                            <div class="project-card-text-left highlight-text">107</div>
                            <div class="project-card-text-right">COMMENTS</div>
                        </a>
                        <div class="project-card-modified-text"> Last Modified by Jay on 01 Jan </div>
                    </div>
                </div>
                <div class="project-card">
                    <div class="project-card-top">
                        <div class="progress-graph">
                            <div class="semi-progress" style="stroke-dasharray: 0 0 146px;">
                                <svg>
                                    <use xlink:href="#semi-progress" href="#semi-progress"></use>
                                </svg>
                            </div>
                            <div class="progress-status">
                                <div class="progress-number">20%</div>
                                <div class="progress-status-text">in-progress</div>
                            </div>
                            <div class="subject-test">Maths Final Test</div>
                            <div class="subject-test-period">10 Feb, 2017 - 17 Feb, 2017</div>
                        </div>
                        <div class="project-card-actions">
                            <a class="edit-project-action project-action-icon " href="#" onclick="loadEditcampaignPage('${campaign.campaignId}'); return false;" id="btnCampaignEdit">
                                <div class="edit-project-icon">
                                    <svg>
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../assets/images/projects.svg#project-edit" href="../assets/images/projects.svg#project-edit"></use>
                                    </svg>
                                </div>
                                <div class="edit-project-text">Launch/Edit Project</div>
                            </a>

                            <a class="plan-assessment-action project-action-icon " href="assessmentplanner/$" id="redirectToPlanAssmnt$">
                                <div class="plan-assessment-icon">
                                    <svg>
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../assets/images/projects.svg#plan-assessment" href="../assets/images/projects.svg#plan-assessment"></use>
                                    </svg>
                                </div>
                                <div class="plan-assessment-text">Plan Assessment</div>
                            </a>

                            <a class="edit-project-action project-action-icon" id="getComment$" onclick='getCommentCampaign("${campaign.campaignId}","${campaign.campaignName}");'>
                                <div class="edit-project-icon">
                                    <svg>
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../assets/images/content-logs.svg#comments" href="../assets/images/content-logs.svg#comments"></use>
                                    </svg>
                                </div>
                                <div class="edit-project-text">Comments</div>
                            </a>
                        </div>
                    </div>
                    <div class="project-card-bottom">
                        <a href="#" class="project-card-text-section">
                            <div class="project-card-text-left highlight-text">12</div>
                            <div class="project-card-text-right">QUESTION PAPERS</div>
                        </a>
                        <div class="project-card-text-section">
                            <div class="project-card-text-left highlight-text">01</div>
                            <div class="project-card-text-right">SCHOOLS</div>
                        </div>
                        <div class="project-card-text-section">
                            <div class="project-card-text-left highlight-text">107</div>
                            <div class="project-card-text-right">STUDENTS</div>
                        </div>
                        <a href="#" class="project-card-text-section">
                            <div class="project-card-text-left highlight-text">107</div>
                            <div class="project-card-text-right">COMMENTS</div>
                        </a>
                        <div class="project-card-modified-text"> Last Modified by Jay on 01 Jan </div>
                    </div>
                </div>
                <div class="project-card">
                    <div class="project-card-top">
                        <div class="progress-graph">
                            <div class="semi-progress" style="stroke-dasharray: 0 0 146px;">
                                <svg>
                                    <use xlink:href="#semi-progress" href="#semi-progress"></use>
                                </svg>
                            </div>
                            <div class="progress-status">
                                <div class="progress-number">20%</div>
                                <div class="progress-status-text">in-progress</div>
                            </div>
                            <div class="subject-test">Maths Final Test</div>
                            <div class="subject-test-period">10 Feb, 2017 - 17 Feb, 2017</div>
                        </div>
                        <div class="project-card-actions">
                            <a class="edit-project-action project-action-icon " href="#" onclick="loadEditcampaignPage('${campaign.campaignId}'); return false;" id="btnCampaignEdit">
                                <div class="edit-project-icon">
                                    <svg>
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../assets/images/projects.svg#project-edit" href="../assets/images/projects.svg#project-edit"></use>
                                    </svg>
                                </div>
                                <div class="edit-project-text">Launch/Edit Project</div>
                            </a>

                            <a class="plan-assessment-action project-action-icon " href="assessmentplanner/$" id="redirectToPlanAssmnt$">
                                <div class="plan-assessment-icon">
                                    <svg>
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../assets/images/projects.svg#plan-assessment" href="../assets/images/projects.svg#plan-assessment"></use>
                                    </svg>
                                </div>
                                <div class="plan-assessment-text">Plan Assessment</div>
                            </a>

                            <a class="edit-project-action project-action-icon" id="getComment$" onclick='getCommentCampaign("${campaign.campaignId}","${campaign.campaignName}");'>
                                <div class="edit-project-icon">
                                    <svg>
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../assets/images/content-logs.svg#comments" href="../assets/images/content-logs.svg#comments"></use>
                                    </svg>
                                </div>
                                <div class="edit-project-text">Comments</div>
                            </a>
                        </div>
                    </div>
                    <div class="project-card-bottom">
                        <a href="#" class="project-card-text-section">
                            <div class="project-card-text-left highlight-text">12</div>
                            <div class="project-card-text-right">QUESTION PAPERS</div>
                        </a>
                        <div class="project-card-text-section">
                            <div class="project-card-text-left highlight-text">01</div>
                            <div class="project-card-text-right">SCHOOLS</div>
                        </div>
                        <div class="project-card-text-section">
                            <div class="project-card-text-left highlight-text">107</div>
                            <div class="project-card-text-right">STUDENTS</div>
                        </div>
                        <a href="#" class="project-card-text-section">
                            <div class="project-card-text-left highlight-text">107</div>
                            <div class="project-card-text-right">COMMENTS</div>
                        </a>
                        <div class="project-card-modified-text"> Last Modified by Jay on 01 Jan </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>