﻿
@{
    ViewBag.Title = "Device";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<div class="page">
    <div class="page-wrapper">
        <header class="header ">
            <div class="header-left">
                <a href="" class="logo logo-admin">
                    <img src="../assets/images/admin-logo.svg" />
                </a>
            </div>
            <div class="header-right">
                <div class="download-options header-nav-link html-click">
                    <div class="download-icon">
                        <svg>
                            <use xlink:href="#download" href="#download"></use>
                        </svg>
                    </div>
                    <ul class="menu-actions download-menu-actions">
                        <li href="#" class="menu-item">
                            <a href="#">Desktop</a>
                        </li>
                        <li href="#" class="menu-item">
                            <a href="#">Tablet</a>
                        </li>
                        <li href="#" class="menu-item">
                            <a href="#">Mobile</a>
                        </li>
                    </ul>
                </div>
                <div class="header-nav-link lang-change-icon active">
                    <svg>
                        <use xlink:href="#hindi-lang-toggle" href="#hindi-lang-toggle"></use>
                    </svg>
                    <svg>
                        <use xlink:href="#english-lang-toggle" href="#english-lang-toggle"></use>
                    </svg>
                </div>
                <div class="lms-notification-options header-nav-link html-click">
                    <div class="notifications-icon">
                        <svg>
                            <use xlink:href="#notification" href="#notification"></use>
                        </svg>
                        <div class="notifications-count">3</div>
                    </div>
                    <div class="menu-actions notifications-menu-items">
                        <div class="notifications-menu-items-header lms-side-center-far">
                            <div class="notifications-header">Notifications (2)</div>
                            <div class="lms-clear-all-icon" title="Clear All">
                                <svg>
                                    <use xlink:href="#clear-all" href="#clear-all"></use>
                                </svg>
                            </div>
                        </div>
                        <ul class="notifications-menu-items-list">
                            <li class="menu-item">
                                <a href="#" class="notification-item lms-unread">
                                    <div class="lms-notification-img">
                                        <img class="lms-notification-large-img" src="../assets/images/notifications/profile.png" alt="notification image" />
                                    </div>
                                    <div class="lms-notification-detail-section">
                                        <div class="lms-notification-detail"> Chauhan has raised an IT ticket - SC0824 </div>
                                        <div class="lms-notification-date">8 mins ago</div>
                                    </div>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="#" class="notification-item">
                                    <div class="lms-notification-img">
                                        <img class="lms-notification-small-img" src="../assets//images/notifications/schools-icon.svg" alt="notification image" />
                                    </div>
                                    <div class="lms-notification-detail-section">
                                        <div class="lms-notification-detail"> The Khaitan school, content updated successfully </div>
                                        <div class="lms-notification-date">1 day ago</div>
                                    </div>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="#" class="notification-item">
                                    <div class="lms-notification-img">
                                        <img class="lms-notification-small-img" src="../assets//images/notifications/upload-to-web.svg" alt="notification image" />
                                    </div>
                                    <div class="lms-notification-detail-section">
                                        <div class="lms-notification-detail"> Error in downloading content from web </div>
                                        <div class="lms-notification-date">1 day ago</div>
                                    </div>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="#" class="notification-item lms-no-notification-image">
                                    <!--<div class="lms-notification-img">
                                        <img class="lms-notification-small-img" src="../assets//images/notifications/upload-to-web.svg" alt="notification image" />
                                    </div>-->
                                    <div class="lms-notification-detail-section">
                                        <div class="lms-notification-detail"> This is one read notifications, which doesn't have any image on the left.. </div>
                                        <div class="lms-notification-date">2 days ago</div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <div class="lms-notification-view-all">
                            <a href="#" class="lms-notification-view-all-link">View All</a>
                        </div>
                    </div>
                </div>
                <div class="header-nav-link profile-section html-click">
                    <div class="profile-img-section">
                        <img class="profile-img" src="../assets/images/avatar.png" />
                    </div>
                    <div class="profile-info-section">
                        <div class="profile-name">Ranveer S</div>
                        <div class="profile-role">admin</div>
                    </div>
                    <div class="profile-more-options-section">
                        <div class="profile-more-option">
                            <svg>
                                <use xlink:href="#dropdown" href="#dropdown"></use>
                            </svg>
                        </div>
                    </div>
                    <ul class="profile-actions menu-actions">
                        <li class="menu-item">
                            <a href="#">Profile</a>
                        </li>
                        <li class="menu-item">
                            <a href="#">Settings</a>
                        </li>
                        <li class="menu-item">
                            <a href="#">Log out</a>
                        </li>
                    </ul>
                </div>
            </div>
        </header>
        <div class="">
            <div class="page-header noborder">
                <div>
                    <ol class="breadcrumb">

                        <li class="active"><a href="@Url.Action("Dashboard", "Home")">Home</a></li>
                        <li class="active">Devices</li>
                    </ol>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <h2 class="page-head"><spring:message code="app.menu.device" text="Devices" /></h2>
                    </div>
                    <div class="col-xs-4">
                        
                            <a class="create-items-section pull-right" id="addDeviceBtn" style="margin: 6px 0px;">
                                <div class="create-item-icon">
                                    <svg>
                                        <use xlink:href="web-resources/images/projects.svg#add" href="web-resources/images/projects.svg#add"></use>
                                    </svg>
                                </div>
                                <div class="create-item-text action-text"><spring:message code="device.add" text="Add Device" /></div>
                            </a>
                        
                    </div>
                </div>
            </div>


            <div class="bootstrap-table-custom" id="tableContainer">
                <table id="listDevices" class="aui" style="padding:0px;">
                    <thead>
                        <tr>
                            <th data-field="deviceType" data-sortable="false">Device Type</th>
                            <th data-field="macId" data-sortable="false">MAC address</th>
                            <th data-field="imeiId" data-sortable="false">IMEI No</th>
                            <th data-field="startDate" data-sortable="false">Start Date</th>
                            <th data-field="endDate" data-sortable="false">End Date</th>
                            <th data-field="make" data-sortable="false">Make</th>
                            <th data-field="model" data-sortable="false">Model</th>
                            <th data-field="os" data-sortable="false" data-visible="false">OS</th>
                            <th data-field="serialNumber" data-sortable="false" data-visible="false">Serial</th>
                            <th data-field="assetNumber" data-sortable="false" data-visible="false">Asset</th>
                            <th data-field="desktopAppVersion" data-sortable="false" data-visible="false">Desktop(V)</th>
                            <th data-field="tabletContentAppVersion" data-sortable="false" data-visible="false">Tab Content(V)</th>
                            <th data-field="tabletAssessmentAppVersion" data-sortable="false" data-visible="false">Tab Asset(V)</th>


                            <th data-field="school.schoolName" data-sortable="false">School</th>                            

                            <th data-sortable="false" data-formatter="device.actionFormater">Action</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>

        </div>

    </div>

</div>

