﻿
@{
    ViewBag.Title = "Management";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


<div class="page">
    <div class="page-wrapper">
        <header class="header ">
            <div class="header-left">
                <a href="" class="logo logo-admin">
                    <img src="../assets/images/admin-logo.svg" />
                </a>
            </div>
            <div class="header-right">
                <div class="download-options header-nav-link html-click">
                    <div class="download-icon">
                        <svg>
                            <use xlink:href="#download" href="#download"></use>
                        </svg>
                    </div>
                    <ul class="menu-actions download-menu-actions">
                        <li href="#" class="menu-item">
                            <a href="#">Desktop</a>
                        </li>
                        <li href="#" class="menu-item">
                            <a href="#">Tablet</a>
                        </li>
                        <li href="#" class="menu-item">
                            <a href="#">Mobile</a>
                        </li>
                    </ul>
                </div>
                <div class="header-nav-link lang-change-icon active">
                    <svg>
                        <use xlink:href="#hindi-lang-toggle" href="#hindi-lang-toggle"></use>
                    </svg>
                    <svg>
                        <use xlink:href="#english-lang-toggle" href="#english-lang-toggle"></use>
                    </svg>
                </div>
                <div class="lms-notification-options header-nav-link html-click">
                    <div class="notifications-icon">
                        <svg>
                            <use xlink:href="#notification" href="#notification"></use>
                        </svg>
                        <div class="notifications-count">3</div>
                    </div>
                    <div class="menu-actions notifications-menu-items">
                        <div class="notifications-menu-items-header lms-side-center-far">
                            <div class="notifications-header">Notifications (2)</div>
                            <div class="lms-clear-all-icon" title="Clear All">
                                <svg>
                                    <use xlink:href="#clear-all" href="#clear-all"></use>
                                </svg>
                            </div>
                        </div>
                        <ul class="notifications-menu-items-list">
                            <li class="menu-item">
                                <a href="#" class="notification-item lms-unread">
                                    <div class="lms-notification-img">
                                        <img class="lms-notification-large-img" src="../assets/images/notifications/profile.png" alt="notification image" />
                                    </div>
                                    <div class="lms-notification-detail-section">
                                        <div class="lms-notification-detail"> Chauhan has raised an IT ticket - SC0824 </div>
                                        <div class="lms-notification-date">8 mins ago</div>
                                    </div>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="#" class="notification-item">
                                    <div class="lms-notification-img">
                                        <img class="lms-notification-small-img" src="../assets//images/notifications/schools-icon.svg" alt="notification image" />
                                    </div>
                                    <div class="lms-notification-detail-section">
                                        <div class="lms-notification-detail"> The Khaitan school, content updated successfully </div>
                                        <div class="lms-notification-date">1 day ago</div>
                                    </div>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="#" class="notification-item">
                                    <div class="lms-notification-img">
                                        <img class="lms-notification-small-img" src="../assets//images/notifications/upload-to-web.svg" alt="notification image" />
                                    </div>
                                    <div class="lms-notification-detail-section">
                                        <div class="lms-notification-detail"> Error in downloading content from web </div>
                                        <div class="lms-notification-date">1 day ago</div>
                                    </div>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="#" class="notification-item lms-no-notification-image">
                                    <!--<div class="lms-notification-img">
                                        <img class="lms-notification-small-img" src="../assets//images/notifications/upload-to-web.svg" alt="notification image" />
                                    </div>-->
                                    <div class="lms-notification-detail-section">
                                        <div class="lms-notification-detail"> This is one read notifications, which doesn't have any image on the left.. </div>
                                        <div class="lms-notification-date">2 days ago</div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <div class="lms-notification-view-all">
                            <a href="#" class="lms-notification-view-all-link">View All</a>
                        </div>
                    </div>
                </div>
                <div class="header-nav-link profile-section html-click">
                    <div class="profile-img-section">
                        <img class="profile-img" src="../assets/images/avatar.png" />
                    </div>
                    <div class="profile-info-section">
                        <div class="profile-name">Ranveer S</div>
                        <div class="profile-role">admin</div>
                    </div>
                    <div class="profile-more-options-section">
                        <div class="profile-more-option">
                            <svg>
                                <use xlink:href="#dropdown" href="#dropdown"></use>
                            </svg>
                        </div>
                    </div>
                    <ul class="profile-actions menu-actions">
                        <li class="menu-item">
                            <a href="#">Profile</a>
                        </li>
                        <li class="menu-item">
                            <a href="#">Settings</a>
                        </li>
                        <li class="menu-item">
                            <a href="#">Log out</a>
                        </li>
                    </ul>
                </div>
            </div>
        </header>
        <main class="">
            <div class="shk-collapse-container lms-container has-tab-view">
                <div class="shk-collapse-main bootstrap-table-custom no-fliter">
                    <div>
                        <ol class="breadcrumb">
                            <li class="active"><a href="@Url.Action("Dashboard","Home")">Home</a></li>
                            <li class="active"><a href="@Url.Action("Content","Content")">Contents</a></li>
                            <li class="active">Content Management</li>
                        </ol>
                    </div>
                    <div class="lms-heading-section">
                        <div class="heading-left">
                            <!--<a href="#" class="back-nav">
                            <svg >
                                <use xlink:href="#back" href="#back"></use>
                            </svg>
                            </a>-->
                            <div class="sub-heading items-heading">Content Management</div>
                        </div>
                        <div class="heading-right"> </div>
                    </div>
                    <div class="filter-contianer lms-filter-container" id="conteFilterContainer" style="display:none;">

                        <div class="form-group" id="filter-gradeDiv">
                            <select id="filterBox_grade" data-buttontext="Grades" class="form-control select" name="grade" multiple>                               
                            </select>
                        </div>
                        <div class="form-group" id="filter-subjectDiv">
                            <select id="filterBox_subject" data-buttontext="Subjects" class="form-control select" name="subject" multiple>                                
                            </select>
                        </div>
                        <div class="form-group" id="filter-ViewtDiv">
                            <select id="filterBox_View" data-buttontext="View" class="form-control select" name="view" size="2">
                                <option value="" selected>All</option>                                
                                <option value="awaitingApprovals">Awaiting approvals</option>
                                <option value="rejected">Rejected</option>
                                <option value="unmapped">Unmapped</option>
                            </select>
                        </div>
                        <div class="form-group" id="filter-searchDiv" style="display:none;">
                            <input type="text" class="form-control filter-search" id="filter-search" placeholder="Chapter / Nugget / Segment" style="width: 205px;" />
                        </div>
                        <button class="aui-button aui-button-subtle search-button filter-search-btn" type="button" id="filter-search-btn" original-title="Search for issues"><span class="aui-icon aui-icon-small aui-iconfont-search">Search</span></button>
                       
                    </div>
                    <div class="msg-container" id="warning-msg" style="display:none;"><span>Showing filtered results. Remove filters to see all results. Note that some user actions are not available when viewing search results.</span></div>
                    <div class="bootstrap-table lms-content-manager-tree-view">
                        <table class="aui table table-hover tree-view-table" id="contentTreeView">
                            <thead style="display:none;">
                                <tr>
                                    <th style="width:30%;"></th>
                                    <th style="width:50%;text-align:center;"></th>
                                    <th style="width:20%;"></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>


                
                    <div class="shk-tab-container lms-tab-container">
                        <c:set var="isLogOrUploadPerm" value="true"></c:set>
                        <div class="aui-tabs horizontal-tabs" id="logs-tab-container">
                            <ul class="tabs-menu log-tabs-menu">
                                
                                
                                    <li class="menu-item active-tab">
                                        <a href="#upload">Upload Segments</a>
                                    </li>
                                
                                
                                    <li class="menu-item active-tab">
                                        <a href="#logs">Logs</a>
                                    </li>
                                
                            </ul>
                            
                                <div class="tabs-pane active-pane lms-tab-pane" id="upload">
                                    <div class="drag-drop lms-drag-drop drag-drop-select">
                                        <div id="upload-loader" class="spinner outer-loader" aria-hidden="true" style="display:none;">
                                            <div class="uil-reload-css reload-background reload-small round-spinner" style=""><div></div></div>
                                        </div>
                                        <div class="lms-side-center-mid lms-drag-drop-text-section">
                                            <div class="drag-drop-icon">
                                                <svg>
                                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../assets/images/content-logs.svg#uploadx" href="../assets/images/content-logs.svg#uploadx"></use>
                                                </svg>
                                            </div>
                                            <div>
                                                Drag files here or
                                                <a href="#">Browse</a>
                                            </div>
                                        </div>
                                        <input type="file" class="segement-file" id="segmentFileinput" />
                                    </div>
                                    <div class="switch-main">
                                        <select id="filetypes" class="filetypes" size="2" style="display:none;">
                                            <option value="0" selected>Unmapped</option>
                                            <option value="1">Mapped</option>
                                            <option value="2">Deleted</option>
                                        </select>
                                       
                                        <div style="float:right;margin-top: 4px;"><a class="" id="content-refresh" style="cursor:pointer;"><span class="glyphicon glyphicon-refresh"></span></a></div>
                                        <input type="text" class="search-uploaded search-files" id="search-files" placeholder="Search here..">
                                    </div>
                                    <ul class="segment-files-list"></ul>

                                </div>
                            
                                <div class="tabs-pane lms-tab-panee active-pane" id="logs">

                                    <div style="text-align:right;">
                                        <a class="" id="log-download" style="cursor:pointer;" title="Download Logs">
                                            <!-- <span class="glyphicon glyphicon-download"></span> -->
                                            <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../assets/images/all.svg#download-action" href="../assets/images/all.svg#download-action"></use></svg>
                                        </a>
                                        <a class="" id="log-refresh" style="cursor:pointer;margin-left:10px;">
                                            <span class="glyphicon glyphicon-refresh"></span>
                                        </a>
                                    </div>
                                    <ul id="logs-list">
                                    </ul>
                                </div>                            
                        </div>
                        <div class="lms-content-comment-section" id="comment-container" style="display:none;">
                            <div class="lms-content-comment-heading">
                                <div class="lms-row">
                                    <a class="pull-right lms-content-close-icon" id="close-comments">
                                        <svg>
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../assets/images/content-logs.svg#close" href="../assets/images/content-logs.svg#close"></use>
                                        </svg>
                                    </a>
                                </div>
                                <div class="lms-section-heading" id="comment-main-heading"></div>
                                <div class="lms-content-comment-text"></div>
                                <div class="lms-side-center-far lms-content-comment-small-text">
                                    <div id="comment-main-duration"></div>
                                    <!-- <div class="lms-content-comment-state">Awaiting Approval</div> -->
                                </div>
                            </div>
                            <div class="lms-content-comment-filtering lms-side-center-far" style="display: none;">
                                <div></div>
                                <div>
                                    <select name="" style="display: none;">
                                        <option value="">All Comments</option>
                                    </select><div class="btn-group"><button type="button" class="multiselect dropdown-toggle btn btn-default" data-toggle="dropdown" title="All Comments">All Comments <b class="caret"></b></button><div class="drop-menu-main"><ul class="multiselect-container dropdown-menu"><li class="active"><a href="javascript:void(0);"><label class="radio"><input type="radio" value=""> All Comments</label></a></li></ul></div></div>
                                </div>
                            </div>
                            <div class="lms-content-comments" id="list-comments">


                            </div>
                        </div>
                    </div>
                

            </div>
        </main>



        <div class="lms-content-comment lms-content-comment-text" id="comment-template" style="display:none;">
            <div class="lms-side-center">
                <div class="lms-comment-person-icon">
                    <svg>
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../assets/images/content-logs.svg#user" href="../assets/images/content-logs.svg#user"></use>
                    </svg>
                </div>
                <div id="commenter-name">  </div>
            </div>
            <div id="comment-text"></div>
            <div class="lms-side-center-far">
                <div></div>
                <div class="lms-side-center lms-comment-item-info lms-content-comment-small-text">
                    <div id="comment-date"></div>
                    <div>|</div>
                    <div id="comment-version"></div>
                    <div class="lms-comment-more-icon" style="display:none;">
                        <svg>
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../assets/images/all.svg#more" href="../assets/images/all.svg#more"></use>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



