.navbar-inverse {
	background-color: #006cb7
}

.navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>li>a:hover,
	.navbar-inverse .navbar-nav>li>a:focus {
	background-color: #
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.open>a,
	.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover,
	.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover,
	.navbar-inverse .navbar-nav>.open>a:focus {
	background-color: #005e9f
}

.dropdown-menu {
	background-color: #ffffff
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
	background-color: #ebf2f9 !important;
}

.navbar-inverse {
	background-image: none;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
	background-image: none;
}

.navbar-inverse {
	border-color: #005e9f
}

.navbar-inverse .navbar-brand {
	color: #999999
}

.navbar-inverse .navbar-brand:hover {
	color: #ffffff
}

.navbar-inverse .navbar-nav>li>a {
	color: #f4f4f4
}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus
	{
	color: #ffffff
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.open>a,
	.navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus
	{
	color: #ffffff
}

.navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus
	{
	color: #ffffff
}

.dropdown-menu>li>a {
	color: #333333
}

.dropdown-menu>li>a:focus { /* color: #ffffff */
	
}

ul.multiselect-container.dropdown-menu {
	width: 100%;
}

.navbar-inverse .navbar-nav>.dropdown>a .caret {
	border-top-color: #DEDEDE
}

.navbar-inverse .navbar-nav>.dropdown>a:hover .caret {
	border-top-color: #ffffff
}

.navbar-inverse .navbar-nav>.dropdown>a .caret {
	border-bottom-color: #DEDEDE
}

.navbar-inverse .navbar-nav>.dropdown>a:hover .caret {
	border-bottom-color: #ffffff
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus,
	.navbar-inverse .navbar-nav>.active>a:hover {
	background-color: #005e9f;
	color: #FFF;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover
	{
	background-color: transparent;
}

.navbar-inverse .navbar-toggle {
	border-color: transparent;
}

.hclFooter {
	background: url(../images/hcl.png) no-repeat center center #337aba;
	height: 40px;
	margin-top: 20px;
}

.global_maincontent {
	margin-top: 60px;
}

.page-header {
	margin: 0px 0 20px;
	padding-bottom: 0;
}

/*==2. Multiselect v3.0==*/
.multiselect {
	height: 26px;
	line-height: 26px;
	padding: 0 8px;
	font-size: 12px;
}
/* .multiselect-container > li > a{ white-space: normal;} */
.multiselect-container {
	position: absolute;
	list-style-type: none;
	margin: 0;
	padding: 0
}

.multiselect-container .input-group {
	margin: 5px !important;
}

.multiselect-container>li { /* font-size:12px; */ /* padding:0 */
	
}

.multiselect-container>li>a.multiselect-all label {
	font-weight: 700
}

.multiselect-container>li>label.multiselect-group {
	margin: 0;
	padding: 3px 20px;
	height: 100%;
	font-weight: 700
}

.multiselect-container>li>a {
	padding: 0
}

.multiselect-container>li>a>label {
	margin: 0;
	height: 100%;
	cursor: pointer;
	font-weight: 400;
	padding: 3px 20px 3px 34px
}

.multiselect-container>li>a>label.radio, .multiselect-container>li>a>label.checkbox
	{
	margin: 0;
	line-height: 1.8;
	font-size: 14px;
}

.multiselect-container>li>a>label>input[type=checkbox] {
	margin-bottom: 5px;
	top: 5px;
}

.multiselect-container>li>a>label {
	word-wrap: break-word !important;
	white-space: normal !important;
}

.multiselect-container>li {
	padding: 0 !important;
	/* padding-left: 5px;
	padding-right: 5px; */
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover
	{
	color: #333333;
	background-color: #fff;
}

:not (.filter_column ) >.btn-group button.multiselect.dropdown-toggle.btn.btn-default
	{
	min-width: 250px;
}

.drop-menu-main {
	display: none;
	position: absolute;
	top: 100%;
	padding: 5px;
	z-index: 1000;
	float: left;
	min-width: 160px;
	padding: 5px 0;
	margin: 0px;
	font-size: 14px;
	text-align: left;
	list-style: none;
	background-color: #fff;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, .15);
	border-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	min-width: 250px;
	width: 100%;
}

.open>.drop-menu-main, .drop-menu-main .dropdown-menu {
	display: block;
}

.drop-menu-main .multiselect-container {
	position: relative;
}

#addGradeSubjectMapping  .multiselect-container>li.disabled,
	#edit_gradeSubjectMapping  .multiselect-container>li.disabled {
	display: none !important;
}

.btn-group>.btn-group:nth-child(2)>.multiselect.btn {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px
}
/* .form-inline .multiselect-container label.checkbox,.form-inline .multiselect-container label.radio{padding: 0px 20px 0px 40px;} */
/* .form-inline .multiselect-container li a label.checkbox input[type=checkbox],.form-inline .multiselect-container li a label.radio input[type=radio]{margin-left:-40px;margin-right:0} */
.form-inline .multiselect-container li a label.checkbox input[type=checkbox],
	.form-inline .multiselect-container li a label.radio input[type=radio]
	{
	top: 6px;
	left: 10px;
	position: absolute;
	margin: 3px 3px 3px 4px;
}

.form-inline .multiselect-container label.checkbox, .form-inline .multiselect-container label.radio
	{
	/* padding: 0px 5px 0px 15px; */
	
}

.has-success .multiselect-container.dropdown-menu .radio, .has-error .multiselect-container.dropdown-menu .radio
	{
	color: #555753 !important;
}

.has-success .multiselect-container.dropdown-menu .active .radio,
	.has-success .multiselect-container.dropdown-menu li:hover .radio,
	.has-error .multiselect-container.dropdown-menu .active .radio,
	.has-error .multiselect-container.dropdown-menu li:hover .radio {
	color: #707070 !important;
}

.has-success .checkbox, .has-success .checkbox-inline, .has-success .control-label,
	.has-success .help-block, .has-success.checkbox label, .has-success.checkbox-inline label
	{
	color: #000 !important;
}
/* .dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
	background-color: #0C0909 !important;
}
 */

/*==3. DataTables.bootstrap v3.0==*/
div.dataTables_length label {
	font-weight: normal;
	float: left;
	text-align: left;
}

div.dataTables_length select {
	width: 75px;
}

div.dataTables_filter label {
	font-weight: normal;
	float: right;
}

div.dataTables_filter input {
	width: 16em;
}

div.dataTables_info {
	padding-top: 8px;
}

div.dataTables_paginate {
	float: right;
	margin: 5px 0 0;
}

div.dataTables_paginate ul.pagination {
	margin: 2px 0;
	white-space: nowrap;
}

table.dataTable td, table.dataTable th {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

table.dataTable {
	clear: both;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
	max-width: none !important;
}

table.dataTable thead .sorting, table.dataTable thead .sorting_asc,
	table.dataTable thead .sorting_desc, table.dataTable thead .sorting_asc_disabled,
	table.dataTable thead .sorting_desc_disabled {
	cursor: pointer;
}

table.dataTable thead .sorting {
	background: url('../images/sort_both.png') no-repeat center right;
}

table.dataTable thead .sorting_asc {
	background: url('../images/sort_asc.png') no-repeat center right;
}

table.dataTable thead .sorting_desc {
	background: url('../images/sort_desc.png') no-repeat center right;
}

table.dataTable thead .sorting_asc_disabled {
	background: url('../images/sort_asc_disabled.png') no-repeat center
		right;
}

table.dataTable thead .sorting_desc_disabled {
	background: url('../images/sort_desc_disabled.png') no-repeat center
		right;
}

table.dataTable thead>tr>th {
	padding-left: 4px;
	padding-right: 18px;
}

table.dataTable th:active {
	outline: none;
}

div.dataTables_scrollHead table {
	margin-bottom: 0 !important;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

div.dataTables_scrollHead table thead tr:last-child th:first-child, div.dataTables_scrollHead table thead tr:last-child td:first-child
	{
	border-bottom-left-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
}

div.dataTables_scrollBody table {
	border-top: none;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

div.dataTables_scrollBody tbody tr:first-child th, div.dataTables_scrollBody tbody tr:first-child td
	{
	border-top: none;
}

div.dataTables_scrollFoot table {
	margin-top: 0 !important;
	border-top: none;
}

table.table-bordered.dataTable {
	border-collapse: separate !important;
}

table.table-bordered thead th, table.table-bordered thead td {
	border-left-width: 0;
	border-top-width: 0;
}

table.table-bordered tbody th, table.table-bordered tbody td {
	border-left-width: 0;
	border-bottom-width: 0;
}

table.table-bordered th:last-child, table.table-bordered td:last-child {
	border-right-width: 0;
}

div.dataTables_scrollHead table.table-bordered {
	border-bottom-width: 0;
}
/* TableTools styles*/
.table tbody tr.active td, .table tbody tr.active th {
	background-color: #08C;
	color: white;
}

.table tbody tr.active:hover td, .table tbody tr.active:hover th {
	background-color: #0075b0 !important;
}

.table tbody tr.active a {
	color: white;
}

.table-striped tbody tr.active:nth-child(odd) td, .table-striped tbody tr.active:nth-child(odd) th
	{
	background-color: #017ebc;
}

table.DTTT_selectable tbody tr {
	cursor: pointer;
}

div.DTTT .btn {
	color: #333 !important;
	font-size: 12px;
}

div.DTTT .btn:hover {
	text-decoration: none !important;
}

ul.DTTT_dropdown.dropdown-menu {
	z-index: 2003;
}

ul.DTTT_dropdown.dropdown-menu a {
	color: #333 !important;
}

ul.DTTT_dropdown.dropdown-menu li {
	position: relative;
}

ul.DTTT_dropdown.dropdown-menu li:hover a {
	background-color: #0088cc;
	color: white !important;
}

div.DTTT_collection_background {
	z-index: 2002;
}
/* TableTools information display */
div.DTTT_print_info.modal {
	height: 150px;
	margin-top: -75px;
	text-align: center;
}

div.DTTT_print_info h6 {
	font-weight: normal;
	font-size: 28px;
	line-height: 28px;
	margin: 1em;
}

div.DTTT_print_info p {
	font-size: 14px;
	line-height: 20px;
}

div.dataTables_processing {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	height: 40px;
	margin-left: -50%;
	margin-top: -25px;
	padding-top: 20px;
	text-align: center;
	font-size: 1.2em;
	background-color: white;
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255,
		255, 255, 0)), color-stop(25%, rgba(255, 255, 255, 0.9)),
		color-stop(75%, rgba(255, 255, 255, 0.9)),
		color-stop(100%, rgba(255, 255, 255, 0)));
	background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%,
		rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%,
		rgba(255, 255, 255, 0) 100%);
	background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%,
		rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%,
		rgba(255, 255, 255, 0) 100%);
	background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%,
		rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%,
		rgba(255, 255, 255, 0) 100%);
	background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%,
		rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%,
		rgba(255, 255, 255, 0) 100%);
	background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%,
		rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%,
		rgba(255, 255, 255, 0) 100%);
}

.global-rTotal {
	background-color: #b8d5f4;
	font-weight: bold;
}

.global-rTotal td, .global-rTotal th {
	background-color: #b8d5f4 !important;
	font-weight: bold !important;
}
/* FixedColumns styles*/
div.DTFC_LeftHeadWrapper table, div.DTFC_LeftFootWrapper table, div.DTFC_RightHeadWrapper table,
	div.DTFC_RightFootWrapper table, table.DTFC_Cloned tr.even {
	background-color: white;
	margin-bottom: 0;
}

div.DTFC_RightHeadWrapper table, div.DTFC_LeftHeadWrapper table {
	margin-bottom: 0 !important;
	border-top-right-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
}

div.DTFC_RightHeadWrapper table thead tr:last-child th:first-child, div.DTFC_RightHeadWrapper table thead tr:last-child td:first-child,
	div.DTFC_LeftHeadWrapper table thead tr:last-child th:first-child, div.DTFC_LeftHeadWrapper table thead tr:last-child td:first-child
	{
	border-bottom-left-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
}

div.DTFC_RightBodyWrapper table, div.DTFC_LeftBodyWrapper table {
	border-top: none;
	margin: 0 !important;
}

div.DTFC_RightBodyWrapper tbody tr:first-child th, div.DTFC_RightBodyWrapper tbody tr:first-child td,
	div.DTFC_LeftBodyWrapper tbody tr:first-child th, div.DTFC_LeftBodyWrapper tbody tr:first-child td
	{
	border-top: none;
}

div.DTFC_RightFootWrapper table, div.DTFC_LeftFootWrapper table {
	border-top: none;
}
/*FixedHeader styles */
div.FixedHeader_Cloned table {
	margin: 0 !important
}

.tdcaption {
	font-weight: bold;
	padding-top: 4px;
	padding-bottom: 4px;
}

.row-gp {
	padding-bottom: 15px;
}

.col-push-1-5 {
	width: 12.500000000% !important;
}

.col-push-1-5 {
	width: 12.500000000% !important;
}

.col-push-2-5 {
	width: 20.833333333% !important;
}

.col-push-3-5 {
	width: 20.833333333% !important;
}

.col-push-3-5 {
	width: 29.166666666% !important;
}

.col-push-4-5 {
	width: 37.500000000% !important;
}

.col-push-5-5 {
	width: 45.833333333% !important;
}

.col-push-6-5 {
	width: 54.166666666% !important;
}

.col-push-7-5 {
	width: 62.500000000% !important;
}

.col-push-8-5 {
	width: 70.833333333% !important;
}

.col-push-9-5 {
	width: 79.166666666% !important;
}

.col-push-10-5 {
	width: 87.500000000% !important;
}

.font-size12 {
	font-size: 13px;
}

@media ( max-width : 800px) {
	.dataTables_info {
		display: none;
	}
	.dataTables_length {
		display: none;
	}
	.dataTables_wrapper .col-xs-6 {
		width: 100%;
		text-align: left;
	}
	div.dataTables_filter label {
		float: left;
		padding-left: 10px;
		padding-top: 5px;
	}
	.dataTables_filter .form-control {
		width: auto;
		display: inline;
	}
	div.dataTables_paginate {
		float: left;
	}
	.col-push-1-5, .col-push-2-5, .col-push-3-5, .col-push-4-5,
		.col-push-5-5, .col-push-6-5, .col-push-7-5, .col-push-8-5,
		.col-push-9-5, .col-push-10-5 {
		width: 100% !important;
		padding-top: 4px;
		padding-bottom: 4px;
	}
	.row-gp {
		padding-bottom: 0;
	}
}

/* table.dataTable:not(#userSchoolTable):not(#campaignAssessmentTable){
	max-width:1140px !important;
	min-width:932px !important;
} */
table.dataTable:not (.not-autowidth ){
	max-width: 100% !important;
	min-width: 932px !important;
}

table.table-bordered tbody td {
	/* white-space: nowrap; */ /* SHK-561 */
	max-width: 100px;
	overflow: hidden;
	text-overflow: ellipsis;
	word-break: break-word; /* SHK-561 */
	vertical-align: middle;
}

td.dataTables_empty {
	text-align: center !important;
}

.dataTables_empty {
	text-align: center;
}

/* for section list inside table */
td.details-control {
	background: url('../images/details_open.png') no-repeat center center;
	cursor: pointer;
}

tr.shown td.details-control {
	background: url('../images/details_close.png') no-repeat center center;
}

.has-error .control-label, .has-error .help-block, .has-error .form-control-feedback
	{
	color: #cc0000;
}

.has-success .control-label, .has-success .help-block, .has-success .form-control-feedback
	{
	color: #4e9a06;
}

#addSchoolGradeForm .has-success .multiselect-container.dropdown-menu .radio,
	.has-error .multiselect-container.dropdown-menu .radio {
	color: #555753 !important;
}

#addSchoolGradeForm .has-success .multiselect-container.dropdown-menu .active .radio,
	.has-success .multiselect-container.dropdown-menu li:hover .radio,
	.has-error .multiselect-container.dropdown-menu .active .radio,
	.has-error .multiselect-container.dropdown-menu li:hover .radio {
	color: #fff !important;
}

body.modal-open {
	overflow: hidden;
}

.fuelux .datepicker-calendar-days td b, .fuelux .datepicker-calendar-days td button
	{
	height: 23px;
}

.fuelux .datepicker-calendar-days td b {
	line-height: 20px;
}

.fuelux .datepicker-calendar-header .title {
	font-size: 15px;
}

.fuelux .datepicker-calendar-header .next span.glyphicon, .fuelux .datepicker-calendar-header .prev span.glyphicon
	{
	font-size: 13px;
	line-height: 23px;
	margin-top: -2px;
}

.fuelux .datepicker-calendar-header .next, .fuelux .datepicker-calendar-header .prev
	{
	height: 25px;
	width: 25px;
}

.fuelux .datepicker-calendar-days td, .fuelux .datepicker-calendar-days th
	{
	font-size: 12px;
}

.fuelux .datepicker-calendar {
	padding: 8px 8px 0px;
}
/* .dropdown-menu.dropdown-menu-right.datepicker-calendar-wrapper{
	height:252px;
} */
.toggle-col {
	margin-bottom: 10px
}

#userTable table.dataTable {
	min-width: 1142px !important;
	max-width: 1142px !important;
}

#userTable tbody tr {
	background-color: #fff !important;
}

#userTable tbody tr.group {
	background-color: #eaf4ff !important;
}

#addUserForm .has-success .multiselect-container.dropdown-menu .radio,
	.has-error .multiselect-container.dropdown-menu .radio {
	color: #555753 !important;
}

#addUserForm .has-success .multiselect-container.dropdown-menu .active .radio,
	.has-success .multiselect-container.dropdown-menu li:hover .radio,
	.has-error .multiselect-container.dropdown-menu .active .radio,
	.has-error .multiselect-container.dropdown-menu li:hover .radio {
	color: #000 !important;
}

#tblGradeSectionSubjectTeacher tbody tr {
	background-color: #fff !important;
}

#tblGradeSectionSubjectTeacher tbody tr.group {
	background-color: #eaf4ff !important;
}

.dt-buttons {
	margin-left: 60px;
}

.modal {
	text-align: center;
	padding: 0 !important;
	-webkit-user-select: none;
}
/* body.modal-open {
  overflow: inherit;
  padding-right: 0 !important;
} */
.modal:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-right: -4px; /* Adjusts for spacing */
}

.modal-dialog {
	display: inline-block;
	text-align: left;
	vertical-align: middle;
}

.asterisk {
	color: red;
}

.navbar-fixed-bottom, .navbar-fixed-top {
	position: fixed;
	right: 0;
	left: 0;
	z-index: 1030;
	padding-right: inherit;
}

td>ul {
	padding-left: 15px;
}

.setColWidth {
	width: auto !important;
}

.btn-collapse {
	/* margin-top: -2px; */
	
}

.green {
	color: green;
}

.red {
	color: red;
}

#bulkRollNoUpdateTable {
	width: 100% !important;
}

.row-sg {
	margin-right: 22px;
	margin-left: 17px;
}

#notificationPopOver {
	color: #FFFFFF;
}

.navbar-collapse.collapse .popover-container>div {
	top: 30px;
	left: 900px;
	display: block;
	width: 500px;
	max-width: 500px;
}

.navbar-collapse.collapse .popover.fade.bottom.in .popover-content {
	max-height: 500px;
	overflow-y: auto;
	padding-bottom: 50px;
}

.popover-footer {
	margin: 0;
	padding: 8px 14px;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	background-color: #F7F7F7;
	border-bottom: 1px solid #EBEBEB;
	border-radius: 5px 5px 0 0;
}

.downbtnNext-user {
	margin-bottom: 15px !important;
	margin-top: -30px !important;
	margin-right: 15px !important;
}

.downbtnNext-campaignAdd {
	margin-bottom: 15px !important;
	margin-top: 0px !important;
	margin-right: 15px !important;
}

.downbtnNext-campaignEdit {
	margin-bottom: 15px !important;
	margin-top: 0 !important;
	margin-right: 15px !important;
}

#mdlErrorForSchool {
	z-index: 999999;
}

#editUserSchoolConMappingfirmationModal {
	z-index: 999999;
}

#mdlResetLoc {
	z-index: 999999;
}

#mdlError {
	z-index: 999999;
}

#mdlErrorForSchool {
	z-index: 999999;
}

/* css for survey preview popup */
#surveyPreviewPopup .close-survey-preview {
	color: rgb(255, 255, 255);
	z-index: 10000;
	opacity: 1;
	font-size: 35px;
	font-weight: 100;
	float: left;
}

@media only screen and (min-width: 1100px) {
	#editPreviewQuestionPopup .close-edit-preview-question {
		font-size: 25px;
		margin-top: 2%;
		right: 2%;
	}
	#surveyPreviewPopup .close-survey-preview {
		
	}
}

#surveyPreviewPopup #surveypreviewiframe {
	/* border:1px solid; */
	height: 100%;
	width: 100%;
	border-color: rgba(0, 0, 0, 0);
	border: none;
	max-width: 100%;
	max-height: 100%;
	min-width: 350px;
}

#surveyPreviewPopup .modal-body {
	position: absolute;
	display: -webkit-box;
	padding: 0px;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	min-width: 970px;
}

#surveyPreviewPopup .modal-content {
	height: 100%;
	border: none;
	border-radius: 0px;
}

#surveyPreviewPopup .modal-dialog.modal-lg {
	width: 100%;
	margin: 0px;
	height: 100%;
}

#editPreviewQuestionPopup .close, #surveyPreviewPopup .close {
	text-shadow: none;
}

#surveyPreviewPopup .close {
	position: absolute;
	right: 32px;
	top: 15px;
	color: rgb(255, 255, 255);
	z-index: 10000;
	opacity: 1;
	font-size: 35px;
	font-weight: 100;
	float: left;
}

#surveyPreviewPopup #preview-container {
	padding: 0px;
	text-align: center;
	width: 100%;
	height: 100%;
	background-color: #37404a;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-moz-transition: opacity ease-out 300ms;
	-webkit-transition: opacity ease-out 300ms;
	-o-transition: opacity ease-out 300ms;
	transition: opacity ease-out 300ms;
}

.report-dropdown ul.multiselect-container.dropdown-menu {
	width: 12em;
}

.disabledTab {
	pointer-events: none;
}

.total-schools ul.multiselect-container.dropdown-menu {
	width: 9em;
}

/*css for dashboard chart*/
.chart-legend ul {
	list-style-type: square;
	padding-left: 0;
	margin-top: .8em;
	margin-bottom: .8em;
	text-align: left;
	white-space: normal;
}

.chart-legend ul>li:hover {
	cursor: pointer;
}

.text-center {
	text-align: justify;
}

.chart-legend ul>li {
	display: inline-block;
	margin-left: 1em;
	color: #2f2f2f;
	font-size: .8em;
}

.chart-legend li span {
	display: inline-block;
	border-radius: 0px;
	width: 38px;
	height: 12px;
	margin-right: 5px;
}

.strikeme {
	text-decoration: line-through;
}

.strikeout {
	text-decoration: none;
}

.hide-legend {
	opacity: 0;
	pointer-events: none;
}

.navbar-collapse.collapse .popover-container>div {
	width: 440px;
}

.poover-notification {
	padding: 10px 40px 10px 50px;
	margin-top: 5px;
}

ul#cList {
	list-style-type: none;
	padding-left: 0px;
}

.aui-message ul#cList {
	margin-bottom: 0px;
}

.page-head {
	margin-bottom: 0px;
}

.auimesagediv {
	margin-right: -12px;
}

.modal-body  .aui-message {
	margin-bottom: 5px;
}

.loginpage-background {
	background: #f5f5f5;
}

.bulk-student {
	margin-top: 10px;
	margin-right: 17px;
}

.loggedinrole {
	margin-top: 15px !important;
	display: inline-block !important;
	float: right;
	color: #E6E6E6;
}

.editVillage-Form {
	overflow-x: hidden;
	overflow-y: auto;
	height: 460px;
}

table.table-bordered tbody td.tooltip-visible {
	overflow: visible;
}

.multiselect-container .input-group .input-group-addon {
	
}

.drop-menu-main .input-group .input-group-addon {
	position: absolute;
	right: 1px;
	z-index: 11;
	height: 34px;
	width: 35px;
	border-color: transparent;
	background-color: transparent;
	top: 2px;
	padding-left: 0px;
}

.drop-menu-main .input-group {
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 7px;
	width: 100%;
}

.drop-menu-main .input-group input.multiselect-search {
	border-radius: 4px;
	padding-left: 5px;
	padding-right: 25px;
	font-weight: normal;
}

.multiselect-container li .radio input {
	margin-top: 6px;
	margin-left: -17px;
}

/* fliter-container css for tables*/
.filter-contianer>div.form-group {
	display: inline-block !important;
	margin: 0px;
}

.filter-contianer>div.form-group.hide {
	display: none !important;
}

.filter-search-btn {
	height: 34px;
}

.bootstrap-table-custom .fixed-table-container thead th .th-inner,
	.bootstrap-table-custom .fixed-table-container tbody td .th-inner {
	padding: 0px;
	line-height: 20px;
}

.bootstrap-table-custom .table>thead>tr {
	background-color: #fff;
}

.bootstrap-table-custom .bootstrap-table .table {
	border: 0px;
	max-width: auto;
	/* margin-bottom: 50px !important; */
	margin: 0px;
}

.bootstrap-table-custom .fixed-table-container {
	border: 0px;
}

.bootstrap-table-custom .bootstrap-table .table thead>tr>th {
	border-width: 0px;
	border-color: #ccc !important;
	color: #333;
}

.bootstrap-table-custom>table>tbody>tr>td {
	border-width: 0px 0px 1px 0px;
	border-color: #ccc;
	font-size: 14px;
	color: #333;
	padding: 8px !important;
	border-style: solid;
}

.bootstrap-table-custom .fixed-table-pagination {
	margin-top: 10px;
}

.bootstrap-table-custom .table-hover>tbody>tr:hover>td, .table-hover>tbody>tr:hover>th
	{
	background-color: #f5f5f5;
}

.bootstrap-table-custom .fixed-table-toolbar .columns label {
	white-space: nowrap;
}

.bootstrap-table-custom .fixed-table-toolbar .columns .dropdown-menu li:hover
	{
	background-color: #ebf2f9;
}

.pagination {
	margin: 0px;
}

.filter-contianer>div.form-group button.multiselect.dropdown-toggle.btn.btn-default,
	.columns.btn-group .btn {
	border: 1px solid transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
	width: auto;
	max-width: 140px;
	min-width: auto;
}

.filter-contianer>div.form-group.open button.multiselect.dropdown-toggle.btn.btn-default
	{
	border: 1px solid #999;
	background: #e9e9e9;
}

.filter-contianer>div.form-group button.multiselect.dropdown-toggle.btn.btn-default:hover,
	.filter-contianer>div.form-group button.multiselect.dropdown-toggle.btn.btn-default:active,
	.filter-contianer>div.form-group button.multiselect.dropdown-toggle.btn.btn-default:focus,
	.columns.btn-group .btn:hover, .columns.btn-group .btn:active, .columns.btn-group .btn:focus,
	.filter-contianer  div.open  button.multiselect.dropdown-toggle.btn.btn-default
	{
	border: 1px solid #999;
	background: #e9e9e9;
}

.filter-contianer .filter-search {
	width: 120px;
	display: inline-block;
}

table.aui>tbody>tr>td, table.aui>tbody>tr>th, table.aui>tfoot>tr>td,
	table.aui>thead>tr>td, table.aui>thead>tr>th {
	padding: 7px 10px !important;
	text-align: left;
	vertical-align: top;
}

.fixed-table-toolbar .bs-bars, .fixed-table-toolbar .search,
	.fixed-table-toolbar .columns {
	margin-bottom: 5px;
	margin-top: 0px;
}

.fixed-table-toolbar {
	/* border-bottom: 1px solid;
	border-bottom-color: #e6e6e6; */
	
}

.page-header.noborder {
	border: none;
}

.bootstrap-table-custom .page-list {
	display: none;
}

.dropdown-toggle.btn.btn-default .caret {
	border: 4px solid transparent;
	border-top-color: #111;
	content: "";
	height: 0;
	position: absolute;
	right: 8px;
	top: 4px;
	width: 0;
	margin-top: 10px;
	margin-left: -20px;
}

.drop-menu-main  .dropdown-menu {
	border: none;
	border-radius: 0px;
	-webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, .175);
	box-shadow: 0 0px 0px rgba(0, 0, 0, .175);
}

.actionButton {
	padding: 2px 8px;
	border: 1px solid transparent;
}

tr:hover .actionButton {
	background-color: #f5f5f5;
}

.dropdown-td .dropdown-menu {
	right: 10px;
	left: auto;
	top: auto;
	margin: 0px;
}

.dropdown-td a {
	outline: none !important;
}

td.dropdown.dropdown-td {
	text-align: right;
}

.dropdown-td .dropdown-menu>li>a:hover, .dropdown-td .dropdown-menu>li>a:focus
	{
	background-color: #428bca !important;
	color: #fff;
}

.bootstrap-table-custom .fixed-table-body {
	overflow: visible;
}

.no-fliter .fixed-table-toolbar {
	display: none;
}

.no-fliter table {
	margin-top: 0px;
}

.edit-religious-details {
	opacity: 0.5;
	pointer-events: none;
}

.form-group.disabled-select button {
	opacity: 0.5;
	pointer-events: none;
}

#deleteCountModal {
	z-index: 99999;
}

.datepicker-days td.disabled {
	display: table-cell;
}

.form-group  label.error {
	font-weight: 700;
}

@media ( min-width : 1200px) {
	.container {
		width: 95%;
	}
}

/* Content design styles    */
.shk-collapse-container.has-tab-view .shk-collapse-main {
	width: 70%;
	display: inline-block;
	float: left;
	border-right: 1px solid #ccc;
	padding-right: 10px;
	max-height: 65vh;
	overflow-y: auto;
}

.shk-collapse-container.has-tab-view .shk-tab-container {
	width: 30%;
	display: inline-block;
	float: left;
	max-height: 65vh;
	overflow-y: auto;
}

.shk-collapse-container {
	margin: 0px;
	display: flex;
	border-color: #ccc !important;
	border-top: 1px solid;
	min-height: 65vh;
}

.shk-tab-container {
	padding: 10px 0px;
}

.filter-desciption {
	/* border-color: #ccc !important;
	border-bottom:1px solid; */
	padding: 5px 0px;
	margin-left: 25px !important;
}

.shk-action-container>* {
	display: inline-block;
	cursor: pointer;
	vertical-align: middle;
}

.shk-collapse-main.bootstrap-table-custom .bootstrap-table .table thead>tr>th
	{
	border-color: transparent !important;
}

table tr.shk-nugget td:first-child {
	padding-left: 30px !important;
}

table tr.shk-segment td:first-child {
	padding-left: 60px !important;
}

.shk-collapse-main table.aui>tbody>tr:first-child>td {
	border-top: 0px;
}

#contentTreeView tr td:first-child {
	width: 53%;
}

#contentTreeView tr td:nth-child(2) {
	width: 22%;
}

#contentTreeView tr td:nth-child(3) {
	width: 25%;
}

.shk-action-container>*:not (:first-child ) {
	margin-left: 15px;
}

.drag-drop {
	border: 3px dashed #ccc;
	margin: 10px;
	position: relative;
	color: #ccc;
	text-align: center;
}

#segmentFileinput {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0px;
	left: 0px;
	opacity: 0;
	cursor: pointer;
}

.segment-files-list li {
	list-style: none;
    padding: 5px 5px 10px;
    border-bottom: 1px solid #37383c;
    margin-bottom: 5px;
    word-break: break-all;
    cursor: pointer;
}

.custom-filter {
	display: inline-block;
	cursor: pointer;
}

.custom-filter:hover span:nth-child(2) {
	text-decoration: underline;
}

.custom-filter .custom-filter-icon {
	display: none;
}

.custom-filter.enabled .custom-filter-icon {
	display: inline-block;
}

#contentTreeView tr, #contentTreeView td, #contentTreeView th {
	border: none !important;
}

.tab-content>.active {
	margin-top: 20px;
}

.duration-edit>* {
	display: inline-block;
}

.segment-files-list {
	padding: 0px;
	margin: 10px;
}

.li-file.ui-draggable:active, .li-file.ui-draggable-dragging {
	cursor: move;
}

#contentTreeView>tbody>tr>td {
	padding: 4px 8px;
	vertical-align: middle;
}

#contentTreeView.aui>tbody>tr>td {
	
}

.form-group>label:not (.error ){
	/* font-weight:normal; */
	color: #707070;
}

.editable-buttons button .aui-icon-small {
	height: 18px;
}

td .editable-container.editable-inline {
	
}

.editable-inline .editable-error-block {
	display: none !important;
}

#contentTreeView tr.shk-segment.ui-droppable {
	/* border:1px solid transparent !important; */
	
}

#contentTreeView tr.shk-segment.ui-droppable.drop-over {
	/* border : 1px dashed #ccc !important; */
	background-color: #fce94f;
}

.shk-action-container .action-icon {
	color: rgb(70, 60, 60);
	font-size: 15px;
}

table.aui>tbody>tr:first-child>td {
	border-top: none;
}

.bootstrap-table .table {
	border-collapse: separate !important;
}

.duration-span i {
	vertical-align: middle;
}

.add-segment, .add-nugget {
	cursor: pointer;
}

.editableform .form-control {
	height: 30px;
	padding: 6px 5px 5px 5px;
}

.action-icon>i {
	vertical-align: middle;
}

tr .log-title {
	display: flex;
	position: relative;
	padding-left: 15px;
}

tr .expand-icon>span.aui-icon {
	position: absolute;
	top: 3px;
	left: -2px;
}

.shk-action-container ul.dropdown-menu {
	left: inherit;
	right: 0px;
}

.shk-chapter .shk-action-container>*, .shk-nugget .shk-action-container>*
	{
	/* display:none; */
	
}

.shk-chapter.open .shk-action-container>*, .shk-nugget.open .shk-action-container>*
	{
	display: inline-block;
}

.disabled-icon {
	pointer-events: none;
	opacity: 0.3;
}

.segment-title-container {
	max-width: 50%;
}
/* Lesson plan styles  */
.filter-contianer.border-bottom {
	padding-bottom: 5px;
	border-bottom: 1px solid #ccc;
}

.shk-lesson-plan-container {
	height: calc(100vh - 230px);
}

.shk-chapterlist-coniner {
	height: 100%;
	border: 1px solid #ccc;
	border-top: 0px;
	padding: 0px;
}

.chapter-list-title {
	text-align: center;
	padding: 15px 0px;
	margin: 0pc;
	border-bottom: 1px solid #ccc;
}

.shk-create-plan-container, .shk-view-plan-container,
	.shk-edit-plan-container {
	height: 100%;
	overflow-y: auto;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding-bottom: 30px;
}

.create-lesson-ul {
	width: 100%;
	padding: 0px;
	list-style: none;
	max-height: calc(100% - 45px);
	overflow-y: auto;
}

.create-lesson-ul .lesson-item {
	padding: 10px 10px;
	height: 40px;
}

.lesson-item label {
	max-width: 90%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin: 0px;
}

.lesson-item span.aui-icon {
	float: right;
	margin-top: 3px;
}

.create-lesson-ul .lesson-item [type='radio'] {
	margin-right: 10px;
	vertical-align: middle;
	margin-top: 0px;
	margin-bottom: 1px;
}

.crate-form-title {
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
	padding: 15px 0px;
}

.day-acitivity-container {
	border: 1px solid #ccc;
	background-color: #e9e9e9;
	padding: 15px;
	position: relative;
}

.day-acitivity-maincontainer {
	padding-top: 15px;
	margin-bottom: 15px;
}

.action-container:not(th) {
	position: absolute;
	top: 0px;
	right: 0px;
}

.action-container .action-btn {
	display: inline-block;
}

.action-container .action-btn .aui-icon:before {
	font-size: 20px;
	margin-top: -9px;
}

.action-container .action-btn .aui-icon {
	height: 20px;
	width: 20px;
	cursor: pointer;
}

.red-text {
	color: red;
}

.shk-create-plan-container td .form-control {
	width: auto;
	max-width: 120px;
	display: inline-block;
}

.add-row-template td {
	vertical-align: middle !important;
}

.action-btn {
	cursor: pointer;
}

.tree-view-table {
	position: relative;
}

#logs {
	padding: 15px;
}

#logs-list {
	padding: 0px;
	list-style: none;
}

#logs-list .log-item {
	padding: 5px 0px;
}

.log-date {
	display: block;
	text-align: right;
}

#log-download {
	cursor: pointer;
	width: 9px;
	height: 9px;
}

#log-download svg {
	height: 15px;
	width: 15px;
	fill: #337ab7;
}

.lp-action-th, .lp-action-td {
	min-width: 65px;
}

.lp-action-td {
	
}

.lp-act-action.lms-editable-content {
	display: table-cell;
	padding: 5px;
	cursor: pointer;
}
/* Teaching plan styles  */
#teachPlanChapterList {
	position: relative;
}

.tp-toggle {
	margin-right: 10px;
}

.tp-chapter .expand-icon {
	padding: 0px;
}

tr.tp-day td:first-child {
	padding-left: 40px !important;
}

tr.tp-activity td:first-child {
	padding-left: 80px !important;
}

#tp-row-container>div.form-group {
	display: inline-block;
	margin-right: 15px
}

.section-check {
	margin-right: 15px;
}

#uplodAndLog {
	background: yellow; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(yellow, white);
	/* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(yellow, white);
	/* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(yellow, white);
	/* For Firefox 3.6 to 15 */
	background: linear-gradient(yellow, white);
	/* Standard syntax (must be last) */
}

#createLessonPlan .form-group {
	float: none;
}

#editUserForm.form-horizontal .form-group {
	margin-right: 5px;
	margin-left: 5px;
}

.modal-footer .btn.disabled {
	display: inline-block;
}
/* location filter dropdown styles */
#divFilter .btn-group button.multiselect.dropdown-toggle.btn.btn-default
	{
	width: 100%;
	min-width: inherit;
}

#divFilter .btn-group {
	width: 100%;
}

#divFilter .drop-menu-main {
	min-width: inherit;
}

.focusedElement {
	border-color: red;
}

.more-quick-link li {
	display: inline-block;
	width: 49%;
}

.lms-add-btn {
	margin-top: 7px;
}

#sectionMapContainer.lms-grades-section {
	width: 100%;
}

#list-comments {
	margin-top: 25px;
	border-top: 1px solid #eee;
	padding-top: 10px;
}

.modal-table {
	width: 100%;
}

table.modal-table.modal-table th, table.members-table.members-table th {
	font-size: 16px !important;
	padding: 10px 5px !important;
	background-color: #a1c9f5 !important;
}

.modal-table td:last-child {
	text-align: center;
}

.modal select.form-control {
	background-color: transparent;
}

tr.disabled-row select {
	opacity: 0.8;
	pointer-events: none;
}

.center-text {
	text-align: center;
}

#switchRole #roleTypeContainer, #switchApplication #roleTypeContainer {
	text-align: center;
	position: absolute;
	top: 150px;
	left: 90px;
	width: 500px;
	font-family: 'Gochi Hand', cursive;
}
 #switchRole #roleTypeContainer{
 	top: 70px;
 }

#switchRole .modal-content, #switchApplication .modal-content {
	background-color: transparent !important;
	height: 570px;
    background-size: cover;
	border: none;
	box-shadow: none;
}

#switchRole .modal-dialog, #switchApplication .modal-dialog {
	width: 729px;
}

#switchRole .modal-body, #switchApplication .modal-body {
	padding: 0px;
}

#switchRole .slate-img, #switchApplication .slate-img {
	width: 100%;
	height: 100%;
}

#switchRole  .lms-shiksha-access-section, #switchApplication  .lms-shiksha-access-section
	{
	font-size: 14px;
	padding-left: 10px;
	max-height: 195px;
	overflow-y: auto;
}

#faqTable td, #helpTable td {
	word-break: break-all;
}

.lms-log-sg {
	font-size: 13px;
}

.currentAY {
	display: inline-block;
}
/*  switch  */
.switch {
	position: relative;
	display: inline-block;
	width: 55px;
	height: 25px;
}

.switch-main>* {
	display: inline-block;
	vertical-align: middle;
	margin: 0px 5px;
}

.switch-main {
	padding-bottom: 10px;
	border-bottom: 1px solid #eee;
}

.switch input {
	display: none;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 19px;
	width: 19px;
	left: 4px;
	bottom: 3px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input+.slider {
	background-color: #2196F3;
}

input:focus+.slider {
	box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

/* lesson plan new */
a .lms-add-new-day, a.collapsed .lms-lesson-edit-icon {
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
}

a.collapsed .lms-add-new-day, .lms-lesson-edit-icon, a.collapsed .lms-lesson-days
	{
	display: none;
}

a.collapsed>.lms-side-center:last-child {
	display: none;
}

#submitDiv {
	float: right;
}

#submitDiv .btn {
	margin-left: 10px;
}

.lms-add-new-item.add-activity {
	padding-top: 15px;
	padding-bottom: 20px;
}

.lms-td-edit-view .form-control {
	background-color: transparent;
}

.lms-disabled {
	opacity: 0;
	pointer-events: none;
	cursor: default !important;
}

.action-delete-plan {
	width: 12px;
}

.lesson-panel select.form-control {
	border-bottom: none;
	box-shadow: inset 0px -1px 0px 0px #888885;
}

.lms-error {
	box-shadow: inset 0px -1px 0px 0px red !important;
}

.header-left a, .header-left .header-info {
	display: inline-block;
	color: #777777;
	font-size: 12px;
}

.utilities-menu .overview-card {
	height: 150px;
}

.total-entries {
	font-size: 18px;
}

.profile-role, .profile-name {
	text-overflow: ellipsis;
	max-width: 150px;
	white-space: nowrap;
	overflow: hidden;
}

.profile-more-options-section {
	margin-left: 7px;
}

td.text-center, th.text-center {
	text-align: center;
}

.role-permission-mapping table tr th {
	min-width: 65px;
}

.log-user-icon {
	display: inline-flex;
}

.ac-contianer {
	border-bottom: 1px solid #eee;
	padding-bottom: 15px;
}

.level-mapper, .inst-level-mapper {
	margin: 15px 0px;
	border: 1px solid #eee;
	padding: 10px 0px;
}

.project-card-text-right>a {
	color: black;
}

#viewSegmentModal div>span {
	word-break: break-all;
}

#lesson-container {
	max-height: 550px;
	overflow-y: auto;
}

.lms-drag-drop.drag-drop {
	position: relative;
}

#upload-loader {
	position: absolute;
	z-index: 99999999;
}

#upload-loader .round-spinner {
	position: absolute;
	overflow: hidden;
	top: 27%;
	left: 45%;
}

#upload-loader .uil-reload-css.reload-background.reload-small {
	height: 30px;
	width: 30px;
}

#upload-loader .uil-reload-css.reload-background.reload-small>div {
	left: 7px;
	top: 7px;
	height: 16px;
	width: 16px;
}
.search-files {
	margin-top: 15px;
	width: 95%;
	outline: none;
	border: 2px solid transparent !important;
	border-bottom: 2px solid #0065ae !important;
	background-color: transparent !important;
}

.role-button {
	position: absolute;
	height: 100%;
}

.role-text {
	text-align: left;
	margin-left: 30px;
	font-size: 15px;
	word-break: break-all;
}

.lms-input-radio-group>div {
	display: inline-block;
	max-width: 82%;
}

.lms-input-radio-group {
	position: relative;
}

#tblLevelBatch span.label {
	padding: 5px 5px 4px;
	display: -webkit-inline-box;
}

div.fuelux .wizard>.actions {
	z-index: auto;
}

.no-bold {
	font-weight: normal;
}

#viewSegmentModal div>span {
	overflow-wrap: break-word;
	word-break: break-all;
}

#delNotification {
	position: absolute;
	top: 5px;
	right: 10px;
	font-size: 20px;
	cursor: pointer;
	z-index: 10;
}
.no-notifications { 
	text-align:center;
	margin-top: 15px;
 }
.menu-item {
	position: relative;
}

.profileContainer {
	margin-top: 20px;
}

#pImage,.student-image,.editstudent-imageuplo,.editLearner-image,#elImage,#lImage{
width: auto;
height: 97px;
vertical-align: middle;
}
#viewImage{
	max-width: 100%;
	max-height: 100%;
	vertical-align: middle;
	margin-top: 50%;
    transform: translateY(-50%);	
}
.view-image-container{
	height:100px;
	width:100px;
	margin: 15px auto;
	border: 2px solid #03b1ce;
}

#imageContainer {
	text-align: center;
}

#profile-image1,#student-image1,#editStudent-image1,#learner-image1,#editLearner-image1{
	cursor: pointer;
	display: inline-block;
	margin-top: 25px;
	width: 100px;
	height: 100px;
	border: 2px solid #03b1ce;
	margin-right: 0px;
}

.tital {
	font-size: 16px;
	font-weight: 500;
}

.bot-border {
	border-bottom: 1px #f8f8f8 solid;
	margin: 5px 0 5px 0
}
#profileHeading{
	margin-bottom: 0;
}
#profileHeading p{
font-size: 25px;
}
#changePassword{
	cursor: pointer;
}
#editDetails{
	cursor: pointer;
	float: right;
	font-size: 15px;
}
div .radioLabel{
	margin-top:-2px;
}
#switchApplication #roleTypeContainer.role-continer-in{
	top:70px;
}


.role-programcode{
	margin-left:15px !important;
}

#lesson-download,#details-download{
	padding-top: 5px;
    margin-left: 15px;
}
#lesson-download svg{
	height: 14px;
    width: 18px;
    fill: #337ab7;
}
#details-download svg{
	height: 25px;
    width: 20px;
    fill: #337ab7;
    margin-top: 2px;
}

.msg-container{
	text-align:center;
	padding:5px;
	background-color:#e9b96e;
	color: #383838;
	margin-bottom:10px;	
	font-size: 12px;
}

.lesson-panel mark{
  background: #ff0;
  padding:0px;
}

