

.txtweknow{
  color: #000000;
  font-size:24px;
}

.landingpagetext {
  font-size: 16px;
  padding-left:10px; 
  padding-right:10px;
}

.header {
	height: 50px;
}
.vert-spacer-10 {
  height: 10px;
}
.vert-spacer-20 {
	height: 20px;
}
.vert-spacer-40 {
	height: 40px;
}
.vert-spacer-80 {
	height: 80px;
}
.sgs-bkgrnd {
	background: #D8D8D8 ;
}

/*.table th, .table td, .table tr { 
     border-top: none; 
 }*/

.right-to-left li { 
  float: right; 
}

.question {
  border-color : rgb(221,221,221);
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
} 

.questionNumber {
  background-color : rgb(229,229,227);
  color : rgb(153,153,153);
  height : 35px;
  text-align: left;
  text-indent: 15px;
  font-weight: bold;
  margin-left: -15px;
  margin-right: -15px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.responses {
  border-width : 3px;
  margin-top : -3px;
  margin-left : -3px;
  margin-right : -3px;
  padding-left: 10px;
}

.panel-override {
  margin-left : -16px;
  margin-right: -16px;
  /*border-width : 1px;
  border-radius : 10px;
  border-color : rgb(66,139,202);*/
}

.questionText {
  text-align: center;
}

.img {
  border: 0;
  width: 80%;
  display: block;
  max-width: 80%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.popover-content {
   height: 300px;
   overflow-y: scroll;
}

.table-no-border>thead>tr>th, 
.table-no-border>tbody>tr>th, 
.table-no-border>tfoot>tr>th, 
.table-no-border>thead>tr>td, 
.table-no-border>tbody>tr>td, 
.table-no-border>tfoot>tr>td {
  border: none; 
}

.button-no-padding>a {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  padding-right: 2px;
  border-width: 2px;
}

.table-no-bottom {
  margin-bottom: 0px;
}

.middle-align-table>tbody>tr>td {
  vertical-align: middle;
}

.gi-1p5x{font-size: 1.5em;}
.gi-2x{font-size: 2em;}
.gi-3x{font-size: 3em;}
.gi-4x{font-size: 4em;}
.gi-5x{font-size: 5em;}

.green {
  color : green;
}

.red ,.alertMessage{
  color: red;
}

.font
{
font: verdana;
}


/* Commented Removed later Test Mona */
.left-inner-addon {
    position: relative;
}
.left-inner-addon input {
    padding-left: 80px;    
}
.left-inner-addon i {
    position: absolute;
    padding: 50px 70px;
    pointer-events: none;
}

.right-inner-addon {
    position: relative;
}
.right-inner-addon input {
    padding-right: 30px;    
}
.right-inner-addon i {
    position: absolute;
    right: 0px;
    padding: 10px 12px;
    pointer-events: none;
}
.astricForMandatory{
	 color: red;
	 font-size:small;
}
/* Commented Removed later Test Mona */
