.roboto {
	font-family: 'roboto';
}

ul,
li {
	padding: 0px;
	margin: 0px;
}

li {
	list-style: none;
}

svg {
	max-width: 100%;
	max-height: 100%;
	vertical-align: top;
}

img {
	display: block;
}

body,
html {
	margin: 0;
	padding: 0;
}

* {
	box-sizing: border-box;
}

.checkbox {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	cursor: pointer;
	font-size: 18px;
}

.toggler {
	width: 44px;
	height: 18px;
	border-radius: 18px;
	box-shadow: inset 0px 0px 0px 2px currentColor;
	margin: 0px 10px;
}

.toggler::after {
	content: "";
	display: block;
	position: relative;
	margin-top: -2px;
	left: 0px;
	width: 22px;
	height: 22px;
	background-color: currentColor;
	border-radius: 50%;
	transition: .3s left;
	box-shadow: 0px 0px 0px 2px black;
}

:checked ~ .toggler::after {
	left: 22px;
}

.dark {
	background-color: black;
	color: rgba(255, 255, 255, 0.9);
}

.clrflt::after {
	content: "";
	display: table;
	clear: both;
}

.sub-heading {
	color: #1b1a15;
	font-size: 20px;
	font-weight: 700;
}

.top-shade {
	box-shadow: inset 0px 10px 5px -5px #ddd;
}

.action-text {
	font-size: 14px;
	color: #1a1914;
}

.highlight-text {
	font-size: 24px;
	font-weight: 400;
}

.lms-heading-section {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
	padding: 0px 0px 20px 0px;
}

.heading-left {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.breadcrumb-section {
	color: #1b1a15;
	font-size: 12px;
	padding-left: 29px;
	padding-top: 12px;
}

.breadcrumb-separator {
	padding: 0px 5px;
}

.overview-icon {
	max-height: 80px;
}

.modal {
	text-align: center;
	padding: 0 !important;
}

.modal:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-right: -4px;
}

.modal-dialog {
	display: inline-block;
	text-align: left;
	vertical-align: middle;
}

.get-it-top {
	margin-top: -30px;
}

.create-item-icon {
	width: 20px;
	height: 20px;
}

.create-items-section {
	cursor: pointer;
	padding-left: 19px;
}

.hide-chk {
	position: absolute;
	z-index: -1;
	visibility: hidden;
	width: 0px;
	height: 0px;
}

.lms-stack-center {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.lms-side-center,
.lms-side-center-mid,
.lms-side-center-far {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.lms-side-top {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: flex-start;
	    -ms-flex-align: start;
	        align-items: flex-start;
}

.lms-side-center-mid {
	margin: 0 auto;
}

.lms-side-center-far {
	-webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.lms-section-heading {
	color: #1b1a15;
	font-size: 18px;
	font-weight: 700;
}

.overview-card.overview-card-no-icon {
	height: 90px;
}

.lms-link-btn {
	padding: 0px 8px;
}

.lms-td-btm.lms-td-btm {
	display: table-cell;
	/* vertical-align: bottom; */
	float: none;
}

.lms-select .dropdown-toggle {
	min-width: 0px !important;
}

.lms-row {
	display: table;
	table-layout: fixed;
	width: 100%;
}

.lms-underline,
.lms-lesson-table th {
	box-shadow: inset 0px -1px 0px 0px rgba(0, 0, 0, 0.2);
	border-bottom: none !important;
}

.lms-underline--dark {
	box-shadow: inset 0px -1px 0px 0px #7a7a7a;
	border-bottom: none !important;
}

.lms-part-heading {
	color: #005491;
	font-size: 16px;
	font-weight: 700;
}

.lms-info::before {
	content: "i";
	width: 20px;
	height: 20px;
	display: block;
	background-color: #c3c3c3;
	border-radius: 50%;
	color: #363636;
	line-height: 20px;
	text-align: center;
	font-size: 14px;
	font-weight: 700;
}

.c {
	cursor: pointer;
}

.lms-input-radio-group {
	display: block;
	margin-top: 25px;
}

.lms-input-radio-group input {
	display: inline-block;
	vertical-align: middle;
	margin: 0px;
	width: 0px;
	height: 0px;
	position: absolute;
	z-index: -1;
	visibility: hidden;
}

.lms-input-radio-group input:checked + .lms-chk-icon {
	box-shadow: inset 0px 0px 0px 4px white, inset 0px 0px 0px 10px #e4980e;
}

.lms-input-radio-group input + .lms-chk-icon {
	margin-right: 5px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: white;
	display: inline-block;
	vertical-align: middle;
	/* margin-top: -8px; */
}

.lms-input-radio-group input ~ .lms-chk-icon ~ * {
	display: inline-block;
	vertical-align: middle;
	margin: 0px;
}
.logo {
	width: 190px;
	height: 44px;
	display: block;
}

.logo-admin {
	width: 135px;
	height: 50px;
}

.notifications-icon {
	width: 22px;
	height: 24px;
	position: relative;
	color: currentColor;
	fill: currentColor;
	stroke: currentColor;
	cursor: pointer;
}

.notifications-count,
.actions-count {
	position: absolute;
	top: 0;
	right: 0;
	-webkit-transform: translate(25%, -50%);
	        transform: translate(25%, -50%);
	border-radius: 50%;
	font-size: 11px;
	text-align: center;
	line-height: 17px;
	width: 21px;
	height: 18px;
	background-color: red;
	color: white;
	border: 1px solid white;
}

.actions-count {
	background-color: #24ce0d;
	color: #454650;
}

.settings-icon {
	width: 25px;
	height: 25px;
	color: currentColor;
	fill: currentColor;
	stroke: currentColor;
}

.download-icon {
	width: 23px;
	height: 24px;
}

.header {
	padding: 5px 0px;
	box-shadow: -5px 0px 0px 1px white,5px 0px 0px 1px white, 0px 5px 5px 0px #ddd;
	position: relative;
	z-index: 1;
}

.header,
.header-right {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.header-right {
	min-width: 285px;
}

.profile-section {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	position: relative;
	cursor: pointer;
}

.profile-section.active .profile-actions {
	display: block;
}

.profile-actions {
	right: 0;
	margin-top: 10px;
}

.menu-item + .menu-item {
	border-top: 1px solid #c8c8c8;
}

.menu-item a {
	padding: 10px;
	display: block;
}

.menu-item a:hover {
	background-color: #484848;
	color: #e8e8e8;
}

.header-nav-link {
	margin-left: 25px;
}

.profile-info-section {
	padding-left: 12px;
	min-width: 100px;
}

.profile-more-option {
	width: 9px;
	height: 5px;
	fill: currentColor;
}

.profile-img {
	width: 35px;
	height: 35px;
	border-radius: 50%;
	display: block;
}

.lang-change-icon {
	width: 27px;
	height: 27px;
	cursor: pointer;
}

.lang-change-icon svg:first-child {
	display: block;
}

.lang-change-icon svg:first-child + svg {
	display: none;
}

.lang-change-icon.active svg:first-child {
	display: none;
}

.lang-change-icon.active svg:first-child + svg {
	display: block;
}

.download-options {
	position: relative;
	cursor: pointer;
}

.download-options.active .menu-actions {
	display: block;
}

.menu-actions {
	display: none;
	position: absolute;
	right: 0;
	top: 100%;
	color: #484848;
	background-color: #e8e8e8;
	z-index: 2;
	box-shadow: 0px 0px 2px 1px #ccc;
	min-width:150px;
}

.download-menu-actions {
	margin-top: 18px;
	width: 150px;
	left: auto;
	right: 0;
}
.lms-notification-options {
	position: relative;
}

.notifications-menu-items {
	margin-top: 18px;
	width: 450px;
	right: 0;
	left: auto;
	background-color: white;
}

.active .notifications-menu-items {
	display: block;
}

.notifications-menu-items .notification-item:hover {
	background-color: #e9e9e9;
}

.notifications-menu-items .menu-item + .menu-item {
	border: none;
}

.notifications-menu-items-header {
	height: 50px;
	box-shadow: inset 0px -1px 0px 0px #d9d9d9, 0px 2px 8px 0px #d9d9d9;
	padding: 0px 20px;
	white-space: nowrap;
}

.notifications-header {
	font-size: 16px;
	color: #2a2b28;
}

.notification-item::before {
	content: "";
	width: 7px;
	height: 7px;
	border-radius: 50%;
	display: inline-block;
	vertical-align: middle;
	margin-left: -5px;
}

.notification-item.lms-unread:before {
	background-color: #f59b10;
}

.notification-item.lms-no-notification-image::before {
	position: absolute;
	width: 0px;
	height: 0px;
}

.lms-notification-detail-section {
	display: inline-block;
	vertical-align: top;
	width: 365px;
	padding-left: 5px;
}

.lms-no-notification-image .lms-notification-detail-section {
	width: auto;
}

.notification-item {
	text-decoration: none;
}

.notification-item:hover {
	text-decoration: none;
}

.lms-clear-all-icon {
	width: 24px;
	height: 14px;
	cursor: pointer;
}

.lms-notification-img {
	width: 36px;
	height: 36px;
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
	vertical-align: middle;
	border-radius: 50%;
	background-color: #e9e9e9;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.lms-notification-large-img {
	max-width: 100%;
	max-height: 100%;
}

.lms-notification-small-img {
	width: 19px;
	height: 19px;
}

.lms-notification-detail {
	font-size: 16px;
	color: #7c7c7e;
}

.lms-unread .lms-notification-detail {
	color: #2a292d;
}

.lms-notification-date {
	font-size: 12px;
	color: #848386;
}

.lms-notification-view-all {
	text-align: center;
	padding: 5px 0px 15px;
}

.lms-notification-view-all-link {
	color: #0965ff;
	font-size: 16px;
}

.notifications-menu-items-list {
	overflow: auto;
	max-height: 270px;
}
body {
	font-family: sans-serif;
	min-width: 0px !important;
}

.player-body {
	min-height: 100vh;
}
.page {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	overflow: auto;
}

.page-wrapper {
	max-width: 1200px;
	padding-top: 18px;
	min-width: 970px;
	margin: 0 auto;
	position: relative;
}

.lms-modal-prompt .modal-body {
	padding: 10px 30px;
	text-align: center;
	font-size: 16px;
	line-height: 1.6;
}

.lms-modal-prompt .modal-dialog {
	width: 350px !important;
}

.lms-modal-prompt .modal-footer.lms-stack-center {
	height: 135px;
	-webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.lms-modal-prompt .modal-header,
.lms-modal-prompt .modal-footer {
	border: none !important;
}

.login-logo-icon {
	width: 219px;
	height: 80px;
}

.login-logo {
	padding-left: 93px;
	padding-bottom: 23px;
}

.login-form-section {
	position: relative;
	width: 559px;
	min-height: 471px;
	padding-top: 170px;
	padding-left: 93px;
	padding-right: 95px;
	padding-bottom: 40px;
	background-image: url("../images/login-bg.svg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
}

.username-icon {
	width: 22px;
	height: 26px;
}

.password-icon {
	width: 22px;
	height: 21px;
}

.forgot-text.forgot-text {
	color: white;
	font-size: 16px;
	margin-top: 13px;
}

.login-graphic-icon {
	width: 465px;
	height: 636px;
	background-image: url("../images/login-graphic.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: 35px;
}

.login-input-group .form-control,
.login-input-group .input-group-addon {
	border-color: transparent transparent inherit transparent;
	border-radius: 0px;
	border-width: 0px 0px 1px 0px;
	background-color: transparent;
	box-shadow: none;
}

.login-input-group .form-control:focus,
.login-input-group .input-group-addon:focus {
	box-shadow: none;
}

.login-input-group .input-group-addon {
	padding-right: 0px;
}

.pwd-form-group {
	margin-bottom: 50px;
}

.shiksha-plus-icon,
.elementary-icon {
	background-position: center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	display: block;
}

.shiksha-plus-icon:hover,
.elementary-icon:hover {
	background-color: #e8e8e8;
	box-shadow: 0px 0px 0px 20px #e8e8e8;
}

.elementary-icon {
	width: 145px;
	height: 197px;
}

.shiksha-plus-icon {
	width: 136px;
	height: 201px;
}

.or-separator {
	position: relative;
}

.or-separator::after {
	content: "";
	position: absolute;
	top: 0px;
	bottom: 0;
	right: -0.5px;
	width: 1px;
	background-color: rgba(146, 146, 146, 0.6);
}

.login-type-section {
	padding: 23px;
}

.credentials-info {
	text-align: center;
	margin: 0px;
	color:red;
}

.has-error input::-webkit-input-placeholder {
	color: #e04018;
}

.has-error input:-ms-input-placeholder {
	color: #e04018;
}

.has-error input::placeholder {
	color: #e04018;
}

.black-noise .page {
	background-color: #2e2b24;
}

.black-noise .page-wrapper {
	background-image: url("../images/noise-bg.jpg");
	background-repeat: no-repeat;
}

.slate-bg {
	background-repeat: no-repeat;
	width: 100%;
	position: relative;
}

.slate-bg img {
	max-width: 100%;
	max-height: 100%;
}

.lms-login-logo {
	position: absolute;
	right: 10px;
	width: 206px;
	height: 75px;
}

.lms-login-logo img {
	max-width: 100%;
	max-height: 100%;
}

.login-content {
	font-family: 'Gochi Hand', cursive;
}

.lms-login-new-section {
	position: absolute;
	left: 20%;
	right: 40%;
	top: 29%;
	bottom: 0px;
}

.lms-login-new-section .control-label {
	display: block;
}

.lms-login-new-section .input-group {
	width: 100%;
}

.lms-login-new-section .form-group {
	margin-bottom: 35px;
}

.lms-login-new-section .form-control {
	padding-bottom: 5px;
	height: 30px;
	font-size: 22px;
	font-weight: 400;
	color: #c3c3c3;
}

.lms-login-new-section .form-control::-webkit-input-placeholder {
	color: #c3c3c3;
}

.lms-login-new-section .form-control:-ms-input-placeholder {
	color: #c3c3c3;
}

.lms-login-new-section .form-control::placeholder {
	color: #c3c3c3;
}

.lms-login-heading-text {
	font-size: 33px;
	color: white;
	margin-bottom: 30px;
	min-height: 48px;
}

.btn--login.btn--login.btn--login.btn--login {
	width: 255px;
	height: 50px;
	border-radius: 3px !important;
	color: #1c1b16;
	font-size: 27px;
	margin-top: 30px;
	background-color: #fcc300;
}
.lms-choose-program-section {
	position: absolute;
	top: 25%;
	left: 17%;
	right: 40%;
	text-align: center;
}

.lms-choose-program-selection {
	margin-top: -35px;
}

.skip-choose-program {
	color: white;
	font-size: 20px;
}

.skip-choose-program:hover,.skip-choose-program:active {        
        color:white;        
}
.skip-container{
	margin-top:60px;
}
.lms-shiksha-access-section {
	font-size: 16px;
	color: white;
	padding-left: 20px;
	padding-top: 20px;
	height: 200px;
    overflow-y: auto;
}

.lms-choose-role {
	border-bottom: 1px solid white;
	display: table;
	line-height: 1;
	margin-bottom: 20px;
	font-size: 18px;
}
.videos {
	padding-top: 40px;
}

.videos-content {
	margin-top: 10px;
}

.videos-header {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.videos-header-text-primary {
	font-size: 25px;
	padding-right: 20px;
}

.videos-header-text-secondary {
	color: #ff9900;
	font-size: 18px;
}

.preview-mode-section,
.autoplay-checkbox,
.preview-toggler {
	color: #ff9900;
}

.videos-header-control-options {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.videos-playlists-icon {
	width: 12px;
	height: 13px;
	background-color: #ff9900;
	fill: currentColor;
	position: relative;
	border-width: 4.5px 6.5px;
	border-color: #ff9900;
	border-style: solid;
	top: 4px;
}

.videos-playlists-icon::before {
	content: "";
	position: absolute;
	top: -5.5px;
	bottom: -3.5px;
	left: -5.5px;
	right: -7.5px;
	box-shadow: inset 0px 0px 0px 1px #ff9900;
}

.videos-playlists-icon::after {
	content: "";
	position: absolute;
	top: -7.5px;
	bottom: -1.5px;
	left: -3.5px;
	right: -9.5px;
	box-shadow: inset 0px 0px 0px 1px #ff9900;
}

.chat-icon {
	width: 33px;
	height: 30px;
	fill: currentColor;
}

.info-icon {
	width: 31px;
	height: 30px;
	fill: currentColor;
}

.videos-header-control-options {
	min-width: 373px;
	padding-right: 47px;
}

.video-content-top {
	position: relative;
}

.video-main {
	margin-right: 223px;
}

.videos-list-container {
	background-color: rgba(30, 29, 25, 0.7);
	width: 223px;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	overflow: auto;
}

.video-item {
	padding: 20px 30px;
}

.video-item-header {
	font-size: 18px;
	font-weight: 400;
}

.video-item-status {
	font-size: 14px;
	margin-top: 5px;
}

.video-item-time {
	background-color: rgba(0, 0, 0, 0.7);
	font-size: 14px;
	padding: 7px 9px;
	position: absolute;
	right: 0px;
	bottom: 0px;
}

.video-item-image-section {
	position: relative;
	margin-top: 4px;
	width: 162px;
	height: 91px;
}

.video-item-image {
	max-width: 100%;
	display: block;
}

.main-video {
	max-width: 100%;
	display: block;
}

.video-controls-section {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	padding: 30px 20px;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.seek-bar {
	-webkit-flex: auto;
	    -ms-flex: auto;
	        flex: auto;
}

.play-icon {
	width: 28px;
	height: 28px;
	margin-right: 17px;
	fill: currentColor;
}

.main-video-time {
	min-width: 72px;
	padding: 0px 22px;
	font-size: 18px;
}

.volume-icon {
	width: 32px;
	height: 27px;
	fill: currentColor;
	margin-left: 27px;
}

.full-screen-icon {
	width: 24px;
	height: 26px;
	fill: currentColor;
	margin-left: 33px;
}

.autoplay-toggler {
	color: #ccc;
}

.seek-bar {
	height: 7px;
	background-color: white;
	position: relative;
}

.seek-bar-holder {
	width: 31px;
	height: 31px;
	background-color: #ff9900;
	border-radius: 50%;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto 0;
	cursor: pointer;
}

.overview-card {
	padding: 18px 20px 13px 20px;
	text-align: center;
	width: 90px;
	height: 135px;
	float: left;
	margin-right: 80px;
	box-sizing: content-box;
	margin-bottom: 25px;
	color: unset;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.overview-card:hover {
	background-color: currentColor;
	text-decoration: none;
}

.overview-card:hover * {
	color: white;
}

.overview-card-number {
	font-size: 24px;
	font-weight: 700;
	color: #353636;
}

.overview-card-name {
	font-weight: 400;
	font-size: 16px;
	color: #353636;
}

.overview-icon {
	margin: 0 auto;
	fill: currentColor;
}

.main-content {
	background-color: #f2f2f2;
	padding: 0px 5px;
}

.main-content--white {
	background-color: white;
}

.overview-section,
.quick-links-section {
	padding: 22px 0px;
}

.overview-section {
	margin-right: 308px;
}

.quick-links-section {
	background-color: white;
	padding-left: 13px;
	margin-right: 38px;
	margin-bottom: 20px;
	width: 308px;
	min-width: 308px;
	position: absolute;
	right: 0;
	top: 0;
}

.overview-heading {
	padding-left: 20px;
}

.quick-links-list {
	padding: 20px 10px 10px 13px;
}

.quick-link-item {
	padding: 10px 0px;
	font-size: 14px;
	color: #484848;
}

.quick-link-item::before {
	content: "- ";
}

.dashboard-content {
	position: relative;
}

a.projects-card {
	color: #cb0065;
}

a.locations-card {
	color: #666666;
}

a.schools-card {
	color: #ff6666;
}

a.grades-card {
	color: #3366ff;
}

a.subjects-card {
	color: #00cccc;
}

a.students-card {
	color: #cc9900;
}

a.teachers-card {
	color: #0099cc;
}

a.content-card {
	color: #8aab04;
}

a.reports-card {
	color: #3608e1;
}

a.devices-card {
	color: #d46900;
}

a.utilities-card {
	color: #a72ded;
}

a.more-card {
	color: #097738;
}
a.center-card {
	color: #6a8add;
}
a.learner-card {
	color: #98701a;
}
a.user-role-card {
	color: #ffb400;
}
a.batch-card{
	color:#e443a9;
}

.projects-icon {
	width: 86px;
	height: 66px;
}

.locations-icon {
	width: 73px;
	height: 68px;
}

.schools-icon {
	width: 70px;
	height: 61px;
}

.grades-icon {
	width: 82px;
	height: 70px;
}

.subjects-icon {
	width: 63px;
	height: 65px;
}

.students-icon {
	width: 70px;
	height: 70px;
}

.teachers-icon {
	width: 92px;
	height: 77px;
}

.content-icon {
	width: 72px;
	height: 56px;
}

.reports-icon {
	width: 62px;
	height: 59px;
}

.devices-icon {
	width: 62px;
	height: 50px;
}

.utilities-icon {
	width: 59px;
	height: 71px;
}

.more-icon {
	width: 61px;
	height: 60px;
}

.search-section,
.create-items-section,
.heading-right {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.search-icon {
	width: 17px;
	min-width: 17px;
	height: 18px;
	min-height: 18px;
}

.back-nav {
	width: 11px;
	height: 19px;
	margin-right: 13px;
}

.create-item-text {
	padding-left: 6px;
}

.create-projects-section {
	padding-left: 19px;
}

.project-card {
	width: 246px;
	color: #ff6633;
	margin-bottom: 68px;
}

.project-card-bottom {
	padding: 25px 20px 10px 20px;
	border-radius: 3px;
	background-color: currentColor;
	text-align: center;
	margin-top: 12px;
	position: relative;
}

.project-card-bottom::before {
	content: "";
	border-width: 8px 6px;
	border-color: transparent transparent currentColor transparent;
	border-style: solid;
	position: absolute;
	width: 0;
	height: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	bottom: 100%;
}

.project-card-modified-text {
	font-style: italic;
	margin-top: 30px;
	color: #333;
}

.project-card-text-section {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: baseline;
	    -ms-flex-align: baseline;
	        align-items: baseline;
	color: black;
}

.project-card-text-section:hover {
	color: black;
}
.project-card-text-left {
	min-width: 75px;
	text-align: right;
	padding-right: 11px;
	font-size: 20px;
}

.project-card-text-right {
	-webkit-flex: auto;
	    -ms-flex: auto;
	        flex: auto;
	text-align: left;
}

.semi-progress {
	width: 100%;
	height: 122px;
	stroke: #d8d8d8;
}

.subject-test {
	font-weight: 500;
	font-size: 20px;
	color: #2b2a27;
}

.subject-test-period {
	color: #1a1914;
	font-size: 14px;
	font-weight: 500;
}

.projects-cards {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: space-around;
	    -ms-flex-pack: distribute;
	        justify-content: space-around;
	padding-bottom: 68px;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
}

.project-card-top {
	position: relative;
	text-align: center;
}

.project-card-top:hover .progress-graph {
	z-index: -1;
	opacity: 0;
}

.project-card-top:hover .project-card-actions {
	opacity: 1;
	z-index: 1;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
}

.progress-graph {
	transition: .3s opacity;
}

.progress-status {
	position: absolute;
	top: 51px;
	left: 0px;
	right: 0px;
}

.progress-number {
	font-size: 30px;
	font-weight: 500;
}

.progress-status-text {
	font-size: 16px;
	color: black;
}

.edit-project-icon {
	width: 24px;
	height: 24px;
	margin: 0 auto;
}

.plan-assessment-icon {
	width: 24px;
	height: 24px;
	margin: 0 auto;
}

.project-card-actions {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	transition: opacity .3s;
	z-index: -1;
	opacity: 0;
	background-color: #e7e7e7;
	border-radius: 4px;
	padding: 0px 13px;
}

.project-card-actions > a:nth-child(even) {
	border-left: 1px solid rgba(152, 152, 152, 0.3);
}

.project-card-actions > a:nth-child(2) ~ a {
	border-top: 1px solid rgba(152, 152, 152, 0.3);
	z-index: 1;
}

.project-card-actions::before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0px;
	width: 5px;
	background-image: linear-gradient(to bottom, #e7e7e7 0px, #e7e7e7 20px, transparent 20px, transparent calc(100% - 20px), #e7e7e7 calc(100% - 20px), #e7e7e7 100%);
	margin: auto;
}

.edit-project-action,
.plan-assessment-action {
	-webkit-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-align-items: flex-end;
	    -ms-flex-align: end;
	        align-items: flex-end;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
	padding: 0px 30px;
	width: 50%;
}

.edit-project-text,
.plan-assessment-text {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	max-width: 100%;
	padding-top: 5px;
}

.project-action-icon {
	font-size: 12px;
	color: black;
	fill: #454545;
	cursor: pointer;
	line-height: 12px;
	padding: 10px 30px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 50%;
	min-width: 50%;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.project-action-icon:hover {
	fill: black;
}

.search-txt-input {
	width: 100%;
	border: none;
	background-color: transparent;
	padding: 10px;
}

.search-txt-input:focus {
	outline: none;
}

.active .search-txt-input {
	background-color: white;
	box-shadow: inset 0px 0px 0px 1px #ccc;
}

.search-section {
	padding-right: 21px;
	width: 104px;
	transition: .3s width;
	margin-bottom: 0px;
	background-image: linear-gradient(to left, black 1px, transparent 0);
}

.search-section.active {
	width: 280px;
}

.search-text {
	-webkit-flex: auto;
	    -ms-flex: auto;
	        flex: auto;
}

.active .search-text {
	padding-left: 6px;
}

.locations-heading {
	padding-left: 13px;
}

.states-icon {
	width: 87px;
	height: 62px;
}

.zones-icon {
	width: 61px;
	height: 60px;
}

.districts-icon {
	width: 87px;
	height: 61px;
}

.tehsils-icon {
	width: 61px;
	height: 61px;
}

.cities-icon {
	width: 63px;
	height: 61px;
}

.blocks-icon {
	width: 66px;
	height: 61px;
}

.nyaya-panchayats-icon {
	width: 64px;
	height: 57px;
}

.gram-panchayat-icon {
	width: 61px;
	height: 25px;
	margin-top: 12px;
}

.revenue-villages-icon {
	width: 43px;
	height: 60px;
}

.villages-icon {
	width: 98px;
	height: 61px;
}

.religious-place-types-icon {
	width: 67px;
	height: 61px;
}

.venue-types-icon {
	width: 92px;
	height: 61px;
}

.locations-overview-card:hover {
	background-color: #e8e8e8;
	color: black;
}

.locations-overview-card:hover * {
	color: unset;
}

.edit-action-icon {
	width: 14px;
	height: 17px;
	cursor: pointer;
}

.delete-action-icon {
	width: 14px;
	height: 17px;
	cursor: pointer;
}

.locations-list-content {
	padding-right: 189px;
}

.list-actions {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 76px;
	-webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.log-title-text {
	color: #005491;
	font-size: 16px;
}

.log-title:hover {
	text-decoration: none;
}

.log-version {
	color: #1c1d22;
	font-size: 14px;
}

.select-label.select-label.select-label.select-label {
	color: #020202;
	font-size: 16px;
	font-weight: 700;
	padding-right: 15px;
	margin: 0px;
}

.filter-contianer > div.form-group.form-group {
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.filter-contianer > * ~ .form-group {
	padding-left: 37px;
}

.log-status--partial {
	fill: rgba(255, 36, 0, 0.8);
}

.log-status--rejected {
	fill: rgba(239, 1, 1, 0.8);
}

.log-status--approved {
	fill: rgba(36, 206, 13, 0.8);
}

.log-status--awaiting {
	fill: rgba(0, 153, 255, 0.8);
}

.log-status-icon {
	width: 30px;
	height: 31px;
	position: relative;
}

.lms-log-status-section {
	width: 78px;
	padding-right: 15px;
}

.duration-icon {
	width: 15px;
	height: 15px;
	fill: #0099ff;
	display: inline-block;
	vertical-align: middle;
	margin-right: 7px;
}

.comment-icon {
	width: 20px;
	height: 14px;
	position: relative;
	fill: #454650;
}

.delete-icon {
	width: 12px;
	height: 16px;
	fill: #454650;
	cursor: pointer;
}

.undo-icon {
	fill: #454650;
	width: 13px;
	height: 15px;
}

.log-list-actions {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-left: auto;
}

.log-tabs-menu.log-tabs-menu.log-tabs-menu.log-tabs-menu {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.log-tabs-menu.log-tabs-menu.log-tabs-menu.log-tabs-menu .menu-item {
	-webkit-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	margin: 0 !important;
	text-align: center;
	background-color: transparent;
	border: none;
	border-bottom: 3px solid transparent !important;
}

.log-tabs-menu.log-tabs-menu.log-tabs-menu.log-tabs-menu .menu-item a {
	border: none;
	border-radius: 0px;
	background-color: transparent !important;
	padding: 10px 0px;
	color: #1c1d22;
	font-size: 14px;
}

.log-tabs-menu.log-tabs-menu.log-tabs-menu.log-tabs-menu .menu-item.active-tab {
	border-bottom: 3px solid #36383d !important;
}

.log-tabs-menu.log-tabs-menu.log-tabs-menu.log-tabs-menu .menu-item.active-tab a {
	font-size: 16px;
	color: #2a2b28;
	font-weight: 700;
}

.lms-tab-pane {
	border: none !important;
	padding: 0px 20px;
}

.content-wrapper--log {
	padding: 8px;
}

.lms-drag-drop.drag-drop {
	border: 1px dashed #000 !important;
	height: 61px;
	color: #1c1d22;
	margin: 0;
	margin-top: 20px;
	margin-bottom: 25px;
}

.drag-drop-icon {
	width: 30px;
	height: 20px;
}

.lms-drag-drop-text-section {
	position: absolute;
	bottom: 50%;
	-webkit-transform: translate(50%, 50%);
	        transform: translate(50%, 50%);
	right: 50%;
	white-space: nowrap;
}

.lms-clear-all-text {
	color: #1c1d22;
	font-size: 14px;
}

.lms-segment-files-list {
	color: #1c1d22;
	font-size: 14px;
	margin: 0px !important;
}

.lms-segment-files-list li {
	padding: 14px 0px !important;
	border: none !important;
}

.lms-tab-container {
	max-height: none !important;
}

.lms-log-item {
	color: #2a2b28;
	padding-bottom: 20px;
}

.lms-log-by {
	font-size: 16px;
}

.lms-log-details {
	font-size: 12px;
}

.lms-log-details > div {
	padding: 0px 10px;
}

.lms-log-details > div:first-child {
	padding-left: 0px;
}

.lms-log-details > div:first-child ~ div {
	border-left: 1px solid black;
}

.lms-log-status {
	font-size: 13px;
	margin-top: 5px;
}

.lms-log-details-version {
	min-width: 140px;
	width: 140px;
}

.lms-dropdown-toggle {
	width: 13px;
	height: 12px;
	fill: rgba(2, 2, 2, 0.6);
	display: block;
}

.lms-content-log-add {
	padding-right: 10px;
}

.lms-content-add-btn-section {
	padding-top: 15px;
}

.lms-content-log-table tbody tr > td {
	vertical-align: top !important;
}
.lms-content-close-icon {
	width: 13px;
	height: 11px;
	fill: #252525;
	margin-top: 2px;
	margin-bottom: 5px;
	cursor: pointer;
}

.lms-content-comment-section {
	padding: 0px 10px 0px 20px;
}

.lms-content-comment-text {
	font-size: 15px;
}

.lms-content-comment-small-text {
	font-size: 13px;
}

.lms-content-comment-filtering {
	margin: 30px -10px 20px -20px;
	border-top: 1px solid #81a1c4;
	border-bottom: 1px solid #81a1c4;
	padding: 10px;
}

.lms-content-comment-filtering .dropdown-toggle {
	width: 120px !important;
	min-width: 0px !important;
}

.lms-content-comment-filtering .drop-menu-main {
	right: 0px;
}

.lms-comment-person-icon {
	width: 11px;
	height: 13px;
	margin-right: 10px;
}

.lms-comment-more-icon {
	width: 4px;
	height: 16px;
	cursor: pointer;
	margin-right: 7px;
}

.lms-comment-item-info > div + div {
	margin-left: 12px;
}

.lms-content-comment + .lms-content-comment {
	margin-top: 30px;
}
.lms-content-log-thumbnail-section {
	width: 50px;
	height: 50px;
	min-width: 50px;
	min-height: 50px;
	position: relative;
	margin-right: 15px;
	-webkit-align-self: center;
	    -ms-flex-item-align: center;
	            -ms-grid-row-align: center;
	        align-self: center;
	cursor: pointer;
	display: block;
	overflow: hidden;
}

.lms-content-log-thumbnail-section img {
	max-width: 100%;
	max-height: 100%;
	display: block;
}

.lms-content-log-thumbnail-section input {
	width: 0px;
	height: 0px;
	visibility: hidden;
}

.lms-content-log-thumbnail-upload {
	display: none;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: rgba(2, 2, 2, 0.6);
	margin-bottom: 0px;
	cursor: pointer;
}

.lms-content-log-thumbnail-section:hover .lms-content-log-thumbnail-upload {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.lms-content-log-thumbnail-upload .upload-icon {
	width: 30px;
	height: 30px;
	margin: auto auto;
	fill: white;
}

.lms-no-image-uploaded-icon {
	width: 50px;
	height: 50px;
}
.lms-filter-icon {
	width: 15px;
	height: 15px;
	margin-left: 19px;
	cursor: pointer;
}

.lms-lesson-edit-icon {
	width: 17px;
	height: 18px;
	cursor: pointer;
	margin-left: 20px;
}

.lms-lesson-days {
	color: #1c1d22;
	font-size: 16px;
	padding: 0px 10px;
	border-left: 1px solid #c4c7ce;
}

.lms-lesson-section-heading {
	padding: 0px 10px;
}

.lms-lesson-heading-section {
	padding: 18px 12px 8px 0px;
	text-decoration: none;
}

.lms-lesson-heading-section:hover,
.lms-lesson-heading-section:active,
.lms-lesson-heading-section:focus {
	text-decoration: none;
}

.lms-lesson-heading-section.collapsed .lms-dropdown-toggle {
	-webkit-transform: rotate(-90deg);
	        transform: rotate(-90deg);
}

.lms-lesson-heading-section .lms-dropdown-toggle {
	transition: .3s transform;
}

.lms-lesson-content.panel {
	padding-left: 10px;
	margin-bottom: 0px;
	background-color: transparent;
	border: none;
	border-radius: 0px;
	box-shadow: none;
}

.lms-is-edit-mode .lms-lesson-edit-icon {
	display: none;
}

.lms-is-edit-mode .lms-submit {
	display: block;
}

.lms-submit {
	display: none;
}

.lms-lesson-day-number {
	padding-right: 20px;
}

.lms-day-wise-header {
	padding-top: 17px;
	padding-bottom: 13px;
}

.lms-lesson-day-wise {
	margin-left: 21px;
	margin-right: 10px;
}

.lms-lesson-table th {
	background-color: #a1c9f5;
}

.lms-editable-content {
	padding: 5px 10px;
}

.lms-editable-content[contenteditable] {
	box-shadow: inset 0px -1px 0px 0px #888885 !important;
}

.lms-editable-content[contenteditable]:focus {
	outline: none;
}

.lms-is-edit-mode .lms-non-editable-content {
	box-shadow: inset 0px -1px 0px 0px #888885 !important;
	padding: 5px 10px;
}
.lms-lesson-content:not(.lms-is-edit-mode) .delete-icon {
	/* display: none; */
}

.lms-lesson-content.lms-is-edit-mode .delete-icon {
	/* display: block; */
}

.lms-add-new-item {
	padding-top: 0px;
	padding-bottom: 0px;
	cursor: pointer;
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
}

.lms-add-new-day {
	display: none;
	margin-left: 25px;
}

.lms-lesson-content.lms-is-edit-mode .lms-add-new-day {
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
	padding: 0px;
}

.lms-add-new-day .create-item-icon {
	fill: #005491;
}

.lms-add-new-day .create-item-text {
	color: #005491;
}

.lms-lesson-content-summary {
	padding-left: 25px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 40%;
}

.lms-lesson-heading-section.lms-underline:not(.collapsed),
.lms-lesson-table th.lms-lesson-heading-section:not(.collapsed) {
	box-shadow: none;
}

.lms-prerequisites-icon {
	width: 21px;
	height: 17px;
	margin-right: 5px;
	fill: #005491;
}

.lms-prerequisites-section {
	padding-right: 20px;
	border-right: 1px solid #caccd3;
	color: #005491;
	cursor: pointer;
}

.lms-lesson-small-font {
	font-size: 12px;
}

.lms-td-edit-view {
	/* display: none; */
}

.lms-td-edit-view button.multiselect {
	width: 100px !important;
	min-width: 0px !important;
}

.lms-edit-view-textbox {
	min-width: 40px;
	width: 100%;
	border: none;
	box-shadow: inset 0px -1px 0px 0px #888885;
	display: block;
	background-color: transparent;
	height: 30px;
}

.lms-edit-view-textbox:focus {
	outline: none;
}

textarea.lms-edit-view-textbox {
	line-height: 25px;
	height: 30px;
	resize: none;
}

.lms-modal-table.lms-modal-table.lms-modal-table.lms-modal-table.lms-modal-table.lms-modal-table.lms-modal-table.lms-modal-table.lms-modal-table.lms-modal-table td {
	padding: 5px 15px !important;
	font-size: 14px !important;
	color: #1c1d22;
}

.lms-modal-footer-wrapper {
	padding: 0px 25px;
}

.lms-modal-header {
	padding-left: 40px;
	padding-right: 40px;
}

.lms-filter-container {
	padding-bottom: 10px;
}

.lms-teacher-content {
	padding-top: 25px;
}

.lms-teacher-showing-text {
	color: #2a2a2a;
	font-size: 16px;
	padding: 3px 10px;
}

.lms-teacher-schools-container {
	width: 360px;
}

.lms-map-grade-section {
	-webkit-flex: auto;
	    -ms-flex: auto;
	        flex: auto;
	padding-left: 40px;
}

.lms-teacher-schools-list {
	background-color: #a1c9f5;
}

.lms-teacher-school-item {
	padding: 25px 25px;
	color: black;
	box-shadow: inset 6px 0px 0px 0px #a1c9f5, inset -22px 0px 0px 0px #a1c9f5, inset 0px -1px 0px 0px rgba(0, 0, 0, 0.2);
}

.lms-teacher-school-item.active,
.lms-teacher-school-item:hover {
	background-color: #f4f4f4;
	box-shadow: 0px -1px 0px 0px #f4f4f4;
}

.lms-teacher-school-item.active .lms-expand-icon,
.lms-teacher-school-item:hover .lms-expand-icon {
	display: none;
}

.lms-teacher-school-item.active .lms-close-icon,
.lms-teacher-school-item:hover .lms-close-icon {
	display: block;
}

.lms-teacher-school-item .lms-close-icon {
	display: none;
	width: 10px;
	height: 11px;
}

.lms-teacher-school-item .lms-expand-icon {
	width: 7px;
	height: 11px;
}

.lms-teacher-school-item .lms-expand-icon,
.lms-teacher-school-item .lms-close-icon {
	color: black;
	text-decoration: none;
}

.lms-grades-section {
	padding-top: 10px;
	padding-left: 10px;
	width: 330px;
}

.lms-grade-section {
	padding-top: 15px;
}

.lms-grade-header {
	color: #2a2a2a;
	font-weight: 700;
	font-size: 16px;
}

.lms-grade-section-btns {
	padding: 16px 0px;
}

.lms-grade-section-btn {
	width: 110px;
	height: 34px;
	display: inline-block;
	vertical-align: middle;
	border-radius: 34px;
	text-align: center;
	line-height: 34px;
	font-size: 14px;
	color: #2a2a2a;
	background-color: #a1c9f5;
	margin-right: 16px;
}

.lms-grade-section-btn.active {
	background-color: #5d95d3;
}

.lms-teacher-map-save-btn {
	padding: 35px 0px;
}

.lms-content-manager-content {
	width: 100% !important;
	border-right: none !important;
	padding-right: 0px !important;
}

.lms-content-manager-tree-view {
	
}

.lms-content-manager-tree-view table {
	padding-top: 0px !important;
}

.lms-content-manager-tree-view tbody tr > td {
	vertical-align: top !important;
}

.lms-content-manager-tree-view tbody tr:first-child td {
	background: none !important;
}

.lms-content-manager-tree-view .log-list-actions {
	
}

.lms-content-manager-tree-view .action-icon {
	width: 22px;
	height: 22px;
	display: -webkit-flex !important;
	display: -ms-flexbox !important;
	display: flex !important;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	border-radius: 50%;
	fill: white;
}

.lms-content-manager-tree-view .action-icon--play {
	background-color: #6a6b73;
}

.lms-content-manager-tree-view .action-icon--approve {
	background-color: #00a651;
}

.lms-content-manager-tree-view .action-icon--reject {
	background-color: #f26c4f;
}

.lms-approve-icon {
	width: 12px;
	height: 12px;
}

.lms-reject-icon {
	width: 12px;
	height: 13px;
}

.lms-play-icon {
	width: 9px;
	height: 9px;
	margin-top:-2px;
}

.breadcrumb {
	padding-left: 0px;
	padding-top: 12px;
	margin-bottom: 0px;
}

table.table.table.table.table.table > thead > tr > th,
table.table.table.table.table.table > tbody > tr > td {
	padding-top: 20px !important;
	padding-bottom: 20px !important;
}

table.table.table.table.table.table > tbody > tr >td {
	border-top: none;
	color: #333;
	font-size: 16px;
	border: none;
	word-wrap: break-word;
    word-break: break-all;
}

table.table.table.table.table.table > thead > tr > th {
	border-top: 1px solid #ddd; /* custom css override: shiksha.css */
	color: #000;
	font-size: 16px;
	vertical-align: text-top;
}

select.form-control {
	border: none;
	border-bottom: 1px solid black;
	border-radius: 0px;
	box-shadow: none;
	padding-bottom: 0px;
	padding-top: 0px;
	height: 30px;
}

select.form-control:focus {
	box-shadow: none;
}

.multiselect.dropdown-toggle {
	border: 2px solid transparent !important;
	border-bottom: 2px solid #0065ae !important;
	border-radius: 0px;
	height: auto !important;
}

.multiselect.dropdown-toggle:hover {
	border: 2px solid transparent !important;
	border-bottom: 2px solid #0065ae !important;
	background-color: transparent !important;
}

table thead .multiselect.dropdown-toggle,
table thead .multiselect.dropdown-toggle:hover {
	background-color: transparent;
	border-radius: 4px !important;
	height: 20px !important;
	border: 1px solid #8c8c8c !important;
}
.has-error .multiselect.dropdown-toggle,
.has-error .multiselect.dropdown-toggle:hover {
	border-bottom-color: #e04018 !important;
}
.duration-edit {
	color: #1c1d22;
	font-size: 14px;
}

.lms-container {
	max-height: calc(100vh - 78px);
}

.shk-collapse-container.has-tab-view .shk-collapse-main.shk-collapse-main {
	max-height: 100%;
}

.shk-tab-container {
	background-color: #a1c9f5;
}

#contentTreeView > tbody > tr > td {
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 1px, transparent 0);
}

.bootstrap-table-custom table tbody tr.shk-nugget td:first-child {
	background-image: linear-gradient(to right, white 70px, transparent 0), linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 1px, transparent 0) !important;
}

.bootstrap-table-custom table tbody tr.shk-segment td:first-child {
	background-image: linear-gradient(to right, white 102px, transparent 0), linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 1px, transparent 0) !important;
}

tr:not(.open) .lms-dropdown-toggle {
	-webkit-transform: rotate(-90deg);
	        transform: rotate(-90deg);
}

.dropdown-toggle {
	box-shadow: none !important;
	background: none !important;
}

.dropdown-toggle.btn.btn-default .caret {
	width: 10px !important;
	height: 13px !important;
	border: none !important;
	background-image: url("../images/dropdown.svg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center;
	float: none !important;
	margin: 0 !important;
	position: absolute;
	right: 2px !important;
	bottom: 50%  !important;
	-webkit-transform: translateY(50%);
	        transform: translateY(50%);
}

table thead .dropdown-toggle.btn.btn-default .caret {
	border-bottom-color: transparent !important;
	border-bottom-style: solid !important;
	border-bottom-width: 4px !important;
	border-collapse: separate !important;
	border-image-outset: 0px !important;
	border-image-repeat: stretch !important;
	border-image-slice: 100% !important;
	border-image-source: none !important;
	border-image-width: 1 !important;
	border-left-color: transparent !important;
	border-left-style: solid !important;
	border-left-width: 4px !important;
	border-right-color: transparent !important;
	border-right-style: solid !important;
	border-right-width: 4px !important;
	border-top-color: #111111 !important;
	border-top-style: solid !important;
	border-top-width: 4px !important;
	color: #333333 !important;
	cursor: pointer !important;
	display: block !important;
	float: none !important;
	font-size: 14px !important;
	font-weight: bold !important;
	height: 8px !important;
	line-height: 20px !important;
	margin-left: -20px !important;
	margin-top: 2px !important;
	position: absolute !important;
	right: 8px !important;
	text-transform: none !important;
	top: 4px !important;
	white-space: nowrap !important;
	width: 8px !important;
	background: none !important;
}

.view-pager .text-center {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.view-pager .text-center .dataTables_info:first-child {
	font-size: 12px;
	color: rgba(0, 0, 0, 0.5);
	padding: 0px;
}

@media (max-width: 1200px) {

.page-wrapper {
	padding-right: 25px;
	padding-left: 25px;
}

}

@media (max-width: 1199px) {

.lms-login-new-section {
	top: 22%;
}

}

@media (max-width: 1070px) {

.login-type-section {
	padding: 10px;
}

}

@media (max-height: 600px) {

.video-main video {
	height: 300px;
}

