@CHARSET "UTF-8";
@font-face {
    font-family: fely;
    src: url(fonts/Fely.otf);
    src: url(fonts/Fely.otf);
}
html{
	background-color:white;
}
body{
	padding-bottom: 60px !important;
}
.cursor-hand{
	cursor:pointer;
}
.bs-callout {
    padding: 10px;
    margin: 0px;
    border: 1px solid transparent;
    border-left-width: 5px;
    border-radius: 4px;
}
.bs-callout h4,.bs-callout p.messsage-heading {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 0px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {    
    border-color: #428bca;
    border-width:1px 1px 1px 40px;
}
.bs-callout-primary h4 {
    color: #428bca;
}

.bs-callout-primary p:before{
	color:white;
	position: absolute;
  	top: 38%;
    left: -25px;
}
.bs-callout-primary p{
	content:"\2713";
	color:white;
	position: absolute;
   	top: 38%;
    left: -25px;

}
.bs-callout-default {    
    border-color: #777;
    border-width:1px 1px 1px 40px;
    padding:8px;
    line-height:1.75;
}
.bs-callout-default h4 {
    color: rgb(51, 51, 51);
}
.bs-callout-default p:before{
	color:white;
	position: absolute;
  	top: 35%;
    left: -25px;
    margin:0;
}
.bs-callout-default p{
	content:"\2713";
	color:white;
	position: absolute;
   	top: 38%;
    left: -25px;
    margin:0;
}

.bs-callout-danger {    
    border-color: #ef2929;
    border-width:1px 1px 1px 40px;
}
.bs-callout-danger p:before{
	color:white;
	position: absolute;
  	top: 35%;
    left: -25px;
}
.bs-callout-danger p{
	color:white;
	position: absolute;
   	top: 35%;
    left: -25px;
}
.bs-callout-warning p:before{
	color:white;
	position: absolute;
  	top: 35%;
    left: -25px;
}
.bs-callout-warning p{
	color:white;
	position: absolute;
   	top: 25%;
    left: -29px;
    font-size: 18px;
}
.bs-callout-warning {    
    border-color: #fcaf3e;
    border-width:1px 1px 1px 40px;
}
.bs-callout-success ul{
    margin-bottom: 0px;
}
.bs-callout-success {
    border-color: #5cb85c;
    border-width:1px 1px 1px 40px;
    margin-bottom: 10px;
}
.bs-callout-success p.icon-mark:before{
	color:white;
	position: absolute;
    top: 50%;
    left: 40px;
}
.bs-callout-success p.icon-mark{
	content:"\2713";
	color:white;
	position: absolute;
    top: 38% !important;
    left: 40px;
}
.bs-callout-success p.messsage-heading {
    color: #131513;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}
.bs-callout-help {
    border-left-color: #5bc0de;
}
.bs-callout-help h4 {
    color: #5bc0de;
}
.bs-callout-help p:before{
	color:white;
	position: absolute;
  	top: 35%;
    left: -25px;
}
.bs-callout-help p{
	color:white;
	position: absolute;
   	top: 25%;
    left: -29px;
    font-size: 18px;
}
.bs-callout-help p.icon-mark{
   	top: 29%;
    left: -27px;
    font-size: 14px;
}
.bs-callout-help {    
    border-color: #5bc0de;
    border-width:1px 1px 1px 40px;
}



.add-button-row {
  padding-right: 15px;
}
div#divSaveAndAddNewMessage p {
    left: 29px;
    top: 45%;
}
div#divSaveAndAddNewMessage p.schools-success {
	left:14px !important;
}
#form_addZone div#divSaveAndAddNewMessage p.icon-mark, #addStateForm div#divSaveAndAddNewMessage p.icon-mark{
	left:13px;	
	top:38% !important;
}
button.multiselect.dropdown-toggle.btn.btn-default {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
}

table.dataTable thead > tr > th {
    padding-left: 8px;
    padding-right: 18px;
}
.main-container .container{
	padding-left: 25px;
    padding-right: 10px;
    padding-bottom:50px;
}

.container .jumbotron {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    background-color: white;
    border-color: #dddddd;
    border-width: thin;
    border-style: solid;
    padding-bottom: 20px;
}
.btn-download-link{
	padding-left:0px;
}
.modal-content form{
	/* padding-right:10px;
	padding-left:10px; */
}
.btn-group .btn-primary,.form-group .btn-danger,.btn-group .btn-danger{
	border-top-right-radius: 4px !important;
	border-bottom-right-radius: 4px !important;
	border-top-left-radius: 4px !important;
	border-bottom-left-radius: 4px !important;
}
.btn-group .btn-primary:nth-child(2){
	margin-left:10px !important;
}
.page-header {
    margin: 20px 0px 5px !important;
    padding-bottom: 2px !important;
}
.table {
	border-collapse: separate !important;
}

.table>thead>tr>th {
	vertical-align: bottom;
	border-bottom: 1px solid #ddd !important;
}
.table.complex-table-border>thead>tr>th{
	border-bottom: 1px solid #bac7fe !important;
	border-right: 1px solid #bac7fe !important;
	text-align: center !important;
	font-size: 12 !important;
	 min-width: 25px !important;
}
.table.complex-table-border>tbody>tr>td{
	
	 border-right: 1px solid #bac7fe !important;
	 font-size: 12 !important;
	 min-width: 30px !important;
	 font-weight: normal;
	 text-align: center !important;
}
.table.complex-table-border>tbody>tr>th{
	
	 border-right: 1px solid #bac7fe !important;
	 font-size: 12 !important;
	 min-width: 30px !important;
	 font-weight: normal;
	 text-align: center !important;
}
.page-header h1{
	margin:0px;
}
#success-msg{
	float:right;
	margin: 0px;
	padding: 6px 10px; 
	display:inline-block;
}
.page-header .btn-primary{
	margin-top:3px;
}
.modal-content form #reset{
	border-top-right-radius: 4px !important;
	border-bottom-right-radius: 4px !important;
	border-top-left-radius: 4px !important;
	border-bottom-left-radius: 4px !important;
	float:right;
}
.modal-content form .btn-group,.modal-content .btn-group{ 
	width:100%;
	margin-top:5px !important;
}
.page-header .breadcrumb{
	margin-bottom:10px !important;
	padding-left: 0px;
}
.page-header form{
	margin-bottom: 0px;
}
.page-header .form-group{
	margin-bottom: 0px;
	padding-bottom: 15px;
    padding-left: 0;
}
.alert{
	/* margin:15px; */
}
.dataTables_filter input{
	width:300px !important;
	margin-left:4px;
}
.question-dropdown{
	margin-bottom: 5px !important;
    margin-top: 5px !important;
}
.col-left-padding{
	padding-left:0px !important;
}
.col-right-padding{
	padding-right:0px !important;
}
.outer-loader {
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 99999;
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}

#loader {
	background: rgb(45, 45, 45);
	position: absolute;
	top: 40%;
	z-index: 11111111111111;
	height: 50px;
	width: 50px;
	left: 47%;
	border-radius: 5px;
}
table tr td .btn-group button,table tr td .btn-group a{
	padding:0px !important ;
}
table tr td .btn-group button:nth-child(2),table tr td .btn-group button:nth-child(3),table tr td .btn-group a{
	margin-left:15px !important;
}
table tr td	, table tr th{
	font-size:14px;
	padding:4px !important;
}
.modal table tr td	,.modal table tr th{
	font-size:12px !important;
	padding:4px !important;
}
.dataTables_info{
	text-align:left;
}
.footer{
	position: fixed;
    bottom: 0px;
    width: 100%;
    height: 40px;
    background-color: #337aba;
    border-top: 1px;
    z-index: 999;
    padding-right: inherit;
    left:0px;
}
table tr td .btn-group button.disabled{
	pointer-events:none;
}
button#btnSaveAddLegendPopup{
	margin-bottom: 5px !important;
	margin-right: 10px !important;
}
#excelUploadForm .form-group.col-xs-6.clearfix .btn-group{
	    width: 100%;
    display: block;
}
#excelUploadForm .form-group.col-xs-6.clearfix button{
	    width: 100%;
	    height:36px;
	    text-align:left;
}
#excelUploadForm .form-group.col-xs-6.clearfix button .caret{
	    float:right;
	    margin-top:11px;
}

.main-image{
    margin-top:50px; 
    height:500px;    
    background:url(../images/rounded-corner-main.png) no-repeat; 
    color:#337aba;
    background-size: 100%;
}

.main-image h2{
    margin-top: 125px;
    width: 500px;
    display: inline-block;
}
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
//
.dropdown-menu:hover> Ul li{
    display: block;
}
.dropdown-menu{
	 min-width: 100% !important;
}
.modal button.multiselect.dropdown-toggle.btn.btn-default{
	width:inherit !important;
}
button.multiselect.dropdown-toggle.btn.btn-default{
	width: 200px;	 
    text-align: left;
    height: 34px;
    font-size:14px;
}
button.multiselect.dropdown-toggle.btn.btn-default .caret{
	float:right;
	margin-top:10px;
}
#mdlEditDistrict .editResetFilterDivForDistrict,
#mdlEditTehsil .editResetFilterDiv,
#mdlEditCity .editResetFilterDivForCity,
#mdlEditBlock .editResetFilterDivForBlock,
#mdlEditNyayPanchayat .editResetFilterDivForNyayaPanchayat,
#mdlEditGramPanchayat .editResetFilterDivForPanchayat,
#mdlEditRevenueVillage .editResetFilterDivForRevenueVillage,
#mdlEditVillage .editResetFilterDivForVillage,
#mdlEditSchool .editResetFilterDivForSchool{
	display:none !important;
}
/* .shikshaDropDown .form-group  .btn-group{
	    width: 100% !important;
	    min-width:100 !important;
    display: block;
}
.shikshaDropDown .form-group  .btn{
	    width: 100% !important;
	    height:34px !important;
	   text-align:left !important; 
	    font-size: 15px !important;
}
.shikshaDropDown .form-group  .btn .caret{
	    float:right !important;
	    margin-top:11px !important;
	    margin-left: 90px!important;
}
   .shikshaDropDown {
	   padding-bottom: 12px;
} */



/*
* progress bar,status column customization
*/
#tableCampaign .progress{
	margin-bottom:0px;
}
#tableCampaign span.label{
	position:absolute;
	margin-top:-8px;
	max-width:140px !important;
	border-radius: 1.4em !important;
}

#tblPlanAssmnt .progress{
	margin-bottom:0px;
}
#tblPlanAssmnt span.label{
	position:absolute;
	margin-top:-8px;
	max-width:140px !important;
	border-radius: 1.4em !important;
}

#tableschoolDashboard .progress{
	margin-bottom:0px;
}
#tableschoolDashboard  span.label{
	position:absolute;
	margin-top:-8px;
	max-width:140px !important;
	border-radius: 1.4em !important;
}
#tableAssessmentDashboard .progress{
	margin-bottom:0px;
}
#tableAssessmentDashboard  span.label{
	position:absolute;
	margin-top:-8px;
	max-width:140px !important;
	border-radius: 1.4em !important;
}

.filterMessage{
	position: absolute; 
	display: none; 
	margin: 3% 0px 0px 20%; 
	z-index: 99;
}

.action,.action:hover{
	color: rgb(119,119,119);
	margin: 0px 5px;
	text-decoration: none;
	cursor: default;
	cursor: hand;
	
}

.action[disabled=true] {
    pointer-events: none; 
    cursor: not-allowed;
}


a.notactive {
 pointer-events: none;
 cursor: not-allowed;
 color: darkgrey;
}
.capitalize {
    text-transform: capitalize;
}
table thead button.multiselect.dropdown-toggle.btn.btn-default{
	width:25px !important;
	height:20px !important;
	top:-2px;
	margin-left: 5px;
	padding: 4px;
}
table thead button.multiselect.dropdown-toggle.btn.btn-default .caret{
	margin-top:2px !important;
}
table thead button.multiselect.dropdown-toggle.btn.btn-default.filter-enabled{
	padding-left:4px;
	top:-2px;
}

/* 
#addSchoolWizardTable{
		min-width: 594px !important;
		max-width:100px !important;
} */
table#addSchoolWizardTable.dataTable{	
	/* min-width:697px !important; */
	/* max-width:697px !important; */
}
#addSchoolWizardTable .chkboxlabel{
		cursor:hand ;
		font-weight: 100;
}
table#editSchoolWizardTable.dataTable{	
	/* min-width:697px !important; */
	/* max-width:697px !important; */
}
#editSchoolWizardTable .chkboxlabel{
		cursor:hand ;
		font-weight: 100;
}
.fuelux .wizard .step-content>.active .btn-group .active {
    display: block !important;    
}

#addCampaignSchoolWizard #divFilter .form-group {
    margin-bottom: 3px;
}
#addCampaignSchoolWizard table thead button.multiselect.dropdown-toggle.btn.btn-default {
	width:25px !important;
	height:16px !important;
}
#addCampaignSchoolWizard table thead .btn-group{
	width:1%;
	margin-top:-3px !important;
}
#addCampaignSchoolWizard table .multiselect-container>li {
	padding-left:6px !important;
}


#addUserSchoolWizard #divFilter .form-group {
    margin-bottom: 3px;
}
#addUserSchoolWizard table thead button.multiselect.dropdown-toggle.btn.btn-default {
	width:25px !important;
	height:16px !important;
}
#addUserSchoolWizard table thead .btn-group{
	width:1%;
	margin-top:-3px !important;
}
#addUserSchoolWizard table .multiselect-container>li {
	padding-left:6px !important;
}
#addUserSchoolWizard .multiselect-container.dropdown-menu{
	width:14em  !important;
}


#editUserSchoolWizard #divFilter .form-group {
    margin-bottom: 3px;
}
#editUserSchoolWizard table thead button.multiselect.dropdown-toggle.btn.btn-default {
	width:25px !important;
	height:16px !important;
}
#editUserSchoolWizard table thead .btn-group{
	width:1%;
	margin-top:-3px !important;
}
#editUserSchoolWizard table .multiselect-container>li {
	padding-left:6px !important;
}
#editUserSchoolWizard .multiselect-container.dropdown-menu{
	width:14em  !important;
}

#editUserCenterWizard #divFilter .form-group {
    margin-bottom: 3px;
}
#editUserCenterWizard table thead button.multiselect.dropdown-toggle.btn.btn-default {
	width:25px !important;
	height:16px !important;
}
#editUserCenterWizard table thead .btn-group{
	width:1%;
	margin-top:-3px !important;
}
#editUserCenterWizard table .multiselect-container>li {
	padding-left:6px !important;
}
#editUserCenterWizard .multiselect-container.dropdown-menu{
	width:14em  !important;
}
/*for school-gradesection && subjet teacher mapping*/
 table#tblGradeSection.dataTable,table#tblGradeSectionSubjectTeacher.dataTable{	
	min-width:700px !important;
	/* max-width:903px !important; */
}
table#tblGradeSectionSubjectTeacher.dataTable{	
	/* min-width:800px !important;
	max-width:903px !important; */
}
 
table#campaignSchoolTable.dataTable{	
	min-width: 85% !important;"
	max-width:903px !important;
}
table#campaignAssessmentTable.dataTable{	
	min-width: 85% !important;"
	max-width:903px !important;
}
/* toggle column header style */
  .toggle-col{ text-transform: uppercase;   margin-right: 2px;}
  
  /*  Scroll bar for save and add new function  */
  .scrollbar{
  overflow-y:auto;
   overflow-x:hidden;
  max-height:550px;
  }
  #cList li{
  word-wrap:break-word;
  }
  .delEleCustom {
    word-wrap:break-word;
}

}









/*browser native configs.....*/

input[type=checkbox]
{
  -webkit-appearance:checkbox;
  -moz-appearance:checkbox;
  appearance:checkbox;
}
input[type=radio]
{
  -webkit-appearance:radio;
  -moz-appearance:radio;
  appearance:radio;
}
td .div-tooltip{
	display: inline-flex; 
	padding-left: 0px; 
	position: absolute;
	margin-top:-8px
}




/* for online or offline */
.fa-ul>li {    
    color: red;
}
.fa-ul {    
	margin-left: 15px;
}





/* for screen 1000px resolution */
div#divToogle * {
    line-height: 2;
	padding-bottom: 2px;
    padding-top: 3px;
}

.panel{
	/* border-radius: 18px; */
}
.panel-group .panel {
   /*  border-radius: 18px; */
}


#timeout-message{
	z-index:999999;
}

/*  .multiselect-container .input-group{
	position: fixed;
    z-index: 100;
    width: inherit;
    background-color: white;
    padding: 10px;
    margin-top: 0px !important;
}
.multiselect-container>li:nth-child(2) {
    margin-top: 60px;
}
 */

#mdlAddSchoolForCamp #divSelectVillage .multiselect-container>li label, #mdlAddSchoolForCamp #divSelectRV .multiselect-container>li label,
#mdlAddSchoolForCamp #divSelectGP .multiselect-container>li label, #mdlAddSchoolForCamp #divSelectCity .multiselect-container>li label,
#mdlAddSchoolForUser #divSelectVillage .multiselect-container>li label, #mdlAddSchoolForUser #divSelectRV .multiselect-container>li label,
#mdlAddSchoolForUser #divSelectGP .multiselect-container>li label, #mdlAddSchoolForUser #divSelectCity .multiselect-container>li label,
#mdlAddSchoolForUser #divSchoolType .multiselect-container>li label, #mdlAddSchoolForUser #divSchool .multiselect-container>li label,
#mdlAddSchool #divSelectVillage .multiselect-container>li label, #mdlEditSchool #divSelectVillage .multiselect-container>li label,
#mdlAddSchool #divSelectCity .multiselect-container>li label, #mdlEditSchool #divSelectCity .multiselect-container>li label {
	height:auto;
}

/* #mdlAddSchoolForCamp #divSelectVillage .multiselect-container, #mdlAddSchoolForCamp #divSelectRV .multiselect-container, #mdlAddSchoolForCamp #divSelectGP .multiselect-container, #mdlAddSchoolForCamp #divSelectCity .multiselect-container, #mdlAddSchoolForUser #divSelectVillage .multiselect-container, #mdlAddSchoolForUser #divSelectRV .multiselect-container, #mdlAddSchoolForUser #divSelectGP .multiselect-container, #mdlAddSchoolForUser #divSelectCity .multiselect-container,  #mdlAddSchoolForUser #divSchoolType .multiselect-container, #mdlAddSchoolForUser #divSchool .multiselect-container, #mdlAddSchool #divSelectVillage .multiselect-container,  #mdlEditSchool #divSelectVillage .multiselect-container,#mdlAddSchool #divSelectCity .multiselect-container,  #mdlEditSchool #divSelectCity .multiselect-container {
	height:180px;
} */
button.multiselect{
	padding-right:20px !important;
}
button.multiselect .caret{
	right:10px;
	position:absolute;
	}
#stateDiv small.help-block,#zoneDiv small.help-block, #districtDiv small.help-block, #tehsilDiv small.help-block, #divSelectBlock small.help-block, #divSelectGP small.help-block, #divSelectNP small.help-block, #divSelectRV small.help-block, #divSelectVillage small.help-block,#divSchoolType small.help-block,#divSchool small.help-block {
	margin:0px;
}
input[type=file] {
    display: block;
    width: 500px;
}

/* datepicker towards upper */
.toupper{
	margin-top:-310px;
}
.truncate {
	text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
#divSelectAcademicYear .btn-group,#divSelectAcademicYear .btn-group button{
	width:100%;
}
#divAssessement ul.multiselect-container {
	position:relative;
}
#divAssessement ul.multiselect-container li{
	position: relative;
    display: block;
}
#divAssessement  .multiselect-container>li>a>label.checkbox{
	height:auto;
}


.checkBoxInTd{
	text-align: center !important;
	vertical-align: middle !important; 
}

#divVersion button.multiselect.dropdown-toggle.btn.btn-default{
	width:300px;
}
.wizardMaxHeight{
	max-height:500px !important;
	overflow-x:hidden;
	overflow-y:auto;
	
}
.wizardContentMaxHeight{
	max-height:400px !important;
	overflow-x:hidden;
	overflow-y:auto;
	
}

.reportDropBox button.multiselect.dropdown-toggle.btn.btn-default{
	 width: 175px !important;
}
.hideReportDiv{
	display:none;
}


.textCenter { 
	text-align: center !important;
	vertical-align: middle !important;
}
	 }
.text-center-bold{
	 font-weight: 700 !important;
	 text-align: center !important;
	 vertical-align: middle !important;
}
}

#showStudentDetailPopup{
	z-index:9999999;
}



.results tr[visible='false'],
.no-result{
  display:none;
}

.results tr[visible='true']{
  display:table-row;
}
.customheader{
	background: #C4E1FF;
}
.exportexcel{
	margin-bottom: 5px;
}
.metrics .dropdown-menu {
    min-width: 33% !important;
}

.modal-full-screen{
	min-width: 100% !important;
	max-width: 100% !important;
}
#year_dropBoxReportDashboardDiv .btn-group, #year_dropBoxReportDashboardDiv .btn-group >button,
#state_dropBoxReportDashboardDiv .btn-group, #state_dropBoxReportDashboardDiv .btn-group >button{
	width:100%;
}
.total-schools .btn-group > button,.total-schools .btn-group {
	width: 100% !important;
}

.project-details{
 		display: table;
 }	
 @media (min-width: 600px){
	.project-details{
		display: table;
	}	
 }

.popover-title{
	text-align: center;
	
}
.dashboard-margin-top-15 {
	margin-top: 15px !important;
}
.color-white {
	color: white;
}
.popover-studentAttendenceTrend{
    top: 17px;
    left: 0% !important;
    display: block;
    min-width: 100% !important;
   
}

/* .popover-arrow-studentAttendenceTrend{
	margin-left: 23.5% !important;
	left:50% !important;
} */
.popover-totalSchools{
    top: 17px;
    left: 0% !important;
    display: block;
    min-width: 100% !important;
   
}

/* .popover-arrow-totalSchools{
	margin-left: 23.5% !important;
	left:38% !important;
} */
.popover-totalStudentsSectorWise{
    top: 17px;
    left: 0% !important;
    display: block;
    min-width: 100% !important;
   
}

/* .popover-arrow-totalStudentsSectorWise{
	margin-left: 23.5% !important;
	left:38% !important;
} */
.popover-studentsPerformanceAcrossStates{
    top: 17px;
    left: 0% !important;
    display: block;
    min-width: 100% !important;
   
}

/* .popover-arrow-studentsPerformanceAcrossStates{
	margin-left: 23.5% !important;
	left:58% !important;
} */
.popover-studentsPerformanceAccrossProject{
    top: 17px;
    left: 0% !important;
    display: block;
    min-width: 100% !important;
   
}

/* .popover-arrow-studentsPerformanceAccrossProject{
	margin-left: 33% !important;
	left:49% !important;
	
} */
.popover-studentsPerformanceAcrossPhases{
    top: 17px;
    left: 0% !important;
    display: block;
    min-width: 100% !important;
   
}

/* .popover-arrow-studentsPerformanceAcrossPhases{
	margin-left: 33% !important;
	left:49% !important;
	
} */
.popover-dashboard{
	 background-color: rgba(0, 0, 0, 0.2);
}
.popover-dashboard >.arrow{
	 background-color: rgba(255, 255, 255, 0.4);
}
/*pie chart ldashborad**/
.piechartpadding{
	padding-bottom: 35px;
}

.legend-popover{
	min-width:100%;
	left:0px !important;
	background-color:rgba(255,255,255,0.8);
	border:1px solid rgba(0, 0, 0, 0.37);
}
.legend-popover .chart-legend ul{
	text-align:justify;
}
.popover-dashboard .arrow:after{
	border-bottom-color: rgba(0, 0, 0, 0.1) !important;
}

.popover-legendStudentsPerformanceAcrossProject{
	top: 17px;
	left: 0% !important;
	display: block;
	min-width: 100% !important;
   
}

.arrow-legendStudentsPerformanceAcrossProject{
margin-left: 33% !important;
left:15% !important;  
}



/**panel heding color*/
.panel-defaultcolor{
	 color: white !important;
    background-color: white !important;
    border-color: white !important;
}
.panelheadingcolor{
	background-color: white !important;
	padding: 0px 15px;
    text-align: left;
    font-size: 12px;
}

/* Filter icon css   */
.filter-icon{
	border: 1px solid #dad2d2;
    border-radius: 50%;
    padding: 7px 7px 4px 7px;
    background-color: #eee;
    border-bottom-style: inset;
    position: relative;
    top: 5px;
    font-size: 10px;
    line-height: 13px !important;
    position: absolute;
    right: 15px;
}
.popover-dashboard .arrow{
	    left: 94% !important;
}
.popover-dashboard .btn-container{
	padding-left:5px;
}
#canvas-holder #header{
	text-align:left
}
#canvas-holder .close-popover{
	position: absolute;
    right: 0px;
    top: -2px;
    border:none !important;
    text-decoration:none;
    outline:none;
    color : #6d6b6b;
    font-size:25px;
}
.legend-icon{
	font-size:9px;
}
.chart-filter-container{
	position:absolute;
	padding:35px 10px 10px 10px;
	z-index: 12;
    width: 90%;
    top:40px;
    background-color: rgba(255,255,255,0.9);
    border-radius: 5px;
    display:none;
    left:5%;
    border:1px solid rgba(0,0,0,0.1); 
}
.chart-filter-container:before{
	/* position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    content: "";
    border-width: 10px;
    border-bottom-color: rgba(0, 0, 0, 0.1) !important;
    top: -10px;
    margin-left: -10px;
    content: " ";
    border-top-width: 0;
    right:20px; */
}
.btn-container{
	text-align:left;
	padding-left: 5px;
}
.legend-panel{
	margin-bottom: 0px;
    background-color: transparent;
    border: none;
    border-radius: 0px;
    -webkit-box-shadow: none;
   box-shadow: none;
}
/*  CR-663   SHK-1605  */
.appread-late-student,tr[id$="_true"]{
	color: red !important;
   border-color: #ebccd1 !important;
}

/*utilities header menu customization*/
.utilities_menu{
	color: #707070;
    display: block;
    margin-left: 10px;
}
.dropdown-submenu>.scrollable-menu {
    max-height: 450px;
    overflow-x: hidden;
}

/* bootstrp table css*/
.columns.btn-group .btn{
	min-height: 34px;
	padding-right:25px;
}
.columns.btn-group .btn .caret.caret.caret{
	right:8% !important;
} 
.bootstrap-table .columns .dropdown-menu{
	min-width:250px !important;
	 margin: 0px;
}
.bootstrap-table-custom .fixed-table-toolbar .columns label{
	padding:3px 34px;
}
.columns .dropdown-menu input[type=checkbox]{
	position: absolute;
    left: 14px;
}

#editVillageDetailsForm label.error {
	color: red !important;
}

.center .form-group > label:not(.error) {
    font-weight: normal !important;
    color: #707070 !important;
} 
.lp-delete-warning{
	font-size: 13px;
	color: #f79100;
}

