
.spinner {
	position: fixed;
	z-index: 99999999999;
	overflow: auto;
	display: block;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0px;
	background: rgba(4, 4, 4, 0.31);
}

.spinner img {
	position: absolute;
	top: 45%;
}

/* loader css*/
.uil-reload-css.reload-background.reload-small {
	height: 40px;
	width: 40px;
}

.uil-reload-css.reload-background {
	background-color: #757572;
	border-radius: 50%;
}

.uil-reload-css.reload-small {
	height: 20px;
	width: 20px;
}

.uil-reload-css {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
	vertical-align: middle;
}

.uil-reload-css.reload-background.reload-small>div {
	left: 10px;
	top: 10px;
	border: 3px solid #FFFFFF;
	border-top: 3px solid transparent;
	border-right: 3px solid #FFFFFF tyle='background-color: #FFFFFF'>;
	border-bottom: 3px solid #FFFFFF;
}

.uil-reload-css.reload-background>div {
	border: 7px solid #FFFFFF;
	border-top: 7px solid transparent;
	border-right: 7px solid #FFFFFF;
	border-bottom: 7px solid #FFFFFF;
}

.uil-reload-css.reload-small>div {
	top: 0;
	left: 0;
	border: 3px solid #D8D1C9;
	border-top: 3px solid transparent;
	border-right: 3px solid #D8D1C9;
	border-bottom: 3px solid #D8D1C9;
	height: 20px;
	width: 20px;
}

.uil-reload-css>div {
	-ms-animation: uil-reload-css 1.4s linear infinite;
	-moz-animation: uil-reload-css 1.4s linear infinite;
	-webkit-animation: uil-reload-css 1.4s linear infinite;
	-o-animation: uil-reload-css 1.4s linear infinite;
	animation: uil-reload-css 1.4s linear infinite;
	display: block;
	position: absolute;
	top: 18px;
	left: 18px;
	width: 45px;
	height: 45px;
	border-radius: 100px;
	border: 7px solid #D8D1C9;
	border-top: 7px solid transparent;
	border-right: 7px solid #D8D1C9;
	border-bottom: 7px solid #D8D1C9;
}

.uil-reload-css.reload-background.reload-small {
	height: 40px;
	width: 40px;
}

.uil-reload-css.reload-background {
	background-color: #757572;
	border-radius: 50%;
}

.uil-reload-css.reload-small {
	height: 20px;
	width: 20px;
}

.uil-reload-css {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
	vertical-align: middle;
}

.uil-reload-css>div:after {
	content: " ";
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 0 8px 8px 8px;
	border-color: transparent transparent #D8D1C9 transparent;
	display: block;
	-ms-transform: translate(-3px, -5px) rotate(45deg);
	-moz-transform: translate(-3px, -5px) rotate(45deg);
	-webkit-transform: translate(-3px, -5px) rotate(45deg);
	-o-transform: translate(-3px, -5px) rotate(45deg);
	transform: translate(-3px, -5px) rotate(45deg);
}

.uil-reload-css.reload-background>div:after {
	border-color: transparent transparent #FFFFFF transparent;
}

.uil-reload-css.reload-small>div:after {
	border-width: 0 5px 5px 5px;
	-ms-transform: translate(-2px, -3px) rotate(45deg);
	-moz-transform: translate(-2px, -3px) rotate(45deg);
	-webkit-transform: translate(-2px, -3px) rotate(45deg);
	-o-transform: translate(-2px, -3px) rotate(45deg);
	transform: translate(-2px, -3px) rotate(45deg);
}
.round-spinner {
    position: relative;
    top: 45%;
}
@-webkit-keyframes uil-reload-css {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  50% {
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg); }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-webkit-keyframes uil-reload-css {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  50% {
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg); }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-moz-keyframes uil-reload-css {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  50% {
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg); }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-ms-keyframes uil-reload-css {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  50% {
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg); }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-moz-keyframes uil-reload-css {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  50% {
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg); }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-webkit-keyframes uil-reload-css {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  50% {
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg); }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-o-keyframes uil-reload-css {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  50% {
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg); }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes uil-reload-css {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  50% {
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg); }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }