﻿
@{
    ViewBag.Title = "Teacher";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="page">
    <div class="page-wrapper">
        <header class="header ">
            <div class="header-left">
                <a href="" class="logo logo-admin">
                    <img src="../assets/images/admin-logo.svg" />
                </a>
            </div>
            <div class="header-right">
                <div class="download-options header-nav-link html-click">
                    <div class="download-icon">
                        <svg>
                            <use xlink:href="#download" href="#download"></use>
                        </svg>
                    </div>
                    <ul class="menu-actions download-menu-actions">
                        <li href="#" class="menu-item">
                            <a href="#">Desktop</a>
                        </li>
                        <li href="#" class="menu-item">
                            <a href="#">Tablet</a>
                        </li>
                        <li href="#" class="menu-item">
                            <a href="#">Mobile</a>
                        </li>
                    </ul>
                </div>
                <div class="header-nav-link lang-change-icon active">
                    <svg>
                        <use xlink:href="#hindi-lang-toggle" href="#hindi-lang-toggle"></use>
                    </svg>
                    <svg>
                        <use xlink:href="#english-lang-toggle" href="#english-lang-toggle"></use>
                    </svg>
                </div>
                <div class="lms-notification-options header-nav-link html-click">
                    <div class="notifications-icon">
                        <svg>
                            <use xlink:href="#notification" href="#notification"></use>
                        </svg>
                        <div class="notifications-count">3</div>
                    </div>
                    <div class="menu-actions notifications-menu-items">
                        <div class="notifications-menu-items-header lms-side-center-far">
                            <div class="notifications-header">Notifications (2)</div>
                            <div class="lms-clear-all-icon" title="Clear All">
                                <svg>
                                    <use xlink:href="#clear-all" href="#clear-all"></use>
                                </svg>
                            </div>
                        </div>
                        <ul class="notifications-menu-items-list">
                            <li class="menu-item">
                                <a href="#" class="notification-item lms-unread">
                                    <div class="lms-notification-img">
                                        <img class="lms-notification-large-img" src="../assets/images/notifications/profile.png" alt="notification image" />
                                    </div>
                                    <div class="lms-notification-detail-section">
                                        <div class="lms-notification-detail"> Chauhan has raised an IT ticket - SC0824 </div>
                                        <div class="lms-notification-date">8 mins ago</div>
                                    </div>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="#" class="notification-item">
                                    <div class="lms-notification-img">
                                        <img class="lms-notification-small-img" src="../assets//images/notifications/schools-icon.svg" alt="notification image" />
                                    </div>
                                    <div class="lms-notification-detail-section">
                                        <div class="lms-notification-detail"> The Khaitan school, content updated successfully </div>
                                        <div class="lms-notification-date">1 day ago</div>
                                    </div>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="#" class="notification-item">
                                    <div class="lms-notification-img">
                                        <img class="lms-notification-small-img" src="../assets//images/notifications/upload-to-web.svg" alt="notification image" />
                                    </div>
                                    <div class="lms-notification-detail-section">
                                        <div class="lms-notification-detail"> Error in downloading content from web </div>
                                        <div class="lms-notification-date">1 day ago</div>
                                    </div>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="#" class="notification-item lms-no-notification-image">
                                    <!--<div class="lms-notification-img">
                                        <img class="lms-notification-small-img" src="../assets//images/notifications/upload-to-web.svg" alt="notification image" />
                                    </div>-->
                                    <div class="lms-notification-detail-section">
                                        <div class="lms-notification-detail"> This is one read notifications, which doesn't have any image on the left.. </div>
                                        <div class="lms-notification-date">2 days ago</div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <div class="lms-notification-view-all">
                            <a href="#" class="lms-notification-view-all-link">View All</a>
                        </div>
                    </div>
                </div>
                <div class="header-nav-link profile-section html-click">
                    <div class="profile-img-section">
                        <img class="profile-img" src="../assets/images/avatar.png" />
                    </div>
                    <div class="profile-info-section">
                        <div class="profile-name">Ranveer S</div>
                        <div class="profile-role">admin</div>
                    </div>
                    <div class="profile-more-options-section">
                        <div class="profile-more-option">
                            <svg>
                                <use xlink:href="#dropdown" href="#dropdown"></use>
                            </svg>
                        </div>
                    </div>
                    <ul class="profile-actions menu-actions">
                        <li class="menu-item">
                            <a href="#">Profile</a>
                        </li>
                        <li class="menu-item">
                            <a href="#">Settings</a>
                        </li>
                        <li class="menu-item">
                            <a href="#">Log out</a>
                        </li>
                    </ul>
                </div>
            </div>
        </header>
        <div class="">
            <div class="page-header">
                <div>
                    <ol class="breadcrumb">
                        <li class="active">
                            <a href="home">
                                Home
                            </a>
                        </li>
                        <li class="active">
                            <a href="navigate/user">
                                Users and Roles
                            </a>
                        </li>
                        <li class="active">
                            <spring:message code="app.menu.users"
                                            text="Users" />
                        </li>
                    </ol>
                </div>
                <div class="row">
                    <div class="col-xs-10">
                        <h2 class="page-head">
                            <spring:message code="app.menu.users" text="Users" />
                        </h2>
                    </div>

                    <div class="col-xs-2">
                        <security:authorize ifAnyGranted="PERMISSION_addUser">
                            <!-- <button type="button" class="aui-button pull-right aui-button-primary" style="display: inline-block;" onclick="invokeAddUserPage();">Add User</button> -->
                            <a class="create-items-section pull-right"
                               onclick="invokeAddUserPage();">
                                <div class="create-item-icon">
                                    <svg>
                                        <use xlink:href="web-resources/images/projects.svg#add"
                                             href="web-resources/images/projects.svg#add"></use>
                                    </svg>
                                </div>
                                <div class="create-item-text action-text">
                                    <spring:message code="user.add" text="Add User" />
                                </div>
                            </a>
                        </security:authorize>
                    </div>
                </div>
            </div>
            <form role="form" id="listUserForm">
                <div class="row">
                    <div class="col-xs-12 col-left-padding">
                        <div class="col-xs-3 col-left-padding">
                            <div class=" col-xs-12">
                                <label class="control-label" for="roleType">
                                    <spring:message code="user.selectRoleToViewList" text="Select Role to view list" />
                                </label>
                            </div>
                            <div class="col-xs-12">
                                <select class="form-control select" id="selectBox_roleType"
                                        onchange="getUsers();">
                                    <option value="NONE" selected disabled>Select" </option>
                                    @*<c:forEach items="${roleList}" var="role" varStatus="loop">
                                        <c:if test="${loginUserRoleId <= role.roleId}">
                                            <c:if test="${selectedRoleId==role.roleId}">
                                                <option selected="selected" value="${role.roleId}"
                                                        data-id="${role.roleId}"
                                                        data-isMappedToSchool="${role.isMappedToSchool}"
                                                        data-sequenceNumber="${role.sequenceNumber}">
                                                    ${role.roleName} (${role.roleCode})
                                                </option>
                                            </c:if>
                                            <c:if test="${selectedRoleId!=role.roleId}">
                                                <option value="${role.roleId}" data-id="${role.roleId}"
                                                        data-isMappedToSchool="${role.isMappedToSchool}"
                                                        data-sequenceNumber="${role.sequenceNumber}">
                                                    ${role.roleName} (${role.roleCode})
                                                </option>
                                            </c:if>
                                        </c:if>

                                    </c:forEach>*@
                                </select>
                            </div>
                        </div>
                        <div class="pull-right " style="display: none;"
                             id="linkToUploadTeacher">
                            <c:if test="${appType eq 0}">
                                <span id="bulkTextId">
                                    Want to add teachers in bulk? Use <a href="uploadTeacher">Bulk upload of Teachers</a>
                                </span>
                            </c:if>
                            <c:if test="${appType eq 1}">
                                <span id="bulkTextId">
                                    <spring:message code="user.wantToAddInstructorsInBulk?Use"
                                                    text="Want to add instructors in bulk? Use " /><a href="uploadTeacher">
                                        <spring:message code="user.bulkUploadOfInstructors"
                                                        text="Bulk upload of Instructors " />
                                    </a>
                                </span>
                            </c:if>
                        </div>

                    </div>
                </div>
                <!-- <div class="col-xs-12">
                <hr />
            </div> -->



                <div class="" style="display: none;" id="columnTableId">
                    <div class="toggle-col small help-block" id="divToogle">
                        <spring:message code="app.button.showHidecolumns"
                                        text="Show/Hide columns" />
                        : <a id="t0" class="label label-default" href="javascript:void(0);"
                             onclick="fnShowAll([1,2,3,4,5,6,7,8],'userTable');">
                            <spring:message code="app.button.showAll" text="Show All" />
                        </a> <a id="t1"
                                class="label label-success" href="javascript:void(0);"
                                onclick="fnShowHide(1,'userTable');">
                            <spring:message code="user.name" text="User Name" />
                        </a> <a id="t2"
                                class="label label-default" href="javascript:void(0);"
                                onclick="fnShowHide(2,'userTable');">
                            <spring:message code="user.logInName" text="Login Name" />
                        </a> <a id="t3"
                                class="label label-success" href="javascript:void(0);"
                                onclick="fnShowHide(3,'userTable');">
                            <spring:message code="user.role" text="Role" />
                        </a> <a id="t4"
                                class="label label-success" href="javascript:void(0);"
                                onclick="fnShowHide(4,'userTable');">
                            <spring:message code="app.common.state" text="State" />
                        </a> <a id="t5"
                                class="label label-success" href="javascript:void(0);"
                                onclick="fnShowHide(5,'userTable');">
                            <spring:message code="app.common.district" text="District" />
                        </a> <a id="t6"
                                class="label label-success" href="javascript:void(0);"
                                onclick="fnShowHide(6,'userTable');">
                            <spring:message code="app.common.city" text="City" />
                        </a> <a id="t7"
                                class="label label-success" href="javascript:void(0);"
                                onclick="fnShowHide(7,'userTable');">
                            <spring:message code="app.common.village" text="Village" />
                        </a>
                        <c:if test="${appType eq 0}">
                            <a id="t8" class="label label-success" href="javascript:void(0);"
                               onclick="fnShowHide(8,'userTable');">School</a>
                        </c:if>
                        <c:if test="${appType eq 1}">
                            <a id="t8" class="label label-success" href="javascript:void(0);"
                               onclick="fnShowHide(8,'userTable');">
                                <spring:message code="center.col.center" text="Center" />
                            </a>
                        </c:if>
                    </div>

                    <table class="table" id="userTable">
                        <thead>
                            <tr style="display: table-row;">
                                <th id=h1 class="nosort" style="width: 20px!importent; min-width: 20px;">#</th>
                                <th id="h2" class="nosort">
                                    <spring:message code="user.name"
                                                    text="User Name" />
                                </th>
                                <th id="h3" class="nosort">
                                    <spring:message code="user.logInName" text="Login Name" />
                                </th>
                                <th id="h4" class="nosort">
                                    <spring:message code="user.role"
                                                    text="Role" />
                                </th>
                                <th id="h5" class="nosort">
                                    <spring:message code="app.common.state" text="State" />
                                </th>
                                <th id="h6" class="nosort">
                                    <spring:message code="app.common.district" text="District" />
                                </th>
                                <th id="h7" class="nosort">
                                    <spring:message code="app.common.city" text="City" />
                                </th>
                                <th id="h8" class="nosort">
                                    <spring:message code="app.common.village" text="Village" />
                                </th>                                
                                    <th id="h9" class="nosort">School</th>
                                <th id="h10" class="nosort"
                                    style="width: 75px!importent; min-width: 75px;">
                                    <spring:message code="app.button.action" text="Action" />
                                </th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>

                </div>
            </form>
        </div>
    </div>
</div>
