@{    
    ViewBag.Title = "login";    
}
<div class="page">
    <div class="page-wrapper">
        <div class="login-content">
            <div class="lms-login-logo">
                <img src="../assets/images/login-logo.svg" />
            </div>
            <div class="slate-content">
                <div class="slate-bg">
                    <img src="../assets/images/slate.png" />
                    <div class="lms-login-new-section">
                        <div class="lms-login-heading-text">Login</div>
                        @using (Html.BeginForm("Authenticate", "Login", FormMethod.Post))
                        {
                            <div class="form-group">
                                <label class="control-label">
                                    <span class="input-label"></span>
                                    <div class="input-group input-group-lg login-input-group">
                                        <input type="text" class="form-control input-lg" placeholder="Username">
                                    </div>
                                </label>
                            </div>
                            <div class="form-group pwd-form-group lms-row">
                                <label class="control-label">
                                    <span class="input-label"></span>
                                    <div class="input-group input-group-lg login-input-group">
                                        <input type="password" class="form-control input-lg" placeholder="Password">
                                    </div>
                                    <a href="#" class="pull-right forgot-text">Forgot password ?</a>
                                </label>
                            </div>
                            <button type="submit" class="btn btn-primary btn--login btn-lg btn-block login-btn">Login</button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
