﻿
@{
    ViewBag.Title = "RolePermission";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="page">
    <div class="page-wrapper">
        <header class="header ">
            <div class="header-left">
                <a href="" class="logo logo-admin">
                    <img src="../assets/images/admin-logo.svg" />
                </a>
            </div>
            <div class="header-right">
                <div class="download-options header-nav-link html-click">
                    <div class="download-icon">
                        <svg>
                            <use xlink:href="#download" href="#download"></use>
                        </svg>
                    </div>
                    <ul class="menu-actions download-menu-actions">
                        <li href="#" class="menu-item">
                            <a href="#">Desktop</a>
                        </li>
                        <li href="#" class="menu-item">
                            <a href="#">Tablet</a>
                        </li>
                        <li href="#" class="menu-item">
                            <a href="#">Mobile</a>
                        </li>
                    </ul>
                </div>
                <div class="header-nav-link lang-change-icon active">
                    <svg>
                        <use xlink:href="#hindi-lang-toggle" href="#hindi-lang-toggle"></use>
                    </svg>
                    <svg>
                        <use xlink:href="#english-lang-toggle" href="#english-lang-toggle"></use>
                    </svg>
                </div>
                <div class="lms-notification-options header-nav-link html-click">
                    <div class="notifications-icon">
                        <svg>
                            <use xlink:href="#notification" href="#notification"></use>
                        </svg>
                        <div class="notifications-count">3</div>
                    </div>
                    <div class="menu-actions notifications-menu-items">
                        <div class="notifications-menu-items-header lms-side-center-far">
                            <div class="notifications-header">Notifications (2)</div>
                            <div class="lms-clear-all-icon" title="Clear All">
                                <svg>
                                    <use xlink:href="#clear-all" href="#clear-all"></use>
                                </svg>
                            </div>
                        </div>
                        <ul class="notifications-menu-items-list">
                            <li class="menu-item">
                                <a href="#" class="notification-item lms-unread">
                                    <div class="lms-notification-img">
                                        <img class="lms-notification-large-img" src="../assets/images/notifications/profile.png" alt="notification image" />
                                    </div>
                                    <div class="lms-notification-detail-section">
                                        <div class="lms-notification-detail"> Chauhan has raised an IT ticket - SC0824 </div>
                                        <div class="lms-notification-date">8 mins ago</div>
                                    </div>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="#" class="notification-item">
                                    <div class="lms-notification-img">
                                        <img class="lms-notification-small-img" src="../assets//images/notifications/schools-icon.svg" alt="notification image" />
                                    </div>
                                    <div class="lms-notification-detail-section">
                                        <div class="lms-notification-detail"> The Khaitan school, content updated successfully </div>
                                        <div class="lms-notification-date">1 day ago</div>
                                    </div>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="#" class="notification-item">
                                    <div class="lms-notification-img">
                                        <img class="lms-notification-small-img" src="../assets//images/notifications/upload-to-web.svg" alt="notification image" />
                                    </div>
                                    <div class="lms-notification-detail-section">
                                        <div class="lms-notification-detail"> Error in downloading content from web </div>
                                        <div class="lms-notification-date">1 day ago</div>
                                    </div>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="#" class="notification-item lms-no-notification-image">
                                    <!--<div class="lms-notification-img">
                                        <img class="lms-notification-small-img" src="../assets//images/notifications/upload-to-web.svg" alt="notification image" />
                                    </div>-->
                                    <div class="lms-notification-detail-section">
                                        <div class="lms-notification-detail"> This is one read notifications, which doesn't have any image on the left.. </div>
                                        <div class="lms-notification-date">2 days ago</div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <div class="lms-notification-view-all">
                            <a href="#" class="lms-notification-view-all-link">View All</a>
                        </div>
                    </div>
                </div>
                <div class="header-nav-link profile-section html-click">
                    <div class="profile-img-section">
                        <img class="profile-img" src="../assets/images/avatar.png" />
                    </div>
                    <div class="profile-info-section">
                        <div class="profile-name">Ranveer S</div>
                        <div class="profile-role">admin</div>
                    </div>
                    <div class="profile-more-options-section">
                        <div class="profile-more-option">
                            <svg>
                                <use xlink:href="#dropdown" href="#dropdown"></use>
                            </svg>
                        </div>
                    </div>
                    <ul class="profile-actions menu-actions">
                        <li class="menu-item">
                            <a href="#">Profile</a>
                        </li>
                        <li class="menu-item">
                            <a href="#">Settings</a>
                        </li>
                        <li class="menu-item">
                            <a href="#">Log out</a>
                        </li>
                    </ul>
                </div>
            </div>
        </header>
        <div class="role-permission-mapping">
            <div class="page-header">
                <div>
                    <ol class="breadcrumb">
                        <li class="active"><a href="@Url.Action("Dashboard","Home")">Home</a></li>
                        <li class="active"><a href="@Url.Action("UserRolesManagement","UserRoles")">Users and Roles</a></li>
                        <li class="active">Role Permissions Mapping</li>
                    </ol>
                </div>

                <div class="row">
                    <div class="col-xs-11">
                        <h2 class="page-head">Role Permissions Mapping</h2>
                    </div>

                </div>
            </div>

            <div class="" style="margin-top: 25px; margin-bottom: 15px">
                <div>
                    <ul class="nav nav-tabs">


                        <li class="active">
                            <a data-toggle="pill" href="#academic"
                               onclick="hidePermissionByHierarchy('academic');">Academic</a>
                        </li>

                        <li>
                            <a data-toggle="pill" href="#campaign"
                               onclick="hidePermissionByHierarchy('campaign');">Project</a>
                        </li>

                        <li>
                            <a data-toggle="pill" href="#contentManagment"
                               onclick="hidePermissionByHierarchy('shikshaContentManagement');">
                                Content
                                Management
                            </a>
                        </li>

                        <li>
                            <a data-toggle="pill" href="#locations"
                               onclick="hidePermissionByHierarchy('location');">Locations</a>
                        </li>

                        <li>
                            <a data-toggle="pill" href="#reports"
                               onclick="hidePermissionByHierarchy('reports');">Reports</a>
                        </li>

                        <li>
                            <a data-toggle="pill" href="#users"
                               onclick="hidePermissionByHierarchy('users');">Users</a>
                        </li>

                        <li>
                            <a data-toggle="pill" href="#desktop"
                               onclick="hidePermissionByHierarchy('desktop');">
                                Desktop
                                Permissions
                            </a>
                        </li>

                        <li>
                            <a data-toggle="pill" href="#tablet"
                               onclick="hidePermissionByHierarchy('tablet');">
                                Tablet
                                Permissions
                            </a>
                        </li>
                        <li>
                            <a data-toggle="pill" href="#appDownload"
                               onclick="hidePermissionByHierarchy('appDownload');">App Download</a>
                        </li>
                    </ul>

                </div>
            </div>
            <div>
                <!-- div first start -->
                <div class="tab-content">
                    <!-- div academic start -->
                    <div id="academic" class="tab-pane fade in active ">
                        <table class="table"
                               id="tblAcademic">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th style="min-width:100px !important;">Permission</th>                                    
                                </tr>
                            </thead>
                            <tbody>                                
                            </tbody>
                        </table>
                    </div>
                    <!-- Academic end here -->
                    <!-- div content management start -->
                    <div id="contentManagment" class="tab-pane fade">
                        <table class="table"
                               id="tblContentManagment">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th style="min-width:100px !important;">Permission</th>                                    
                                </tr>
                            </thead>
                            <tbody>
                                
                            </tbody>
                        </table>
                    </div>
                    <!-- Academic end here -->
                    <!-- div campaign start -->

                    <div id="campaign" class="tab-pane fade">
                        <table class="table"
                               id="tblCampaign">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th style="min-width:100px !important;">Permission</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                
                            </tbody>
                        </table>
                    </div>
                    <!-- div campaign end -->
                    <!-- Location start here -->
                    <div id="locations" class="tab-pane fade">
                        <table class="table"
                               id="tblLocations">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th style="min-width:100px !important;">Permission</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                
                            </tbody>
                        </table>
                    </div>
                    <!-- location end here -->
                    <!-- div reports start -->

                    <div id="reports" class="tab-pane fade ">
                        <table class="table"
                               id="tblReports">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th style="min-width:100px !important;">Permission</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                
                            </tbody>
                        </table>
                    </div>
                    <!-- div reports end -->
                    <!-- div users start -->

                    <div id="users" class="tab-pane fade">
                        <table class="table"
                               id="tblUsers">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th style="min-width:100px !important;">Permission</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                            
                            </tbody>
                        </table>
                    </div>
                    <div id="desktop" class="tab-pane fade">
                        <table class="table"
                               id="tblDesktop">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th style="min-width:100px !important;">Permission</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                               
                            </tbody>
                        </table>
                    </div>
                    <div id="tablet" class="tab-pane fade">
                        <table class="table"
                               id="tblTablet">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th style="min-width:100px !important;">Permission</th>
                                   
                                </tr>
                            </thead>
                            <tbody>
                              
                            </tbody>
                        </table>
                    </div>

                    <div id="appDownload" class="tab-pane fade">
                        <table class="appDownload"
                               id="tblAppDownload">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th style="min-width:100px !important;">Permission</th>
                                   
                                </tr>
                            </thead>
                            <tbody>
                              
                            </tbody>
                        </table>
                    </div>

                </div>
                <!-- div users end -->

            </div>

        </div>
    </div>
</div>






