﻿
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="page">
    <div class="page-wrapper">
        <header class="header ">
            <div class="header-left">
                <a href="" class="logo logo-admin">
                    <img src="../assets/images/admin-logo.svg" />
                </a>
            </div>
            <div class="header-right">
                <div class="download-options header-nav-link html-click">
                    <div class="download-icon">
                        <svg>
                            <use xlink:href="#download" href="#download"></use>
                        </svg>
                    </div>
                    <ul class="menu-actions download-menu-actions">
                        <li href="#" class="menu-item">
                            <a href="#">Desktop</a>
                        </li>
                        <li href="#" class="menu-item">
                            <a href="#">Tablet</a>
                        </li>
                        <li href="#" class="menu-item">
                            <a href="#">Mobile</a>
                        </li>
                    </ul>
                </div>
                <div class="header-nav-link lang-change-icon active">
                    <svg>
                        <use xlink:href="#hindi-lang-toggle" href="#hindi-lang-toggle"></use>
                    </svg>
                    <svg>
                        <use xlink:href="#english-lang-toggle" href="#english-lang-toggle"></use>
                    </svg>
                </div>
                <div class="lms-notification-options header-nav-link html-click">
                    <div class="notifications-icon">
                        <svg>
                            <use xlink:href="#notification" href="#notification"></use>
                        </svg>
                        <div class="notifications-count">3</div>
                    </div>
                    <div class="menu-actions notifications-menu-items">
                        <div class="notifications-menu-items-header lms-side-center-far">
                            <div class="notifications-header">Notifications (2)</div>
                            <div class="lms-clear-all-icon" title="Clear All">
                                <svg>
                                    <use xlink:href="#clear-all" href="#clear-all"></use>
                                </svg>
                            </div>
                        </div>
                        <ul class="notifications-menu-items-list">
                            <li class="menu-item">
                                <a href="#" class="notification-item lms-unread">
                                    <div class="lms-notification-img">
                                        <img class="lms-notification-large-img" src="../assets/images/notifications/profile.png" alt="notification image" />
                                    </div>
                                    <div class="lms-notification-detail-section">
                                        <div class="lms-notification-detail"> Chauhan has raised an IT ticket - SC0824 </div>
                                        <div class="lms-notification-date">8 mins ago</div>
                                    </div>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="#" class="notification-item">
                                    <div class="lms-notification-img">
                                        <img class="lms-notification-small-img" src="../assets/images/notifications/schools-icon.svg" alt="notification image" />
                                    </div>
                                    <div class="lms-notification-detail-section">
                                        <div class="lms-notification-detail"> The Khaitan school, content updated successfully </div>
                                        <div class="lms-notification-date">1 day ago</div>
                                    </div>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="#" class="notification-item">
                                    <div class="lms-notification-img">
                                        <img class="lms-notification-small-img" src="../assets/images/notifications/upload-to-web.svg" alt="notification image" />
                                    </div>
                                    <div class="lms-notification-detail-section">
                                        <div class="lms-notification-detail"> Error in downloading content from web </div>
                                        <div class="lms-notification-date">1 day ago</div>
                                    </div>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="#" class="notification-item lms-no-notification-image">
                                    <!--<div class="lms-notification-img">
                                        <img class="lms-notification-small-img" src="../assets//images/notifications/upload-to-web.svg" alt="notification image" />
                                    </div>-->
                                    <div class="lms-notification-detail-section">
                                        <div class="lms-notification-detail"> This is one read notifications, which doesn't have any image on the left.. </div>
                                        <div class="lms-notification-date">2 days ago</div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <div class="lms-notification-view-all">
                            <a href="#" class="lms-notification-view-all-link">View All</a>
                        </div>
                    </div>
                </div>
                <div class="header-nav-link profile-section html-click">
                    <div class="profile-img-section">
                        <img class="profile-img" src="../assets/images/avatar.png" />
                    </div>
                    <div class="profile-info-section">
                        <div class="profile-name">Ranveer S</div>
                        <div class="profile-role">admin</div>
                    </div>
                    <div class="profile-more-options-section">
                        <div class="profile-more-option">
                            <svg>
                                <use xlink:href="#dropdown" href="#dropdown"></use>
                            </svg>
                        </div>
                    </div>
                    <ul class="profile-actions menu-actions">
                        <li class="menu-item">
                            <a href="#">Profile</a>
                        </li>
                        <li class="menu-item">
                            <a href="#">Settings</a>
                        </li>
                        <li class="menu-item">
                            <a href="#">Log out</a>
                        </li>
                    </ul>
                </div>
            </div>
        </header>
        @*<main class="main-content dashboard-content">
                <div class="overview-section">
                    <div class="sub-heading overview-heading">Overview</div>
                    <div class="overview-cards clrflt">
                        <a href="@Url.Action("Project", "Project")" class="overview-card projects-card" title="View more Projects">
                            <div class="overview-icon projects-icon">
                                <svg>
                                    <use xlink:href="#projects" href="#projects"></use>
                                </svg>
                            </div>
                            <div class="overview-bottom">
                                <div class="overview-card-number">03</div>
                                <div class="overview-card-name">Projects</div>
                            </div>
                        </a>
                        <a href="@Url.Action("Location", "Location")" class="overview-card locations-card" title="View more Locations">
                            <div class="overview-icon locations-icon">
                                <svg>
                                    <use xlink:href="#locations" href="#locations"></use>
                                </svg>
                            </div>
                            <div class="overview-bottom">
                                <div class="overview-card-number">110</div>
                                <div class="overview-card-name">Locations</div>
                            </div>
                        </a>
                        <a href="@Url.Action("School", "School")" class="overview-card schools-card" title="View more Schools">
                            <div class="overview-icon schools-icon">
                                <svg>
                                    <use xlink:href="#schools" href="#schools"></use>
                                </svg>
                            </div>
                            <div class="overview-bottom">
                                <div class="overview-card-number">05</div>
                                <div class="overview-card-name">Schools</div>
                            </div>
                        </a>
                        <a href="@Url.Action("Grade", "Grade")" class="overview-card grades-card" title="View more Grades">
                            <div class="overview-icon grades-icon">
                                <svg>
                                    <use xlink:href="#grades" href="#grades"></use>
                                </svg>
                            </div>
                            <div class="overview-bottom">
                                <div class="overview-card-number">02</div>
                                <div class="overview-card-name">Grades</div>
                            </div>
                        </a>
                        <a href="#" class="overview-card subjects-card" title="View more Subjects">
                            <div class="overview-icon subjects-icon">
                                <svg>
                                    <use xlink:href="#subjects" href="#subjects"></use>
                                </svg>
                            </div>
                            <div class="overview-bottom">
                                <div class="overview-card-number">03</div>
                                <div class="overview-card-name">Subjects</div>
                            </div>
                        </a>
                        <a href="#" class="overview-card students-card" title="View more Students">
                            <div class="overview-icon students-icon">
                                <svg>
                                    <use xlink:href="#students" href="#students"></use>
                                </svg>
                            </div>
                            <div class="overview-bottom">
                                <div class="overview-card-number">1004</div>
                                <div class="overview-card-name">Students</div>
                            </div>
                        </a>
                        <a href="@Url.Action("Teacher", "Teacher")" class="overview-card teachers-card" title="View more Teachers">
                            <div class="overview-icon teachers-icon">
                                <svg>
                                    <use xlink:href="#teachers" href="#teachers"></use>
                                </svg>
                            </div>
                            <div class="overview-bottom">
                                <div class="overview-card-number">175</div>
                                <div class="overview-card-name">Teachers</div>
                            </div>
                        </a>
                        <a href="#" class="overview-card content-card" title="View more Content">
                            <div class="overview-icon content-icon">
                                <svg>
                                    <use xlink:href="#content" href="#content"></use>
                                </svg>
                            </div>
                            <div class="overview-bottom">
                                <div class="overview-card-number">133</div>
                                <div class="overview-card-name">Content</div>
                            </div>
                        </a>
                        <a href="#" class="overview-card reports-card" title="View more Reports">
                            <div class="overview-icon reports-icon">
                                <svg>
                                    <use xlink:href="#reports" href="#reports"></use>
                                </svg>
                            </div>
                            <div class="overview-bottom">
                                <div class="overview-card-number">02</div>
                                <div class="overview-card-name">Reports</div>
                            </div>
                        </a>
                        <a href="#" class="overview-card devices-card" title="View more Devices">
                            <div class="overview-icon devices-icon">
                                <svg>
                                    <use xlink:href="#devices" href="#devices"></use>
                                </svg>
                            </div>
                            <div class="overview-bottom">
                                <div class="overview-card-number">10</div>
                                <div class="overview-card-name">Devices</div>
                            </div>
                        </a>
                        <a href="#" class="overview-card utilities-card" title="View more Utilities">
                            <div class="overview-icon utilities-icon">
                                <svg>
                                    <use xlink:href="#utilities" href="#utilities"></use>
                                </svg>
                            </div>
                            <div class="overview-bottom">
                                <div class="overview-card-number"></div>
                                <div class="overview-card-name">Utilities</div>
                            </div>
                        </a>
                        <a href="#" class="overview-card more-card" title="View more">
                            <div class="overview-icon more-icon">
                                <svg>
                                    <use xlink:href="#big-more" href="#big-more"></use>
                                </svg>
                            </div>
                            <div class="overview-bottom">
                                <div class="overview-card-number"></div>
                                <div class="overview-card-name">More</div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="quick-links-section">
                    <div class="sub-heading">Quick Links</div>
                    <ul class="quick-links-list">
                        <Li class="quick-link-item">
                            <a href="#" class="quick-link-anchor">Teacher Grade Subject Section Mapping</a>
                        </Li>
                        <Li class="quick-link-item">
                            <a href="#" class="quick-link-anchor">Add student Grade Promotion</a>
                        </Li>
                        <Li class="quick-link-item">
                            <a href="#" class="quick-link-anchor">Bulk Student upload</a>
                        </Li>
                        <Li class="quick-link-item">
                            <a href="#" class="quick-link-anchor">Bulk Teacher upload</a>
                        </Li>
                        <Li class="quick-link-item">
                            <a href="#" class="quick-link-anchor">Add chapter</a>
                        </Li>
                        <Li class="quick-link-item">
                            <a href="#" class="quick-link-anchor">Add Subject</a>
                        </Li>
                        <Li class="quick-link-item">
                            <a href="#" class="quick-link-anchor">Add School</a>
                        </Li>
                        <Li class="quick-link-item">
                            <a href="#" class="quick-link-anchor">View Roles</a>
                        </Li>
                    </ul>
                </div>
            </main>*@

        <main class="main-content dashboard-content top-shade">
            <div class="overview-section">
                <div class="sub-heading overview-heading">Overview</div>
                <div class="overview-cards clrflt">
                    <a href="@Url.Action("Location", "Location")" class="overview-card locations-card" title="View more Locations">
                        <div class="overview-icon locations-icon">
                            <svg>
                                <use xlink:href="../assets/images/all.svg#locations" href="../assets/images/all.svg#locations"></use>
                            </svg>
                        </div>
                        <div class="overview-bottom">
                            <div class="overview-card-number">10</div>
                            <div class="overview-card-name">Locations</div>
                        </div>
                    </a>

                    <a href="@Url.Action("Project", "Project")" class="overview-card projects-card" title="View more Projects">
                        <div class="overview-icon projects-icon">
                            <svg>
                                <use xlink:href="../assets/images/all.svg#projects" href="../assets/images/all.svg#projects"></use>
                            </svg>
                        </div>
                        <div class="overview-bottom">
                            <div class="overview-card-number">10</div>
                            <div class="overview-card-name">Projects</div>
                        </div>
                    </a>




                    <a href="@Url.Action("School", "School")" class="overview-card schools-card" title="View more Schools">
                        <div class="overview-icon schools-icon">
                            <svg>
                                <use xlink:href="../assets/images/all.svg#schools" href="../assets/images/all.svg#schools"></use>
                            </svg>
                        </div>
                        <div class="overview-bottom">
                            <div class="overview-card-number">10</div>
                            <div class="overview-card-name">Schools</div>
                        </div>
                    </a>


                    <a href="@Url.Action("Grade", "Grade")" class="overview-card grades-card" title="View more Grades">
                        <div class="overview-icon grades-icon">
                            <svg>
                                <use xlink:href="../assets/images/all.svg#grades" href="../assets/images/all.svg#grades"></use>
                            </svg>
                        </div>
                        <div class="overview-bottom">
                            <div class="overview-card-number">10</div>
                            <div class="overview-card-name">Grades</div>
                        </div>
                    </a>




                    <a href="@Url.Action("Section", "Section")" class="overview-card more-card" title="View more Sections">
                        <div class="overview-icon locations-icon">
                            <svg>
                                <use xlink:href="../assets/images/icons/more-menu.svg#sections" href="../assets/images/icons/more-menu.svg#sections"></use>
                            </svg>
                        </div>
                        <div class="overview-bottom">
                            <div class="overview-card-number">10</div>
                            <div class="overview-card-name">Sections</div>
                        </div>
                    </a>




                    <a href="@Url.Action("Subject", "Subject")" class="overview-card subjects-card" title="View more Subjects">
                        <div class="overview-icon subjects-icon">
                            <svg>
                                <use xlink:href="../assets/images/all.svg#subjects" href="../assets/images/all.svg#subjects"></use>
                            </svg>
                        </div>
                        <div class="overview-bottom">
                            <div class="overview-card-number">10</div>
                            <div class="overview-card-name">Subjects</div>
                        </div>
                    </a>


                    <a href="@Url.Action("Student", "Student")" class="overview-card students-card" title="View more Students">
                        <div class="overview-icon students-icon">
                            <svg>
                                <use xlink:href="../assets/images/all.svg#students" href="../assets/images/all.svg#students"></use>
                            </svg>
                        </div>
                        <div class="overview-bottom">
                            <div class="overview-card-number">10</div>
                            <div class="overview-card-name">Students</div>
                        </div>
                    </a>



                    <a href="@Url.Action("Teacher", "Teacher")" style="cursor: pointer;" class="overview-card teachers-card" title="View more Teachers">
                        <div class="overview-icon teachers-icon">
                            <svg>
                                <use xlink:href="../assets/images/all.svg#teachers" href="../assets/images/all.svg#teachers"></use>
                            </svg>
                        </div>
                        <div class="overview-bottom">
                            <div class="overview-card-number">10</div>
                            <div class="overview-card-name">Teachers</div>
                        </div>
                    </a>





                    <a href="@Url.Action("Content", "Content")" class="overview-card content-card" title="View more Content">
                        <div class="overview-icon content-icon">
                            <svg>
                                <use xlink:href="../assets/images/all.svg#content" href="../assets/images/all.svg#content"></use>
                            </svg>
                        </div>
                        <div class="overview-bottom">
                            <div class="overview-card-number">10</div>
                            <div class="overview-card-name">Content</div>
                        </div>
                    </a>





                    <a href="@Url.Action("Device", "Device")" class="overview-card devices-card" title="View more Devices">
                        <div class="overview-icon devices-icon">
                            <svg>
                                <use xlink:href="../assets/images/all.svg#devices" href="../assets/images/all.svg#devices"></use>
                            </svg>
                        </div>
                        <div class="overview-bottom">
                            <div class="overview-card-number">10</div>
                            <div class="overview-card-name">Devices</div>
                        </div>
                    </a>




                    
                    <a href="@Url.Action("UserRolesManagement", "UserRoles")" d class="overview-card user-role-card" title="user">
                        <div class="overview-icon teachers-icon">
                            <svg>
                                <use xlink:href="../assets/images/icons/users-roles.svg#users-_-roles" href="../assets/images/icons/users-roles.svg#users-_-roles"></use>
                            </svg>
                        </div>
                        <div class="overview-bottom">
                            <div class="overview-card-number"></div>
                            <div class="overview-card-name">User and Roles</div>
                        </div>
                    </a>





                    <a href="@Url.Action("Utilities", "Utilities")" class="overview-card utilities-card" title="View more Utilities">
                        <div class="overview-icon utilities-icon">
                            <svg>
                                <use xlink:href="../assets/images/all.svg#utilities" href="../assets/images/all.svg#utilities"></use>
                            </svg>
                        </div>
                        <div class="overview-bottom">
                            <div class="overview-card-number"></div>
                            <div class="overview-card-name">Utilities</div>
                        </div>
                    </a>



                    <a href="@Url.Action("Report", "Report")" class="overview-card reports-card" title="View more Reports">
                        <div class="overview-icon reports-icon">
                            <svg>
                                <use xlink:href="../assets/images/all.svg#reports" href="../assets/images/all.svg#reports"></use>
                            </svg>
                        </div>
                        <div class="overview-bottom">
                            <div class="overview-card-number"></div>
                            <div class="overview-card-name">Reports</div>
                        </div>
                    </a>







                    <a href="@Url.Action("More", "More")" title="View more" class="overview-card more-card">
                        <div class="overview-icon more-icon">
                            <svg>
                                <use xlink:href="../assets/images/all.svg#big-more" href="../assets/images/all.svg#big-more"></use>
                            </svg>
                        </div>
                        <div class="overview-bottom">
                            <div class="overview-card-number"></div>
                            <div class="overview-card-name">More</div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="quick-links-section top-shade">
                <div class="sub-heading">Quick Links</div>
                <ul class="quick-links-list">
                    <Li class="quick-link-item"><a href="#">Question Banks</a></Li>
                    <Li class="quick-link-item"><a href="#">Question Papers</a></Li>
                    <Li class="quick-link-item"><a href="#">Bulk Roll Number Update</a></Li>
                    <Li class="quick-link-item"><a href="#">Student Grade Promotion</a></Li>
                    <Li class="quick-link-item"><a href="#">Lesson Plans</a></Li>
                    <Li class="quick-link-item"><a href="#">Teaching Plans</a></Li>
                    <Li class="quick-link-item"><a href="#">Users</a></Li>
                    <Li class="quick-link-item"><a href="#">School Configuration</a></Li>
                </ul>
            </div>
        </main>
    </div>
</div>
