﻿
@{
    ViewBag.Title = "BulkUpload";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="page">
    <div class="page-wrapper">
        <header class="header ">
            <div class="header-left">
                <a href="" class="logo logo-admin">
                    <img src="../assets/images/admin-logo.svg" />
                </a>
            </div>
            <div class="header-right">
                <div class="download-options header-nav-link html-click">
                    <div class="download-icon">
                        <svg>
                            <use xlink:href="#download" href="#download"></use>
                        </svg>
                    </div>
                    <ul class="menu-actions download-menu-actions">
                        <li href="#" class="menu-item">
                            <a href="#">Desktop</a>
                        </li>
                        <li href="#" class="menu-item">
                            <a href="#">Tablet</a>
                        </li>
                        <li href="#" class="menu-item">
                            <a href="#">Mobile</a>
                        </li>
                    </ul>
                </div>
                <div class="header-nav-link lang-change-icon active">
                    <svg>
                        <use xlink:href="#hindi-lang-toggle" href="#hindi-lang-toggle"></use>
                    </svg>
                    <svg>
                        <use xlink:href="#english-lang-toggle" href="#english-lang-toggle"></use>
                    </svg>
                </div>
                <div class="lms-notification-options header-nav-link html-click">
                    <div class="notifications-icon">
                        <svg>
                            <use xlink:href="#notification" href="#notification"></use>
                        </svg>
                        <div class="notifications-count">3</div>
                    </div>
                    <div class="menu-actions notifications-menu-items">
                        <div class="notifications-menu-items-header lms-side-center-far">
                            <div class="notifications-header">Notifications (2)</div>
                            <div class="lms-clear-all-icon" title="Clear All">
                                <svg>
                                    <use xlink:href="#clear-all" href="#clear-all"></use>
                                </svg>
                            </div>
                        </div>
                        <ul class="notifications-menu-items-list">
                            <li class="menu-item">
                                <a href="#" class="notification-item lms-unread">
                                    <div class="lms-notification-img">
                                        <img class="lms-notification-large-img" src="../assets/images/notifications/profile.png" alt="notification image" />
                                    </div>
                                    <div class="lms-notification-detail-section">
                                        <div class="lms-notification-detail"> Chauhan has raised an IT ticket - SC0824 </div>
                                        <div class="lms-notification-date">8 mins ago</div>
                                    </div>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="#" class="notification-item">
                                    <div class="lms-notification-img">
                                        <img class="lms-notification-small-img" src="../assets//images/notifications/schools-icon.svg" alt="notification image" />
                                    </div>
                                    <div class="lms-notification-detail-section">
                                        <div class="lms-notification-detail"> The Khaitan school, content updated successfully </div>
                                        <div class="lms-notification-date">1 day ago</div>
                                    </div>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="#" class="notification-item">
                                    <div class="lms-notification-img">
                                        <img class="lms-notification-small-img" src="../assets//images/notifications/upload-to-web.svg" alt="notification image" />
                                    </div>
                                    <div class="lms-notification-detail-section">
                                        <div class="lms-notification-detail"> Error in downloading content from web </div>
                                        <div class="lms-notification-date">1 day ago</div>
                                    </div>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="#" class="notification-item lms-no-notification-image">
                                    <!--<div class="lms-notification-img">
                                        <img class="lms-notification-small-img" src="../assets//images/notifications/upload-to-web.svg" alt="notification image" />
                                    </div>-->
                                    <div class="lms-notification-detail-section">
                                        <div class="lms-notification-detail"> This is one read notifications, which doesn't have any image on the left.. </div>
                                        <div class="lms-notification-date">2 days ago</div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <div class="lms-notification-view-all">
                            <a href="#" class="lms-notification-view-all-link">View All</a>
                        </div>
                    </div>
                </div>
                <div class="header-nav-link profile-section html-click">
                    <div class="profile-img-section">
                        <img class="profile-img" src="../assets/images/avatar.png" />
                    </div>
                    <div class="profile-info-section">
                        <div class="profile-name">Ranveer S</div>
                        <div class="profile-role">admin</div>
                    </div>
                    <div class="profile-more-options-section">
                        <div class="profile-more-option">
                            <svg>
                                <use xlink:href="#dropdown" href="#dropdown"></use>
                            </svg>
                        </div>
                    </div>
                    <ul class="profile-actions menu-actions">
                        <li class="menu-item">
                            <a href="#">Profile</a>
                        </li>
                        <li class="menu-item">
                            <a href="#">Settings</a>
                        </li>
                        <li class="menu-item">
                            <a href="#">Log out</a>
                        </li>
                    </ul>
                </div>
            </div>
        </header>

        <div class="">
            <div class="page-header">
                <div>
                    <ol class="breadcrumb">
                        <li class="active"><a href="@Url.Action("Dashboard", "Home")">Home</a></li>
                        <li class="active"><a href="@Url.Action("Utilities", "Utilities")">Utilities</a></li>
                        <li class="active">Bulk Student Upload</li>
                    </ol>
                </div>


                <div class="row" style="">
                    <div class="col-xs-6">
                        <h2 class="page-head">Bulk Student Upload</h2>
                    </div>
                    
                    <div class="col-xs-6">
                        
                            @*<div class="aui-message aui-message-success" style="padding:8px; width:285px;margin-bottom:0px; display: none;">
                                <p class="title"><strong>Success!</strong></p><p> Students uploaded successfully.</p>
                            </div>*@
                        
                    </div>
                </div>
            </div>

            <form method="post" id="bulkUploadStudentForm">
                <div class="row">
                    <div class="col-xs-12 " id="rowDiv1"
                         style="padding-left: 0px !important;">
                        <div class="form-group col-xs-10">
                            <label class="control-label" for="selectBox_schoolLocationType">School location type :</label> <span class="asterisk">*</span>
                          
                        </div>

                    </div>                    


                    <div class="col-xs-12" style="margin-bottom: -5px">
                        <hr style="margin-top: 6px;" />
                    </div>
                </div>
                <div id="uploadFile" style="display: none;">
                    <div class="row col-left-padding col-xs-12">
                        <div class="form-group col-xs-4">
                            <label class="control-label" for="formInput13">Upload Student</label>
                            <span class="asterisk">*</span>
                            <input type="file" id="exampleInputFile"
                                   class="form-control" style="height: auto" name="uploadfile" required
                                   data-fv-notempty data-fv-notempty-message=" ">

                            <div class="aui-message aui-message-error closeable" id="errorMsg"
                                 style="width: 100%; display: none;">
                                <p class="title"><strong>Failure!</strong></p><p> File format should be xlsx only.</p>
                                <span class="aui-icon icon-close" role="button" tabindex="0"></span>
                            </div>
                        </div>

                    </div>

                    <div class="btn-group col-xs-7 col-left-padding">
                        <button type="submit" class="btn btn-primary" id="uploadBtn">Upload</button>
                        <button type="button" class="btn btn-link" style="margin-left: 5px !important;" id="cancelButton">Cancel</button>
                        <button type="button" class="btn btn-link" id="downloadButton"
                                onclick="fnDownloadStudentTemplate();">
                            Download Template
                        </button>
                    </div>
                </div>

            </form>

        </div>

    </div>
</div>