﻿
@{
    ViewBag.Title = "Student";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}



<div class="page">
    <div class="page-wrapper">
        <header class="header ">
            <div class="header-left">
                <a href="" class="logo logo-admin">
                    <img src="../assets/images/admin-logo.svg" />
                </a>
            </div>
            <div class="header-right">
                <div class="download-options header-nav-link html-click">
                    <div class="download-icon">
                        <svg>
                            <use xlink:href="#download" href="#download"></use>
                        </svg>
                    </div>
                    <ul class="menu-actions download-menu-actions">
                        <li href="#" class="menu-item">
                            <a href="#">Desktop</a>
                        </li>
                        <li href="#" class="menu-item">
                            <a href="#">Tablet</a>
                        </li>
                        <li href="#" class="menu-item">
                            <a href="#">Mobile</a>
                        </li>
                    </ul>
                </div>
                <div class="header-nav-link lang-change-icon active">
                    <svg>
                        <use xlink:href="#hindi-lang-toggle" href="#hindi-lang-toggle"></use>
                    </svg>
                    <svg>
                        <use xlink:href="#english-lang-toggle" href="#english-lang-toggle"></use>
                    </svg>
                </div>
                <div class="lms-notification-options header-nav-link html-click">
                    <div class="notifications-icon">
                        <svg>
                            <use xlink:href="#notification" href="#notification"></use>
                        </svg>
                        <div class="notifications-count">3</div>
                    </div>
                    <div class="menu-actions notifications-menu-items">
                        <div class="notifications-menu-items-header lms-side-center-far">
                            <div class="notifications-header">Notifications (2)</div>
                            <div class="lms-clear-all-icon" title="Clear All">
                                <svg>
                                    <use xlink:href="#clear-all" href="#clear-all"></use>
                                </svg>
                            </div>
                        </div>
                        <ul class="notifications-menu-items-list">
                            <li class="menu-item">
                                <a href="#" class="notification-item lms-unread">
                                    <div class="lms-notification-img">
                                        <img class="lms-notification-large-img" src="../assets/images/notifications/profile.png" alt="notification image" />
                                    </div>
                                    <div class="lms-notification-detail-section">
                                        <div class="lms-notification-detail"> Chauhan has raised an IT ticket - SC0824 </div>
                                        <div class="lms-notification-date">8 mins ago</div>
                                    </div>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="#" class="notification-item">
                                    <div class="lms-notification-img">
                                        <img class="lms-notification-small-img" src="../assets//images/notifications/schools-icon.svg" alt="notification image" />
                                    </div>
                                    <div class="lms-notification-detail-section">
                                        <div class="lms-notification-detail"> The Khaitan school, content updated successfully </div>
                                        <div class="lms-notification-date">1 day ago</div>
                                    </div>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="#" class="notification-item">
                                    <div class="lms-notification-img">
                                        <img class="lms-notification-small-img" src="../assets//images/notifications/upload-to-web.svg" alt="notification image" />
                                    </div>
                                    <div class="lms-notification-detail-section">
                                        <div class="lms-notification-detail"> Error in downloading content from web </div>
                                        <div class="lms-notification-date">1 day ago</div>
                                    </div>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="#" class="notification-item lms-no-notification-image">
                                    <!--<div class="lms-notification-img">
                                        <img class="lms-notification-small-img" src="../assets//images/notifications/upload-to-web.svg" alt="notification image" />
                                    </div>-->
                                    <div class="lms-notification-detail-section">
                                        <div class="lms-notification-detail"> This is one read notifications, which doesn't have any image on the left.. </div>
                                        <div class="lms-notification-date">2 days ago</div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <div class="lms-notification-view-all">
                            <a href="#" class="lms-notification-view-all-link">View All</a>
                        </div>
                    </div>
                </div>
                <div class="header-nav-link profile-section html-click">
                    <div class="profile-img-section">
                        <img class="profile-img" src="../assets/images/avatar.png" />
                    </div>
                    <div class="profile-info-section">
                        <div class="profile-name">Ranveer S</div>
                        <div class="profile-role">admin</div>
                    </div>
                    <div class="profile-more-options-section">
                        <div class="profile-more-option">
                            <svg>
                                <use xlink:href="#dropdown" href="#dropdown"></use>
                            </svg>
                        </div>
                    </div>
                    <ul class="profile-actions menu-actions">
                        <li class="menu-item">
                            <a href="#">Profile</a>
                        </li>
                        <li class="menu-item">
                            <a href="#">Settings</a>
                        </li>
                        <li class="menu-item">
                            <a href="#">Log out</a>
                        </li>
                    </ul>
                </div>
            </div>
        </header>

        <div class="">
            <div class="page-header">
                <div>
                    <ol class="breadcrumb">
                        <li class="active"><a href="@Url.Action("Dashboard", "Home")">Home</a></li>
                        <li class="active">Student</li>
                    </ol>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <h2 class="page-head">Students</h2>
                    </div>


                    <div class="pull-right bulk-student" id="linkToUploadTeacher">
                        <span id="bulkTextId">Want to add students in bulk? Use <a href="uploadStudent">Bulk upload of Student</a></span>
                    </div>

                </div>

            </div>


            <form role="form" id="listSudentForm">
                <div class="fuelux">
                    <div class="row">

                        <div class="col-xs-12 " id="rowDiv1" style="padding-left: 0px !important;">
                            <div class="form-group col-xs-10" id="divSchoolLocType">
                                <label class="control-label">School location type :</label> <span class="asterisk">*</span>
                                <c:set var="margin" value="${20}"></c:set>
                                <c:forEach items="${schoolLocationType}" var="schoolLocType" varStatus="loop">
                                    <c:set var="lm" value="${margin + loop.index*10 }"></c:set>
                                    <input type="radio" data-code="${schoolLocType.code}" data-levelName="${schoolLocType.levelName}"
                                           id="${schoolLocType.id}" data-id="${schoolLocType.id}" value="${schoolLocType.name}"
                                           name="locType" style="margin-left:${lm}px;">
                                    <label style="font-weight:400;cursor:hand;" for="${schoolLocType.id}">${schoolLocType.name}</label>
                                </c:forEach>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <hr />
                </div>



                <!-- table -->
                <div class="col-xs-12 col-left-padding col-right-padding" id="rowDiv2"
                     style="" hidden=true>
                    <div class="toggle-col small help-block" id="divToogle">
                        Show/Hide columns :
                        <a id="t0" class="label label-default" href="javascript:void(0);" onclick="fnShowAll([1,2,3,4,5,6,7,8,9],'studentTable');">Show All</a>
                        <a id="t1" class="label label-success" href="javascript:void(0);" onclick="fnShowHide(1,'studentTable');">Student Name</a>
                        <a id="t2" class="label label-success" href="javascript:void(0);" onclick="fnShowHide(2,'studentTable');">Father Name</a>
                        <a id="t3" class="label label-success" href="javascript:void(0);" onclick="fnShowHide(3,'studentTable');">Mother Name</a>
                        <a id="t4" class="label label-success" href="javascript:void(0);" onclick="fnShowHide(4,'studentTable');">Roll No</a>
                        <a id="t5" class="label label-default" href="javascript:void(0);" onclick="fnShowHide(5,'studentTable');">DOB</a>
                        <a id="t6" class="label label-success" href="javascript:void(0);" onclick="fnShowHide(6,'studentTable');">Gender</a>
                        <a id="t7" class="label label-success" href="javascript:void(0);" onclick="fnShowHide(7,'studentTable');">Address</a>
                        <a id="t8" class="label label-default" href="javascript:void(0);" onclick="fnShowHide(8,'studentTable');">ModifiedBy</a>
                        <a id="t9" class="label label-success" href="javascript:void(0);" onclick="fnShowHide(9,'studentTable');">UploadedBy/CreatedBy</a>
                    </div>
                    <div id="tableDiv">
                        <table class="table table-striped table-hover table-bordered  table-condensed "
                               id="studentTable">
                            <thead>
                                <tr id="head">
                                    <!-- 	//	<th id="h1" class="nosort" style="width: 40px">#</th> -->
                                    <security:authorize ifAnyGranted="PERMISSION_deleteMultipleStudents">
                                        <th id="h1" style="text-align: center;vertical-align: middle !important;" class='nosort'><input class='chkboxDelAllSchoolForStudent' type="checkbox" id="chkboxSelectAllDelSchoolForStudent"></input></th>
                                    </security:authorize>

                                    <security:authorize ifNotGranted="PERMISSION_deleteMultipleStudents">
                                        <th id="h1" class="nosort" style="width: 40px">#</th>
                                    </security:authorize>
                                    <th id="h2" class="nosort">Student Name</th>
                                    <th id="h3" class="nosort">Father Name</th>
                                    <th id="h4" class="nosort">Mother Name</th>
                                    <th id="h5" class="nosort">Roll No</th>
                                    <th id="h6" class="nosort">DOB</th>
                                    <th id="h7" class="nosort">Gender</th>
                                    <th id="h8" class="nosort">Address</th>
                                    <th id="h9" class="nosort">ModifiedBy</th>
                                    <th id="h10" class="nosort">UploadedBy/CreatedBy</th>
                                    <th id="h11" class="nosort" style="width: 60px">Action</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

