﻿
@{
    ViewBag.Title = "ViewSchools";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}



<div class="page">
    <div class="page-wrapper">
        <header class="header ">
            <div class="header-left">
                <a href="" class="logo logo-admin">
                    <img src="../assets/images/admin-logo.svg" />
                </a>
            </div>
            <div class="header-right">
                <div class="download-options header-nav-link html-click">
                    <div class="download-icon">
                        <svg>
                            <use xlink:href="#download" href="#download"></use>
                        </svg>
                    </div>
                    <ul class="menu-actions download-menu-actions">
                        <li href="#" class="menu-item">
                            <a href="#">Desktop</a>
                        </li>
                        <li href="#" class="menu-item">
                            <a href="#">Tablet</a>
                        </li>
                        <li href="#" class="menu-item">
                            <a href="#">Mobile</a>
                        </li>
                    </ul>
                </div>
                <div class="header-nav-link lang-change-icon active">
                    <svg>
                        <use xlink:href="#hindi-lang-toggle" href="#hindi-lang-toggle"></use>
                    </svg>
                    <svg>
                        <use xlink:href="#english-lang-toggle" href="#english-lang-toggle"></use>
                    </svg>
                </div>
                <div class="lms-notification-options header-nav-link html-click">
                    <div class="notifications-icon">
                        <svg>
                            <use xlink:href="#notification" href="#notification"></use>
                        </svg>
                        <div class="notifications-count">3</div>
                    </div>
                    <div class="menu-actions notifications-menu-items">
                        <div class="notifications-menu-items-header lms-side-center-far">
                            <div class="notifications-header">Notifications (2)</div>
                            <div class="lms-clear-all-icon" title="Clear All">
                                <svg>
                                    <use xlink:href="#clear-all" href="#clear-all"></use>
                                </svg>
                            </div>
                        </div>
                        <ul class="notifications-menu-items-list">
                            <li class="menu-item">
                                <a href="#" class="notification-item lms-unread">
                                    <div class="lms-notification-img">
                                        <img class="lms-notification-large-img" src="../assets/images/notifications/profile.png" alt="notification image" />
                                    </div>
                                    <div class="lms-notification-detail-section">
                                        <div class="lms-notification-detail"> Chauhan has raised an IT ticket - SC0824 </div>
                                        <div class="lms-notification-date">8 mins ago</div>
                                    </div>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="#" class="notification-item">
                                    <div class="lms-notification-img">
                                        <img class="lms-notification-small-img" src="../assets//images/notifications/schools-icon.svg" alt="notification image" />
                                    </div>
                                    <div class="lms-notification-detail-section">
                                        <div class="lms-notification-detail"> The Khaitan school, content updated successfully </div>
                                        <div class="lms-notification-date">1 day ago</div>
                                    </div>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="#" class="notification-item">
                                    <div class="lms-notification-img">
                                        <img class="lms-notification-small-img" src="../assets//images/notifications/upload-to-web.svg" alt="notification image" />
                                    </div>
                                    <div class="lms-notification-detail-section">
                                        <div class="lms-notification-detail"> Error in downloading content from web </div>
                                        <div class="lms-notification-date">1 day ago</div>
                                    </div>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="#" class="notification-item lms-no-notification-image">
                                    <!--<div class="lms-notification-img">
                                        <img class="lms-notification-small-img" src="../assets//images/notifications/upload-to-web.svg" alt="notification image" />
                                    </div>-->
                                    <div class="lms-notification-detail-section">
                                        <div class="lms-notification-detail"> This is one read notifications, which doesn't have any image on the left.. </div>
                                        <div class="lms-notification-date">2 days ago</div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <div class="lms-notification-view-all">
                            <a href="#" class="lms-notification-view-all-link">View All</a>
                        </div>
                    </div>
                </div>
                <div class="header-nav-link profile-section html-click">
                    <div class="profile-img-section">
                        <img class="profile-img" src="../assets/images/avatar.png" />
                    </div>
                    <div class="profile-info-section">
                        <div class="profile-name">Ranveer S</div>
                        <div class="profile-role">admin</div>
                    </div>
                    <div class="profile-more-options-section">
                        <div class="profile-more-option">
                            <svg>
                                <use xlink:href="#dropdown" href="#dropdown"></use>
                            </svg>
                        </div>
                    </div>
                    <ul class="profile-actions menu-actions">
                        <li class="menu-item">
                            <a href="#">Profile</a>
                        </li>
                        <li class="menu-item">
                            <a href="#">Settings</a>
                        </li>
                        <li class="menu-item">
                            <a href="#">Log out</a>
                        </li>
                    </ul>
                </div>
            </div>
        </header>
        <div class="">
            <div class="page-header">
                <div>
                    <ol class="breadcrumb">
                        <li class="active"><a href="@Url.Action("Dashboard", "Home")">Home</a></li>
                        <li class="active"><a href="@Url.Action("School", "School")">Schools</a></li>
                        <li class="active">View Schools</li>
                    </ol>
                </div>

                <div class="row">
                    <div class="col-xs-10">
                        <h2 class="page-head">All Schools</h2>
                    </div>


                    <div class="col-xs-2">

                        <a class="create-items-section pull-right" onclick="initInput();fnInitSaveAndAddNewList();">
                            <div class="create-item-icon">
                                <svg>
                                    <use xlink:href="../assets/images/projects.svg#add" href="../assets/images/projects.svg#add"></use>
                                </svg>
                            </div>
                            <div class="create-item-text action-text">Add School</div>
                        </a>

                    </div>
                    <form role="form" id="listFilteredSchoolForm">
                        <div class="fuelux">
                            <div class="col-xs-12 " id="rowDiv1" style="margin-top: 10px;">

                                <div class="form-group col-xs-3" id="divCreatedDate">
                                    <label class="control-label">Created Date from :</label>
                                </div>

                                <div class="form-group col-xs-3" id="divModifiedDate" hidden="true">
                                    <label class="control-label">Created Date to:</label>
                                    <small class="help-block" id="modifiedDateMsg"
                                           style="display: none; color: #cc0000 !important;">
                                        Created
                                        Date to can not be less than Created Date from.
                                    </small>
                                </div>
                                <div class="form-group col-xs-3" id="viewSchoolButtonDiv" style="margin-top: 22px; margin-bottom: 0px">
                                    <div class="btn-group" id="buttonGroup">

                                        <button type="button" class="toggle btn pull-right btn-primary disabled"
                                                style="display: inline-block;"
                                                onclick="schoolListByFilteredDate();"
                                                id="viewSchoolButton">
                                            View Schools
                                        </button>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="toggle-col small help-block" id="divToogle">
                Show/Hide columns :
                <a id="t0" class="label label-default" href="javascript:void(0);" onclick="fnShowAll([1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21],'schoolTable');">Show All</a>
                <a id="t1" class="label label-success" href="javascript:void(0);" onclick="fnShowHide(1,'schoolTable');">State</a>
                <a id="t2" class="label label-default" href="javascript:void(0);" onclick="fnShowHide(2,'schoolTable');">Zone</a>
                <a id="t3" class="label label-default" href="javascript:void(0);" onclick="fnShowHide(3,'schoolTable');">District</a>
                <a id="t4" class="label label-default" href="javascript:void(0);" onclick="fnShowHide(4,'schoolTable');">Tehsil</a>
                <a id="t5" class="label label-success" href="javascript:void(0);" onclick="fnShowHide(5,'schoolTable');">City</a>
                <a id="t6" class="label label-default" href="javascript:void(0);" onclick="fnShowHide(6,'schoolTable');">Block</a>
                <a id="t7" class="label label-success" href="javascript:void(0);" onclick="fnShowHide(7,'schoolTable');">Village</a>
                <a id="t8" class="label label-default" href="javascript:void(0);" onclick="fnShowHide(8,'schoolTable');">Nearest Land Mark</a>
                <a id="t9" class="label label-default" href="javascript:void(0);" onclick="fnShowHide(9,'schoolTable');">Distance From Land Mark</a>
                <a id="t10" class="label label-default" href="javascript:void(0);" onclick="fnShowHide(10,'schoolTable');">School Type</a>
                <a id="t11" class="label label-default" href="javascript:void(0);" onclick="fnShowHide(11,'schoolTable');">School Location Type</a>
                <a id="t12" class="label label-success" href="javascript:void(0);" onclick="fnShowHide(12,'schoolTable');">School Name</a>
                <a id="t13" class="label label-default" href="javascript:void(0);" onclick="fnShowHide(13,'schoolTable');">School Code</a>
                <a id="t14" class="label label-default" href="javascript:void(0);" onclick="fnShowHide(14,'schoolTable');">Full Address</a>
                <a id="t15" class="label label-success" href="javascript:void(0);" onclick="fnShowHide(15,'schoolTable');">Contact Number</a>
                <a id="t16" class="label label-default" href="javascript:void(0);" onclick="fnShowHide(16,'schoolTable');">Head Teacher Name</a>
                <a id="t17" class="label label-default" href="javascript:void(0);" onclick="fnShowHide(17,'schoolTable');">No. of Students</a>
                <a id="t18" class="label label-default" href="javascript:void(0);" onclick="fnShowHide(18,'schoolTable');">Is Open Lab</a>
                <a id="t19" class="label label-default" href="javascript:void(0);" onclick="fnShowHide(19,'schoolTable');">Email</a>
                <a id="t20" class="label label-default" href="javascript:void(0);" onclick="fnShowHide(20,'schoolTable');">ModifiedBy</a>
                <a id="t21" class="label label-default" href="javascript:void(0);" onclick="fnShowHide(21,'schoolTable');">UploadedBy/CreatedBy</a>

            </div>
            <div id="schoolTableDiv" hidden="true">
                <table class="table" id="schoolTable">
                    <thead>
                        <tr id="head">
                            <th style="text-align: center;vertical-align: middle !important;" id="h1" class='nosort'><center><input class='chkboxDelAllSchoolForSchool' type="checkbox" id="chkboxSelectAllDelSchoolForSchool"></input></center></th>
                            <th id="h1" class='nosort'>#</th>
                            <th id="h2" class="nosort">State</th>
                            <th id="h3" class="nosort">Zone</th>
                            <th id="h4" class="nosort">District</th>
                            <th id="h5" class="nosort">Tehsil</th>
                            <th id="h6" class="nosort">City</th>
                            <th id="h7" class="nosort">Block</th>
                            <th id="h8" class="nosort">Village</th>
                            <th id="h9" class="nosort">Nearest Land Mark</th>
                            <th id="h10" class="nosort">Distance From Land Mark</th>
                            <th id="h11" class="nosort">School Type</th>
                            <th id="h12" class="nosort">School Location Type</th>
                            <th id="h13" class="nosort">School Name</th>
                            <th id="h14" class="nosort">School Code</th>
                            <th id="h15" class="nosort">Full Address</th>
                            <th id="h16" class="nosort">Contact Number</th>
                            <th id="h17" class="nosort">Head Teacher Name</th>
                            <th id="h18" class="nosort">No. of Students</th>
                            <th id="h19" class="nosort">Is OpenLab?</th>
                            <th id="h20" class="nosort">Email</th>
                            <th id="h21" class="nosort">ModifiedBy</th>
                            <th id="h22" class="nosort">UploadedBy/CreatedBy</th>
                            <th id="h23" class="nosort">&nbsp;&nbsp;Action&nbsp;&nbsp;</th>
                        </tr>

                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <br />
        </div>
    </div>
</div>